Repository Joystream/joystream, pull requests merged in 2020-06, with the labels that each got.

#512 Make PP and ToS routes work again
  pioneer/packages/apps-routing/src/index.ts
  pioneer/packages/apps-routing/src/joy-pages.ts
Labels: pioneer-v1

#517 Epoch/era bug fix
  pioneer/packages/app-explorer/src/SummarySession.tsx
Labels: pioneer-v1

#514 Pioneer: Fix for #511
  .github/workflows/pioneer-pr.yml
  pioneer/packages/joy-utils/src/react/context/transport.tsx
  pioneer/packages/joy-utils/src/react/hooks/useTransport.tsx
Labels: pioneer-v1

#508 Bureaucracy module. Add slashing to the stake operations.
  runtime-modules/bureaucracy/src/errors.rs
  runtime-modules/bureaucracy/src/lib.rs
  runtime-modules/bureaucracy/src/tests/fixtures.rs
  runtime-modules/bureaucracy/src/tests/mod.rs
Labels: bureaucracy

#490 Membership module refactoring
  Cargo.lock
  node/src/chain_spec.rs
  runtime-modules/content-working-group/Cargo.toml
  runtime-modules/content-working-group/src/lib.rs
  runtime-modules/content-working-group/src/mock.rs
  runtime-modules/content-working-group/src/tests.rs
  runtime-modules/governance/src/election.rs
  runtime-modules/governance/src/mock.rs
  runtime-modules/membership/Cargo.toml
  runtime-modules/membership/src/genesis.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/members.rs
  runtime-modules/membership/src/mock.rs
  runtime-modules/membership/src/role_types.rs
  runtime-modules/membership/src/tests.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/roles/Cargo.toml
  runtime-modules/roles/src/actors.rs
  runtime-modules/roles/src/lib.rs
  runtime-modules/roles/src/mock.rs
  runtime-modules/roles/src/role_types.rs
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/mock.rs
  runtime/src/integration/proposals/council_origin_validator.rs
  runtime/src/integration/proposals/membership_origin_validator.rs
  runtime/src/lib.rs
  runtime/src/test/proposals_integration.rs
Labels: membership, refactoring

#396 Content dir 2
  Cargo.lock
  Cargo.toml
  runtime-modules/content-directory/Cargo.toml
  runtime-modules/content-directory/src/errors.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/operations.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/tests.rs
Labels: content directory

#555 Media hotfix - ignore entities without schema (but add console.error)
  pioneer/packages/joy-media/src/transport.substrate.ts
  types/src/versioned-store/EntityCodec.ts
Labels: pioneer-v1

#530 Proposals discussion - initial implementation
  pioneer/packages/joy-proposals/src/Proposal/Body.tsx
  pioneer/packages/joy-proposals/src/Proposal/Details.tsx
  pioneer/packages/joy-proposals/src/Proposal/Proposal.css
  pioneer/packages/joy-proposals/src/Proposal/ProposalDetails.tsx
  pioneer/packages/joy-proposals/src/Proposal/Votes.tsx
  pioneer/packages/joy-proposals/src/Proposal/VotingSection.tsx
  pioneer/packages/joy-proposals/src/Proposal/discussion/DiscussionPost.tsx
  pioneer/packages/joy-proposals/src/Proposal/discussion/DiscussionPostForm.tsx
  pioneer/packages/joy-proposals/src/Proposal/discussion/ProposalDiscussion.tsx
  pioneer/packages/joy-utils/src/functions/misc.ts
  pioneer/packages/joy-utils/src/transport/base.ts
  pioneer/packages/joy-utils/src/transport/proposals.ts
  pioneer/packages/joy-utils/src/types/proposals.ts
  types/src/proposals.ts
Labels: pioneer-v1

#553 Introduce new features
  query-node/substrate-query-framework/cli/package.json
  query-node/substrate-query-framework/cli/src/helpers/ModelCodeGenerator.ts
  query-node/substrate-query-framework/cli/src/helpers/SchemaParser.ts
  query-node/substrate-query-framework/cli/src/helpers/constant.ts
  query-node/substrate-query-framework/cli/src/model/ScalarTypes.ts
  query-node/substrate-query-framework/cli/src/model/WarthogModel.ts
Labels: query-node

#551 Query node CLI build fix
  query-node/substrate-query-framework/cli/package.json
  query-node/substrate-query-framework/cli/tsconfig.json
Labels: query-node

#633 Query node api preview
  .gitignore
  query-node/substrate-query-framework/cli/src/commands/codegen.ts
  query-node/substrate-query-framework/cli/src/commands/db.ts
  query-node/substrate-query-framework/cli/src/commands/event.ts
  query-node/substrate-query-framework/cli/src/commands/generate.ts
  query-node/substrate-query-framework/cli/src/commands/indexer.ts
  query-node/substrate-query-framework/cli/src/commands/new.ts
  query-node/substrate-query-framework/cli/src/commands/typeorm.ts
  query-node/substrate-query-framework/cli/src/helpers/WarthogWrapper.ts
  query-node/substrate-query-framework/cli/src/helpers/schema.ts
  query-node/substrate-query-framework/index-builder/src/db/DatabaseManager.ts
Labels: query-node

#620 Reorder Pioneer sidebar tabs
  pioneer/packages/apps-routing/src/index.ts
Labels: pioneer-v1

#637 Increase font size of proposal description and properties values
  pioneer/packages/joy-proposals/src/Proposal/Body.tsx
Labels: pioneer-v1

#567 Storage working group runtime changes
  Cargo.lock
  runtime-modules/bureaucracy/src/lib.rs
  runtime-modules/bureaucracy/src/tests/fixtures.rs
  runtime-modules/bureaucracy/src/tests/mod.rs
  runtime-modules/common/Cargo.toml
  runtime-modules/common/src/lib.rs
  runtime-modules/common/src/origin_validator.rs
  runtime-modules/forum/Cargo.toml
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/service-discovery/Cargo.toml
  runtime-modules/service-discovery/src/discovery.rs
  runtime-modules/service-discovery/src/lib.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/service-discovery/src/tests.rs
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/data_object_storage_registry.rs
  runtime-modules/storage/src/data_object_type_registry.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests.rs
  runtime-modules/storage/src/tests/data_directory.rs
  runtime-modules/storage/src/tests/data_object_storage_registry.rs
  runtime-modules/storage/src/tests/data_object_type_registry.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime-modules/storage/src/traits.rs
  runtime/Cargo.toml
  runtime/src/integration/mod.rs
  runtime/src/integration/storage.rs
  runtime/src/lib.rs
  runtime/src/test/mod.rs
  runtime/src/tests/mod.rs
  runtime/src/tests/proposals_integration.rs
  runtime/src/tests/storage_integration.rs
Labels: nicaea, storage working group

#641 Query node merge fix
  query-node/joystream-query-node/schema.graphql
  query-node/substrate-query-framework/cli/.eslintrc.js
  query-node/substrate-query-framework/cli/package.json
  query-node/substrate-query-framework/cli/src/commands/codegen.ts
  query-node/substrate-query-framework/cli/src/helpers/ModelCodeGenerator.ts
  query-node/substrate-query-framework/cli/src/helpers/WarthogWrapper.ts
  query-node/substrate-query-framework/cli/src/helpers/db.ts
  query-node/substrate-query-framework/cli/src/helpers/formatter.ts
  query-node/substrate-query-framework/cli/src/index.ts
  query-node/substrate-query-framework/cli/src/utils/utils.ts
  query-node/substrate-query-framework/cli/test/commands/hello.test.ts
  query-node/substrate-query-framework/cli/test/helpers/FTSQueryGenerator.test.ts
  query-node/substrate-query-framework/cli/test/helpers/model.ts
  query-node/substrate-query-framework/cli/tsconfig.json
Labels: query-node

#643 Make proposals view take full screen width
  pioneer/packages/joy-proposals/src/Proposal/ProposalPreviewList.tsx
Labels: pioneer-v1

#627 Proposals view tweaks
  pioneer/packages/joy-proposals/src/Proposal/ProposalPreviewList.tsx
Labels: pioneer-v1

#710 Remove outdated "Storage" tab
  pioneer/packages/apps-routing/src/index.ts
  pioneer/packages/apps-routing/src/joy-storage.ts
  pioneer/packages/joy-storage/README.md
  pioneer/packages/joy-storage/package.json
  pioneer/packages/joy-storage/src/ActorsList/index.tsx
  pioneer/packages/joy-storage/src/AvailableRoles/index.tsx
  pioneer/packages/joy-storage/src/MyRequests/index.tsx
  pioneer/packages/joy-storage/src/index.css
  pioneer/packages/joy-storage/src/index.tsx
  pioneer/packages/joy-storage/src/props.ts
  pioneer/packages/joy-storage/src/translate.ts
  pioneer/tsconfig.json
Labels: nicaea, pioneer-v1

#549 Fix CLI data directory issue
  cli/package.json
  cli/src/base/AccountsCommandBase.ts
  cli/src/base/StateAwareCommandBase.ts
Labels: cli

#678 Change action tabs to buttons
  pioneer/packages/app-accounts/src/Overview.tsx
  pioneer/packages/app-accounts/src/Vanity/index.tsx
  pioneer/packages/app-accounts/src/index.tsx
  pioneer/packages/app-address-book/src/Overview.tsx
  pioneer/packages/app-address-book/src/index.tsx
  pioneer/packages/joy-election/src/SealedVotes.tsx
  pioneer/packages/joy-election/src/index.tsx
  pioneer/packages/joy-media/src/channels/EditChannel.tsx
  pioneer/packages/joy-media/src/index.css
  pioneer/packages/joy-media/src/index.tsx
  pioneer/packages/joy-members/src/index.tsx
  pioneer/packages/joy-proposals/src/Proposal/ProposalPreviewList.tsx
  pioneer/packages/joy-proposals/src/index.tsx
  pioneer/packages/react-components/src/CardGrid.tsx
  pioneer/packages/react-components/src/Collection.tsx
Labels: pioneer-v1

#711 Storage group overview
  pioneer/packages/joy-roles/src/elements.tsx
  pioneer/packages/joy-roles/src/index.sass
  pioneer/packages/joy-roles/src/tabs.stories.tsx
  pioneer/packages/joy-roles/src/tabs/WorkingGroup.controller.tsx
  pioneer/packages/joy-roles/src/tabs/WorkingGroup.sass
  pioneer/packages/joy-roles/src/tabs/WorkingGroup.stories.tsx
  pioneer/packages/joy-roles/src/tabs/WorkingGroup.tsx
  pioneer/packages/joy-roles/src/transport.mock.ts
  pioneer/packages/joy-roles/src/transport.substrate.ts
  pioneer/packages/joy-roles/src/transport.ts
Labels: nicaea, pioneer-v1

#722 Fix Pioneer and types - following buraucracy renaming and update to working-group module
  cli/src/Api.ts
  cli/src/Types.ts
  pioneer/packages/apps-routing/src/joy-roles.ts
  pioneer/packages/joy-media/src/DiscoveryProvider.tsx
  pioneer/packages/joy-media/src/Upload.tsx
  pioneer/packages/joy-media/src/common/MediaPlayerWithResolver.tsx
  pioneer/packages/joy-roles/src/elements.stories.tsx
  pioneer/packages/joy-roles/src/elements.tsx
  pioneer/packages/joy-roles/src/transport.substrate.ts
  types/src/content-working-group/index.ts
  types/src/index.ts
  types/src/media.ts
  types/src/roles.ts
  types/src/working-group/index.ts
Labels: nicaea, pioneer-v1, storage working group

#697 Membership schema
  query-node/joystream-query-node/bootstrap/members.ts
  query-node/joystream-query-node/mappings/index.ts
  query-node/joystream-query-node/mappings/members.ts
  query-node/joystream-query-node/schema.graphql
  query-node/substrate-query-framework/cli/src/helpers/db.ts
  query-node/substrate-query-framework/cli/src/templates/index-builder-entry.mst
  query-node/substrate-query-framework/index-builder/src/IndexBuilder.ts
  query-node/substrate-query-framework/index-builder/src/QueryBlockProducer.ts
  query-node/substrate-query-framework/index-builder/src/QueryEvent.ts
  query-node/substrate-query-framework/index-builder/src/QueryEventBlock.ts
  query-node/substrate-query-framework/index-builder/src/bootstrap/Bootstrapper.ts
  query-node/substrate-query-framework/index-builder/src/db/entities.ts
  query-node/substrate-query-framework/index-builder/src/db/helper.ts
Labels: query-node

#669 Megafix
  runtime-modules/content-directory/src/errors.rs
  runtime-modules/content-directory/src/helpers.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/schema.rs
Labels: content directory

#715 All events include reference counting delta sideffects
  runtime-modules/content-directory/src/helpers.rs
  runtime-modules/content-directory/src/lib.rs
Labels: content directory

#699 Pioneer forum improvements
  pioneer/packages/joy-forum/src/CategoryList.tsx
  pioneer/packages/joy-forum/src/EditReply.tsx
  pioneer/packages/joy-forum/src/ForumRoot.tsx
  pioneer/packages/joy-forum/src/LegacyPagingRedirect.tsx
  pioneer/packages/joy-forum/src/ViewReply.tsx
  pioneer/packages/joy-forum/src/ViewThread.tsx
  pioneer/packages/joy-forum/src/index.tsx
  pioneer/packages/joy-forum/src/utils.tsx
  pioneer/packages/joy-members/src/MemberPreview.tsx
  pioneer/packages/joy-utils/src/functions/date.ts
  pioneer/packages/react-components/src/styles/index.ts
  types/src/forum.ts
Labels: forum, pioneer-v1

#767 Deploy Forum Improvements
  pioneer/packages/joy-forum/src/CategoryList.tsx
  pioneer/packages/joy-forum/src/EditReply.tsx
  pioneer/packages/joy-forum/src/ForumRoot.tsx
  pioneer/packages/joy-forum/src/LegacyPagingRedirect.tsx
  pioneer/packages/joy-forum/src/ViewReply.tsx
  pioneer/packages/joy-forum/src/ViewThread.tsx
  pioneer/packages/joy-forum/src/index.tsx
  pioneer/packages/joy-forum/src/utils.tsx
  pioneer/packages/joy-members/src/MemberPreview.tsx
  pioneer/packages/joy-utils/src/functions/date.ts
  pioneer/packages/react-components/src/styles/index.ts
  types/src/forum.ts
Labels: pioneer-v1

#815 Testing: run test chain script fixed
  scripts/run-test-chain.sh
Labels: nicaea, tests

#785 @joystream/types: remove need for lib from import path
  cli/src/Api.ts
  cli/src/Types.ts
  cli/src/commands/council/info.ts
  tests/network-tests/src/constantinople/tests/impl/electingCouncil.ts
  tests/network-tests/src/constantinople/tests/proposals/impl/storageRoleParametersProposal.ts
  tests/network-tests/src/constantinople/utils/apiWrapper.ts
  tests/network-tests/src/constantinople/utils/utils.ts
  types/.gitignore
  types/.npmignore
  types/package.json
  types/tsconfig.json
  yarn.lock
Labels: nicaea

#533 Content directory: Extrinsics success cases coverage
  runtime-modules/content-directory/src/helpers.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/operations.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/tests.rs
  runtime-modules/content-directory/src/tests/add_class_schema.rs
  runtime-modules/content-directory/src/tests/add_curator_group.rs
  runtime-modules/content-directory/src/tests/add_curator_to_group.rs
  runtime-modules/content-directory/src/tests/add_entity_schema_support.rs
  runtime-modules/content-directory/src/tests/add_maintainer_to_class.rs
  runtime-modules/content-directory/src/tests/clear_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/create_class.rs
  runtime-modules/content-directory/src/tests/create_entity.rs
  runtime-modules/content-directory/src/tests/insert_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_curator_from_group.rs
  runtime-modules/content-directory/src/tests/remove_curator_group.rs
  runtime-modules/content-directory/src/tests/remove_entity.rs
  runtime-modules/content-directory/src/tests/remove_maintainer_from_class.rs
  runtime-modules/content-directory/src/tests/set_curator_group_status.rs
  runtime-modules/content-directory/src/tests/transaction.rs
  runtime-modules/content-directory/src/tests/transfer_entity_ownership.rs
  runtime-modules/content-directory/src/tests/update_class_permissions.rs
  runtime-modules/content-directory/src/tests/update_class_schema_status.rs
  runtime-modules/content-directory/src/tests/update_entity_creation_voucher.rs
  runtime-modules/content-directory/src/tests/update_entity_permissions.rs
  runtime-modules/content-directory/src/tests/update_entity_property_values.rs
Labels: content directory, tests

#728 Changes to the working group: make leader hireable.
  Cargo.lock
  runtime-modules/common/src/lib.rs
  runtime-modules/common/src/origin.rs
  runtime-modules/common/src/origin_validator.rs
  runtime-modules/hiring/src/hiring/staking_policy.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/recurring-reward/src/lib.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/tests/data_object_type_registry.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/src/errors.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/fixtures.rs
  runtime-modules/working-group/src/tests/hiring_workflow.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime-modules/working-group/src/tests/mod.rs
  runtime-modules/working-group/src/types.rs
  runtime/Cargo.toml
  runtime/src/integration/content_working_group.rs
  runtime/src/integration/mod.rs
  runtime/src/integration/proposals/council_origin_validator.rs
  runtime/src/integration/proposals/membership_origin_validator.rs
  runtime/src/integration/storage.rs
  runtime/src/integration/working_group.rs
  runtime/src/lib.rs
Labels: nicaea, working-group

#779 make all FTS selects in a single transaction
  query-node/substrate-query-framework/cli/src/templates/textsearch/service.ts.mst
Labels: query-node
