Repository Joystream/joystream, pull requests merged in 2020-10, with the labels that each got.

#1507 storage-node: remove initialization of old versioned store
  devops/vstore/classes.json
  devops/vstore/entities.json
  storage-node/README.md
  storage-node/packages/cli/src/cli.ts
  storage-node/packages/cli/src/commands/dev.ts
  storage-node/packages/runtime-api/package.json
Labels: run-network-tests

#1477 Add Animation To SearchBar, Add CancelButton, Add Keyboard Shortcuts
  atlas/src/components/LayoutWithRouting.tsx
  atlas/src/components/Navbar/Navbar.style.tsx
  atlas/src/components/Navbar/Navbar.tsx
  atlas/src/shared/components/Searchbar/Searchbar.style.tsx
  atlas/src/shared/components/Searchbar/Searchbar.tsx
Labels: atlas

#1478 add miragejs server typings, fix repeated results bug
  atlas/.eslintrc.js
  atlas/src/mocking/server/index.ts
  atlas/src/mocking/server/resolvers.ts
  atlas/src/types/mirage.d.ts
Labels: atlas

#1482 Make All Elements Clickable
  atlas/src/components/ChannelGallery.tsx
  atlas/src/components/ChannelPreviewWithNavigation.tsx
  atlas/src/components/VideoGallery.tsx
  atlas/src/components/VideoGrid.tsx
  atlas/src/components/VideoPreviewWithNavigation.tsx
  atlas/src/components/index.ts
  atlas/src/shared/components/ChannelAvatar/ChannelAvatar.tsx
  atlas/src/shared/components/InfiniteVideoGrid/InfiniteVideoGrid.tsx
  atlas/src/views/BrowseView.tsx
  atlas/src/views/VideoView/VideoView.style.tsx
  atlas/src/views/VideoView/VideoView.tsx
Labels: atlas

#1493 initial Orion functionality
  .eslintrc.js
  orion/.eslintrc.js
  orion/.gitignore
  orion/.huskyrc
  orion/.prettierrc.js
  orion/package.json
  orion/schema.graphql
  orion/src/entities/VideoInfo.ts
  orion/src/resolvers/videoInfos.ts
  orion/src/server.ts
  orion/tsconfig.json
  orion/yarn.lock
Labels: atlas

#1480 Add Placeholder animation
  atlas/src/shared/components/Placeholder/Placeholder.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.styles.tsx
Labels: atlas

#1508 Proposals update. Iteration 1. Delete obsolete code and add exact block execution.
  node/src/chain_spec/mod.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/proposal_types/mod.rs
  runtime-modules/proposals/codex/src/proposal_types/parameters.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/proposals/engine/src/tests/mod.rs
  runtime-modules/proposals/engine/src/types/mod.rs
  runtime/src/lib.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
Labels: proposal-system

#1490 Multiple working team pallet improvements.
  runtime-modules/working-team/src/checks.rs
  runtime-modules/working-team/src/errors.rs
  runtime-modules/working-team/src/lib.rs
  runtime-modules/working-team/src/tests/fixtures.rs
  runtime-modules/working-team/src/tests/hiring_workflow.rs
  runtime-modules/working-team/src/tests/mock.rs
  runtime-modules/working-team/src/tests/mod.rs
  runtime-modules/working-team/src/types.rs
Labels: working-group, working-team

#1533 testing init of new content directory in github workflow
  .github/workflows/run-network-tests.yml
Labels: run-network-tests

#1501 Basic Storage Node Integration Tests
  .dockerignore
  .github/workflows/run-network-tests.yml
  apps.Dockerfile
  docker-compose-with-storage.yml
  storage-node/packages/cli/src/cli.ts
  storage-node/packages/cli/src/commands/dev.ts
  storage-node/packages/cli/src/commands/upload.ts
  storage-node/packages/colossus/bin/cli.js
  storage-node/packages/colossus/lib/app.js
  storage-node/packages/colossus/lib/discovery.js
  storage-node/packages/colossus/lib/middleware/ipfs_proxy.js
  storage-node/packages/colossus/lib/sync.js
  storage-node/packages/colossus/paths/asset/v0/{id}.js
  storage-node/packages/colossus/paths/discover/v0/{id}.js
  storage-node/packages/discovery/discover.js
  storage-node/packages/discovery/example.js
  storage-node/packages/discovery/index.js
  storage-node/packages/discovery/publish.js
  storage-node/packages/helios/bin/cli.js
  storage-node/packages/runtime-api/index.js
  storage-node/packages/storage/storage.js
Labels: run-network-tests

#1544 Network-tests: runtime ugprade from alexandria
  .github/workflows/run-network-tests.yml
  package.json
  tests/network-tests/run-tests.sh
  utils/api-examples/src/get-code.ts
  utils/api-examples/src/tohex.ts
  utils/api-scripts/README.md
  utils/api-scripts/package.json
  utils/api-scripts/scripts/example.js
  utils/api-scripts/scripts/export-data-directory.js
  utils/api-scripts/scripts/index.js
  utils/api-scripts/scripts/inject-data-objects.js
  utils/api-scripts/scripts/list-data-directory.js
  utils/api-scripts/scripts/transfer.js
  utils/api-scripts/src/dev-set-runtime-code.ts
  utils/api-scripts/src/patched-ws-provider.ts
  utils/api-scripts/src/script.ts
  utils/api-scripts/src/status.ts
  utils/api-scripts/tsconfig.json
Labels: babylon-release, run-network-tests

#1543 Orion deployment improvements
  orion/.dockerignore
  orion/Dockerfile
  orion/docker-compose.yml
  orion/package.json
  orion/src/config.ts
  orion/src/server.ts
  orion/yarn.lock
Labels: atlas

#1542 Update class permissions extrinsic fix
  node/src/chain_spec/mod.rs
  runtime-modules/content-directory/src/class.rs
  runtime-modules/content-directory/src/entity.rs
  runtime-modules/content-directory/src/errors.rs
  runtime-modules/content-directory/src/helpers.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/permissions/class.rs
  runtime-modules/content-directory/src/permissions/curator_group.rs
  runtime-modules/content-directory/src/permissions/entity.rs
  runtime-modules/content-directory/src/schema/convert.rs
  runtime-modules/content-directory/src/schema/output.rs
  runtime-modules/content-directory/src/schema/property.rs
  runtime-modules/content-directory/src/tests.rs
  runtime-modules/content-directory/src/tests/add_class_schema.rs
  runtime-modules/content-directory/src/tests/add_schema_support_to_entity.rs
  runtime-modules/content-directory/src/tests/clear_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/create_entity.rs
  runtime-modules/content-directory/src/tests/insert_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_entity.rs
  runtime-modules/content-directory/src/tests/transaction.rs
  runtime-modules/content-directory/src/tests/transfer_entity_ownership.rs
  runtime-modules/content-directory/src/tests/update_class_permissions.rs
  runtime-modules/content-directory/src/tests/update_entity_creation_voucher.rs
  runtime-modules/content-directory/src/tests/update_entity_property_values.rs
Labels: babylon-release, bug, content directory, run-network-tests

#1549 mobile navbar improvements
  atlas/src/components/Navbar/Navbar.style.tsx
  atlas/src/components/Navbar/Navbar.tsx
  atlas/src/shared/components/Searchbar/Searchbar.style.tsx
  atlas/src/shared/components/Searchbar/Searchbar.tsx
Labels: atlas

#1558 network-tests: improve test runner
  .github/workflows/run-network-tests.yml
  tests/network-tests/run-tests.sh
  tests/network-tests/src/scenarios/content-directory.ts
Labels: babylon-release

#1535 Proposal new features and new constitution pallet.
  Cargo.lock
  Cargo.toml
  node/Cargo.toml
  node/src/chain_spec/mod.rs
  runtime-modules/constitution/Cargo.toml
  runtime-modules/constitution/src/lib.rs
  runtime-modules/constitution/src/tests/mocks.rs
  runtime-modules/constitution/src/tests/mod.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/proposal_types/mod.rs
  runtime-modules/proposals/codex/src/proposal_types/parameters.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/discussion/src/tests/mod.rs
  runtime-modules/proposals/discussion/src/types.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mod.rs
  runtime-modules/proposals/engine/src/types/mod.rs
  runtime-modules/proposals/engine/src/types/proposal_statuses.rs
  runtime/Cargo.toml
  runtime/src/integration/proposals/council_elected_handler.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/tests/proposals_integration/mod.rs
Labels: proposal-system

#1569 filter curated videos
  atlas/src/api/queries/videos.ts
Labels: atlas

#1459 Implement total stake in staking overview
  pioneer/packages/page-staking/src/Overview/Address/index.tsx
  pioneer/packages/page-staking/src/Overview/CurrentList.tsx
Labels: pioneer-v1

#1576 use real channel videos in video playback
  atlas/src/api/queries/__generated__/GetChannel.ts
  atlas/src/api/queries/__generated__/GetVideo.ts
  atlas/src/api/queries/videos.ts
  atlas/src/api/schemas/extendedQueryNode.graphql
  atlas/src/views/VideoView/VideoView.tsx
Labels: atlas

#1577 fix infinite grid scroll condition
  atlas/src/shared/components/InfiniteVideoGrid/InfiniteVideoGrid.tsx
Labels: atlas

#1607 remove_entity: Update reference counter of referenced entities after removal performed
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/tests/remove_entity.rs
Labels: babylon-release, bug, content directory

#1599 Add migration for the content working group.
  Cargo.lock
  node/Cargo.toml
  node/src/chain_spec/mod.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
Labels: babylon-release

#1608 add hotjar analytics
  atlas/public/index.html
  atlas/src/mocking/server/index.ts
  atlas/src/shared/components/Searchbar/Searchbar.tsx
Labels: atlas

#1611 remove videos header from channel view
  atlas/src/views/ChannelView/ChannelView.style.tsx
  atlas/src/views/ChannelView/ChannelView.tsx
Labels: atlas

#1620 always display navigation in the navbar
  atlas/src/components/Navbar/Navbar.style.tsx
  atlas/src/components/Navbar/Navbar.tsx
  atlas/src/config/routes.ts
Labels: atlas

#1554 Integrate Gliderjs
  atlas/package.json
  atlas/src/components/ChannelGallery.tsx
  atlas/src/components/VideoGallery.tsx
  atlas/src/shared/components/Carousel/Carousel.style.ts
  atlas/src/shared/components/Carousel/Carousel.tsx
  atlas/src/shared/components/Carousel/index.ts
  atlas/src/shared/components/ChannelPreview/ChannelPreviewBase.style.tsx
  atlas/src/shared/components/Gallery/Gallery.style.ts
  atlas/src/shared/components/Gallery/Gallery.tsx
  atlas/src/shared/stories/12-Carousel.stories.tsx
  atlas/yarn.lock
Labels: atlas, babylon-release
