Repository Joystream/joystream, pull requests merged in 2020-07, with the labels that each got.

#847 Propagate descriptions to GraphQL API & Unique constraint
  query-node/substrate-query-framework/cli/src/generate/ModelRenderer.ts
  query-node/substrate-query-framework/cli/src/generate/field-context.ts
  query-node/substrate-query-framework/cli/src/model/Field.ts
  query-node/substrate-query-framework/cli/src/model/WarthogModel.ts
  query-node/substrate-query-framework/cli/src/parse/WarthogModelBuilder.ts
  query-node/substrate-query-framework/cli/src/parse/constant.ts
  query-node/substrate-query-framework/cli/src/templates/entities/model.ts.mst
Labels: query-node

#754 Proposals for the working group management.
  Cargo.lock
  node/src/chain_spec.rs
  runtime-modules/common/Cargo.toml
  runtime-modules/common/src/lib.rs
  runtime-modules/common/src/origin.rs
  runtime-modules/common/src/working_group.rs
  runtime-modules/governance/src/election.rs
  runtime-modules/hiring/src/hiring/opening.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/proposal_types/mod.rs
  runtime-modules/proposals/codex/src/proposal_types/parameters.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/working-group/src/types.rs
  runtime/Cargo.toml
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
Labels: nicaea, proposal-system, working-group

#858 Fix ‘add_opening’ zero unstaking periods bug.
  runtime-modules/working-group/src/errors.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mod.rs
Labels: bug, nicaea, working-group

#746 Update storage node
  package.json
  storage-node/.gitignore
  storage-node/README.md
  storage-node/license_header.txt
  storage-node/package.json
  storage-node/packages/cli/README.md
  storage-node/packages/cli/bin/cli.js
  storage-node/packages/cli/bin/dev.js
  storage-node/packages/cli/package.json
  storage-node/packages/colossus/README.md
  storage-node/packages/colossus/bin/cli.js
  storage-node/packages/colossus/lib/app.js
  storage-node/packages/colossus/lib/discovery.js
  storage-node/packages/colossus/lib/sync.js
  storage-node/packages/colossus/package.json
  storage-node/packages/colossus/paths/asset/v0/{id}.js
  storage-node/packages/colossus/paths/discover/v0/{id}.js
  storage-node/packages/discovery/IpfsResolver.js
  storage-node/packages/discovery/JdsResolver.js
  storage-node/packages/discovery/README.md
  storage-node/packages/discovery/Resolver.js
  storage-node/packages/discovery/discover.js
  storage-node/packages/discovery/example.js
  storage-node/packages/discovery/package.json
  storage-node/packages/discovery/publish.js
  storage-node/packages/helios/README.md
  storage-node/packages/helios/bin/cli.js
  storage-node/packages/helios/package.json
  storage-node/packages/runtime-api/assets.js
  storage-node/packages/runtime-api/balances.js
  storage-node/packages/runtime-api/discovery.js
  storage-node/packages/runtime-api/identities.js
  storage-node/packages/runtime-api/index.js
  storage-node/packages/runtime-api/package.json
  storage-node/packages/runtime-api/roles.js
  storage-node/packages/runtime-api/test/assets.js
  storage-node/packages/runtime-api/test/balances.js
  storage-node/packages/runtime-api/test/identities.js
  storage-node/packages/runtime-api/test/index.js
  storage-node/packages/runtime-api/test/roles.js
  storage-node/packages/runtime-api/workers.js
  storage-node/packages/storage/README.md
  storage-node/packages/storage/package.json
  storage-node/packages/storage/storage.js
  storage-node/packages/storage/test/storage.js
  storage-node/packages/storage/test/template/bar
  storage-node/packages/storage/test/template/foo/baz
  storage-node/packages/storage/test/template/quux
  storage-node/packages/util/externalPromise.js
  storage-node/packages/util/package.json
  storage-node/packages/util/test/fs/resolve.js
  storage-node/packages/util/test/fs/walk.js
  storage-node/packages/util/test/lru.js
  storage-node/packages/util/test/pagination.js
  storage-node/packages/util/test/ranges.js
  storage-node/scripts/compose/devchain-and-ipfs-node/docker-compose.yaml
  storage-node/scripts/run-dev-instance.sh
  storage-node/scripts/stop-dev-instance.sh
  yarn.lock
Labels: colossus, nicaea, storage working group

#817 Content dir 2.0 tests: curator group related extrinsics full coverage
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/tests/add_curator_group.rs
  runtime-modules/content-directory/src/tests/add_curator_to_group.rs
  runtime-modules/content-directory/src/tests/remove_curator_from_group.rs
  runtime-modules/content-directory/src/tests/remove_curator_group.rs
  runtime-modules/content-directory/src/tests/set_curator_group_status.rs
Labels: content directory, tests

#841 Content_dir 2.0 tests: update_entity_creation_voucher & transaction extrinsics full test coverage
  runtime-modules/content-directory/src/tests/transaction.rs
  runtime-modules/content-directory/src/tests/update_entity_creation_voucher.rs
Labels: content directory, tests

#842 Content directory 2.0 tests: update_entity_permissions full coverage
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/tests/update_entity_permissions.rs
Labels: content directory, tests

#851 Fix zero stake bug in the hiring module.
  Cargo.lock
  runtime-modules/content-working-group/Cargo.toml
  runtime-modules/content-working-group/src/lib.rs
  runtime-modules/hiring/Cargo.toml
  runtime-modules/hiring/src/hiring/mod.rs
  runtime-modules/hiring/src/hiring/opening.rs
  runtime-modules/hiring/src/hiring/staking_policy.rs
  runtime-modules/hiring/src/lib.rs
  runtime-modules/hiring/src/test/public_api/add_opening.rs
  runtime-modules/working-group/Cargo.toml
  runtime-modules/working-group/src/errors.rs
  runtime-modules/working-group/src/tests/mod.rs
Labels: bug, hiring, nicaea, working-group

#869 Third @joystream/types update (Nicaea proposals)
  types/src/common.ts
  types/src/content-working-group/index.ts
  types/src/proposals.ts
  types/src/working-group/index.ts
Labels: nicaea, proposal-system

#859 remove_entity full test coverage
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/tests.rs
  runtime-modules/content-directory/src/tests/add_schema_support_to_entity.rs
  runtime-modules/content-directory/src/tests/create_entity.rs
  runtime-modules/content-directory/src/tests/remove_entity.rs
  runtime-modules/content-directory/src/tests/update_entity_creation_voucher.rs
Labels: content directory, tests

#848 update_entity_permissions full test coverage
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/tests/create_entity.rs
  runtime-modules/content-directory/src/tests/update_entity_creation_voucher.rs
Labels: content directory, tests

#707 Cli: Create working group commands related to openings and applications
  cli/package.json
  cli/src/Api.ts
  cli/src/Types.ts
  cli/src/base/AccountsCommandBase.ts
  cli/src/base/ApiCommandBase.ts
  cli/src/base/DefaultCommandBase.ts
  cli/src/base/WorkingGroupsCommandBase.ts
  cli/src/commands/api/inspect.ts
  cli/src/commands/working-groups/application.ts
  cli/src/commands/working-groups/createOpening.ts
  cli/src/commands/working-groups/fillOpening.ts
  cli/src/commands/working-groups/opening.ts
  cli/src/commands/working-groups/openings.ts
  cli/src/commands/working-groups/overview.ts
  cli/src/commands/working-groups/startAcceptingApplications.ts
  cli/src/commands/working-groups/startReviewPeriod.ts
  cli/src/commands/working-groups/terminateApplication.ts
  cli/src/helpers/display.ts
  pioneer/packages/joy-roles/src/mocks.ts
  pioneer/packages/joy-roles/src/tabs/Opportunities.stories.tsx
  pioneer/packages/joy-roles/src/transport.mock.ts
  types/src/JoyEnum.ts
  types/src/common.ts
  types/src/hiring/index.ts
Labels: CLI, nicaea

#742 Pioneer: Applying for storage working group opening and final "Working groups" tab issues
  pioneer/.eslintrc.js
  pioneer/packages/joy-roles/src/OpeningMetadata.ts
  pioneer/packages/joy-roles/src/elements.tsx
  pioneer/packages/joy-roles/src/flows/apply.controller.tsx
  pioneer/packages/joy-roles/src/flows/apply.elements.stories.tsx
  pioneer/packages/joy-roles/src/flows/apply.stories.tsx
  pioneer/packages/joy-roles/src/flows/apply.tsx
  pioneer/packages/joy-roles/src/index.tsx
  pioneer/packages/joy-roles/src/tabs/Admin.controller.tsx
  pioneer/packages/joy-roles/src/tabs/MyRoles.controller.tsx
  pioneer/packages/joy-roles/src/tabs/MyRoles.elements.stories.tsx
  pioneer/packages/joy-roles/src/tabs/MyRoles.tsx
  pioneer/packages/joy-roles/src/tabs/Opportunities.controller.tsx
  pioneer/packages/joy-roles/src/tabs/Opportunities.elements.stories.tsx
  pioneer/packages/joy-roles/src/tabs/Opportunities.stories.tsx
  pioneer/packages/joy-roles/src/tabs/Opportunities.tsx
  pioneer/packages/joy-roles/src/tabs/WorkingGroup.controller.tsx
  pioneer/packages/joy-roles/src/tabs/WorkingGroup.stories.tsx
  pioneer/packages/joy-roles/src/tabs/WorkingGroup.tsx
  pioneer/packages/joy-roles/src/transport.mock.ts
  pioneer/packages/joy-roles/src/transport.substrate.ts
  pioneer/packages/joy-roles/src/transport.ts
  pioneer/packages/joy-roles/src/working_groups.ts
  pioneer/packages/joy-utils/src/View.tsx
  pioneer/packages/react-components/src/AddressCard.tsx
  types/src/common.ts
  types/src/hiring/index.ts
  types/src/working-group/index.ts
Labels: nicaea, pioneer-v1

#764 Query node relations
  query-node/docs/entity-relationship.md
  query-node/substrate-query-framework/cli/src/generate/ModelRenderer.ts
  query-node/substrate-query-framework/cli/src/generate/RelationshipGenerator.ts
  query-node/substrate-query-framework/cli/src/generate/field-context.ts
  query-node/substrate-query-framework/cli/src/generate/utils.ts
  query-node/substrate-query-framework/cli/src/model/FTSQuery.ts
  query-node/substrate-query-framework/cli/src/model/Field.ts
  query-node/substrate-query-framework/cli/src/model/ObjectType.ts
  query-node/substrate-query-framework/cli/src/model/Relation.ts
  query-node/substrate-query-framework/cli/src/model/WarthogModel.ts
  query-node/substrate-query-framework/cli/src/model/index.ts
  query-node/substrate-query-framework/cli/src/parse/DerivedFromDirective.ts
  query-node/substrate-query-framework/cli/src/parse/WarthogModelBuilder.ts
  query-node/substrate-query-framework/cli/src/parse/constant.ts
  query-node/substrate-query-framework/cli/src/templates/entities/model.ts.mst
Labels: query-node

#900 Fix storage-node linter issues
  package.json
  storage-node/.eslintrc.js
  storage-node/.prettierrc
  storage-node/package.json
  storage-node/packages/cli/bin/cli.js
  storage-node/packages/cli/bin/dev.js
  storage-node/packages/cli/test/index.js
  storage-node/packages/colossus/bin/cli.js
  storage-node/packages/colossus/lib/app.js
  storage-node/packages/colossus/lib/discovery.js
  storage-node/packages/colossus/lib/middleware/file_uploads.js
  storage-node/packages/colossus/lib/middleware/validate_responses.js
  storage-node/packages/colossus/lib/sync.js
  storage-node/packages/colossus/paths/asset/v0/{id}.js
  storage-node/packages/colossus/paths/discover/v0/{id}.js
  storage-node/packages/colossus/test/index.js
  storage-node/packages/discovery/discover.js
  storage-node/packages/discovery/example.js
  storage-node/packages/discovery/index.js
  storage-node/packages/discovery/publish.js
  storage-node/packages/discovery/test/index.js
  storage-node/packages/helios/bin/cli.js
  storage-node/packages/helios/test/index.js
  storage-node/packages/runtime-api/assets.js
  storage-node/packages/runtime-api/balances.js
  storage-node/packages/runtime-api/discovery.js
  storage-node/packages/runtime-api/identities.js
  storage-node/packages/runtime-api/index.js
  storage-node/packages/runtime-api/test/assets.js
  storage-node/packages/runtime-api/test/balances.js
  storage-node/packages/runtime-api/test/identities.js
  storage-node/packages/runtime-api/test/index.js
  storage-node/packages/runtime-api/workers.js
  storage-node/packages/storage/filter.js
  storage-node/packages/storage/index.js
  storage-node/packages/storage/storage.js
  storage-node/packages/storage/test/storage.js
  storage-node/packages/util/externalPromise.js
  storage-node/packages/util/fs/resolve.js
  storage-node/packages/util/fs/walk.js
  storage-node/packages/util/lru.js
  storage-node/packages/util/pagination.js
  storage-node/packages/util/ranges.js
  storage-node/packages/util/stripEndingSlash.js
  storage-node/packages/util/test/fs/resolve.js
  storage-node/packages/util/test/fs/walk.js
  storage-node/packages/util/test/lru.js
  storage-node/packages/util/test/pagination.js
  storage-node/packages/util/test/ranges.js
  storage-node/packages/util/test/stripEndingSlash.js
  yarn.lock
Labels: colossus, nicaea

#938 Fix zero unstaking periods in the add_opening() parameters bug.
  Cargo.lock
  node/Cargo.toml
  runtime-modules/working-group/Cargo.toml
  runtime-modules/working-group/src/errors.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mod.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: bug, nicaea, working-group

#935 Restore storage-node CLI commands.
  package.json
  storage-node/.gitignore
  storage-node/package.json
  storage-node/packages/cli/.eslintignore
  storage-node/packages/cli/bin/cli.js
  storage-node/packages/cli/package.json
  storage-node/packages/cli/src/cli.ts
  storage-node/packages/cli/src/commands/base.ts
  storage-node/packages/cli/src/commands/dev.ts
  storage-node/packages/cli/src/commands/download.ts
  storage-node/packages/cli/src/commands/head.ts
  storage-node/packages/cli/src/commands/upload.ts
  storage-node/packages/cli/src/test/index.ts
  storage-node/packages/cli/tsconfig.json
  storage-node/packages/colossus/bin/cli.js
  storage-node/packages/colossus/lib/app.js
  storage-node/packages/colossus/lib/discovery.js
  storage-node/packages/colossus/lib/middleware/file_uploads.js
  storage-node/packages/colossus/lib/middleware/validate_responses.js
  storage-node/packages/colossus/lib/sync.js
  storage-node/packages/colossus/paths/asset/v0/{id}.js
  storage-node/packages/colossus/paths/discover/v0/{id}.js
  storage-node/packages/discovery/discover.js
  storage-node/packages/discovery/publish.js
  storage-node/packages/helios/bin/cli.js
  storage-node/packages/runtime-api/assets.js
  storage-node/packages/runtime-api/index.js
  storage-node/packages/runtime-api/system.js
  storage-node/packages/runtime-api/workers.js
  storage-node/packages/storage/package.json
  storage-node/packages/storage/storage.js
  storage-node/packages/storage/test/storage.js
  storage-node/packages/util/externalPromise.js
  storage-node/packages/util/fs/walk.js
  storage-node/packages/util/lru.js
  storage-node/packages/util/pagination.js
  storage-node/packages/util/ranges.js
  storage-node/packages/util/test/fs/resolve.js
  storage-node/packages/util/test/fs/walk.js
  storage-node/packages/util/test/lru.js
  storage-node/packages/util/test/pagination.js
  storage-node/packages/util/test/ranges.js
  storage-node/packages/util/test/stripEndingSlash.js
  storage-node/tsconfig.json
  yarn.lock
Labels: colossus, nicaea, tech-debt

#926 Query node cli fixes
  query-node/substrate-query-framework/cli/src/generate/ModelRenderer.ts
  query-node/substrate-query-framework/cli/src/generate/RelationshipGenerator.ts
  query-node/substrate-query-framework/cli/src/templates/entities/resolver.ts.mst
Labels: query-node

#933 Query node cli pack
  query-node/substrate-query-framework/cli/package.json
Labels: query-node

#947 Query node fts fixes
  query-node/substrate-query-framework/cli/src/generate/SourcesGenerator.ts
  query-node/substrate-query-framework/cli/src/templates/textsearch/service.ts.mst
Labels: query-node

#953 Migrate proposals default values.
  runtime/src/migration.rs
Labels: nicaea

#930 Working groups admin glitches
  pioneer/packages/joy-roles/src/index.tsx
  pioneer/packages/joy-roles/src/tabs/Admin.controller.tsx
Labels: nicaea, pioneer-v1

#960 My roles - add Worker ID
  pioneer/packages/joy-roles/src/tabs/MyRoles.tsx
Labels: pioneer-v1

#965 Fix set_lead_proposal_grace_period in the 'node' project.
  node/src/chain_spec.rs
Labels: bug, nicaea

#945 Pioneer: Remaining Nicaea proposals
  pioneer/packages/joy-proposals/src/Proposal/Body.tsx
  pioneer/packages/joy-proposals/src/Proposal/ChooseProposalType.tsx
  pioneer/packages/joy-proposals/src/Proposal/Details.tsx
  pioneer/packages/joy-proposals/src/Proposal/ProposalTypePreview.tsx
  pioneer/packages/joy-proposals/src/forms/AddWorkingGroupOpeningForm.tsx
  pioneer/packages/joy-proposals/src/forms/BeginReviewLeaderApplicationsForm.tsx
  pioneer/packages/joy-proposals/src/forms/DecreaseWorkingGroupLeadStakeForm.tsx
  pioneer/packages/joy-proposals/src/forms/EvictStorageProviderForm.tsx
  pioneer/packages/joy-proposals/src/forms/FillWorkingGroupLeaderOpeningForm.tsx
  pioneer/packages/joy-proposals/src/forms/FormFields.tsx
  pioneer/packages/joy-proposals/src/forms/GenericProposalForm.tsx
  pioneer/packages/joy-proposals/src/forms/GenericWorkingGroupProposalForm.tsx
  pioneer/packages/joy-proposals/src/forms/MintCapacityForm.tsx
  pioneer/packages/joy-proposals/src/forms/RuntimeUpgradeForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetContentWorkingGroupLeadForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetCouncilParamsForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetMaxValidatorCountForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetStorageRoleParamsForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetWorkingGroupLeadRewardForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetWorkingGroupMintCapacityForm.tsx
  pioneer/packages/joy-proposals/src/forms/SignalForm.tsx
  pioneer/packages/joy-proposals/src/forms/SlashWorkingGroupLeadStakeForm.tsx
  pioneer/packages/joy-proposals/src/forms/SpendingProposalForm.tsx
  pioneer/packages/joy-proposals/src/forms/TerminateWorkingGroupLeaderForm.tsx
  pioneer/packages/joy-proposals/src/forms/errorHandling.ts
  pioneer/packages/joy-proposals/src/forms/index.ts
  pioneer/packages/joy-proposals/src/index.tsx
  pioneer/packages/joy-proposals/src/stories/ProposalForms.stories.tsx
  pioneer/packages/joy-proposals/src/stories/data/ProposalTypesInfo.mock.ts
  pioneer/packages/joy-proposals/src/validationSchema.ts
  pioneer/packages/joy-roles/src/classifiers.ts
  pioneer/packages/joy-utils/src/MemberProfilePreview.tsx
  pioneer/packages/joy-utils/src/consts/proposals.ts
  pioneer/packages/joy-utils/src/consts/workingGroups.ts
  pioneer/packages/joy-utils/src/functions/format.ts
  pioneer/packages/joy-utils/src/react/components/working-groups/ApplicationDetails.tsx
  pioneer/packages/joy-utils/src/react/components/working-groups/LeadInfo.tsx
  pioneer/packages/joy-utils/src/react/hooks/usePromise.tsx
  pioneer/packages/joy-utils/src/transport/base.ts
  pioneer/packages/joy-utils/src/transport/proposals.ts
  pioneer/packages/joy-utils/src/transport/workingGroups.ts
  pioneer/packages/joy-utils/src/types/proposals.ts
  pioneer/packages/joy-utils/src/types/workingGroups.ts
  types/src/common.ts
  types/src/hiring/index.ts
  types/src/working-group/index.ts
Labels: nicaea, pioneer-v1, proposal-system

#884 Pioneer javascript playground inject joy types
  pioneer/packages/app-js/src/Playground.tsx
  pioneer/packages/joy-election/src/Applicant.tsx
  pioneer/packages/joy-election/src/ApplyForm.tsx
  pioneer/packages/joy-utils/src/index.ts
  types/src/council/index.ts
  types/src/index.ts
Labels: pioneer-v1

#962 Membership module refactoring.
  Cargo.lock
  node/src/chain_spec.rs
  runtime-modules/content-working-group/Cargo.toml
  runtime-modules/content-working-group/src/lib.rs
  runtime-modules/content-working-group/src/mock.rs
  runtime-modules/content-working-group/src/tests.rs
  runtime-modules/governance/src/election.rs
  runtime-modules/governance/src/mock.rs
  runtime-modules/hiring/src/mock.rs
  runtime-modules/membership/Cargo.toml
  runtime-modules/membership/src/genesis.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/members.rs
  runtime-modules/membership/src/mock.rs
  runtime-modules/membership/src/role_types.rs
  runtime-modules/membership/src/tests.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/recurring-reward/src/mock/mod.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/token-minting/src/mock.rs
  runtime-modules/working-group/src/errors.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/fixtures.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime/src/integration/content_working_group.rs
  runtime/src/integration/proposals/council_origin_validator.rs
  runtime/src/integration/proposals/membership_origin_validator.rs
  runtime/src/lib.rs
  runtime/src/tests/proposals_integration/mod.rs
Labels: membership-module, refactoring, tech-debt

#981 Update the proposals test
  Cargo.lock
  runtime-modules/hiring/Cargo.toml
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/engine/Cargo.toml
Labels: nicaea

#898 Content dir 2.0 tests: add_schema_support_to_entity extrinsic full coverage
  runtime-modules/content-directory/src/errors.rs
  runtime-modules/content-directory/src/helpers.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/tests.rs
  runtime-modules/content-directory/src/tests/add_class_schema.rs
  runtime-modules/content-directory/src/tests/add_schema_support_to_entity.rs
  runtime-modules/content-directory/src/tests/remove_entity.rs
  runtime-modules/content-directory/src/tests/transaction.rs
Labels: content directory, network-integration-test

#954 Query node indexer start options
  query-node/substrate-query-framework/cli/src/templates/index-builder-entry.mst
  query-node/substrate-query-framework/index-builder/src/IndexBuilder.ts
  query-node/substrate-query-framework/index-builder/src/QueryNode.ts
  query-node/substrate-query-framework/index-builder/src/QueryNodeManager.ts
  query-node/substrate-query-framework/index-builder/src/QueryNodeStartOptions.ts
  query-node/substrate-query-framework/index-builder/src/bootstrap/Bootstrapper.ts
  query-node/substrate-query-framework/index-builder/src/index.ts
Labels: query-node

#955 Fix linter errors
  query-node/substrate-query-framework/cli/src/generate/InterfacesRenderer.ts
  query-node/substrate-query-framework/cli/src/generate/ModelRenderer.ts
Labels: query-node

#956 New commands for query node CLI
  query-node/substrate-query-framework/cli/package.json
  query-node/substrate-query-framework/cli/src/commands/codegen.ts
  query-node/substrate-query-framework/cli/src/commands/preview.ts
  query-node/substrate-query-framework/cli/src/commands/scaffold.ts
  query-node/substrate-query-framework/cli/src/helpers/WarthogWrapper.ts
  query-node/substrate-query-framework/cli/src/helpers/db.ts
  query-node/substrate-query-framework/cli/src/templates/scaffold/.env
  query-node/substrate-query-framework/cli/src/templates/scaffold/schema.graphql
  query-node/substrate-query-framework/cli/src/templates/warthog.env.yml
  query-node/substrate-query-framework/cli/yarn.lock
Labels: query-node

#959 Qnode version bump
  query-node/substrate-query-framework/cli/package.json
  query-node/substrate-query-framework/cli/src/templates/indexer.package.json
Labels: query-node

#936 transfer_entity_ownership extrinsic refactoring & full test coverage
  runtime-modules/content-directory/src/errors.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/tests/add_class_schema.rs
  runtime-modules/content-directory/src/tests/add_schema_support_to_entity.rs
  runtime-modules/content-directory/src/tests/clear_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/create_entity.rs
  runtime-modules/content-directory/src/tests/insert_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_entity.rs
  runtime-modules/content-directory/src/tests/transaction.rs
  runtime-modules/content-directory/src/tests/transfer_entity_ownership.rs
  runtime-modules/content-directory/src/tests/update_class_schema_status.rs
  runtime-modules/content-directory/src/tests/update_entity_creation_voucher.rs
  runtime-modules/content-directory/src/tests/update_entity_property_values.rs
Labels: content directory, network-integration-test, refactoring

#974 Add algebraic types support for query nodes
  query-node/substrate-query-framework/cli/.eslintignore
  query-node/substrate-query-framework/cli/src/generate/ModelRenderer.ts
  query-node/substrate-query-framework/cli/src/generate/RelationshipGenerator.ts
  query-node/substrate-query-framework/cli/src/generate/SourcesGenerator.ts
  query-node/substrate-query-framework/cli/src/generate/VariantsRenderer.ts
  query-node/substrate-query-framework/cli/src/generate/field-context.ts
  query-node/substrate-query-framework/cli/src/generate/union-context.ts
  query-node/substrate-query-framework/cli/src/generate/utils.ts
  query-node/substrate-query-framework/cli/src/model/Field.ts
  query-node/substrate-query-framework/cli/src/model/ObjectType.ts
  query-node/substrate-query-framework/cli/src/model/WarthogModel.ts
  query-node/substrate-query-framework/cli/src/model/index.ts
  query-node/substrate-query-framework/cli/src/model/validate.ts
  query-node/substrate-query-framework/cli/src/parse/DerivedFromDirective.ts
  query-node/substrate-query-framework/cli/src/parse/SchemaParser.ts
  query-node/substrate-query-framework/cli/src/parse/WarthogModelBuilder.ts
  query-node/substrate-query-framework/cli/src/parse/constant.ts
  query-node/substrate-query-framework/cli/src/templates/entities/model.ts.mst
  query-node/substrate-query-framework/cli/src/templates/entities/service.ts.mst
  query-node/substrate-query-framework/cli/src/templates/variants/variants.mst
  query-node/substrate-query-framework/cli/test/helpers/ModelRenderer.test.ts
  query-node/substrate-query-framework/cli/test/helpers/SchemaParser.test.ts
  query-node/substrate-query-framework/cli/test/helpers/VariantsRenderer.test.ts
  query-node/substrate-query-framework/cli/test/helpers/WarthogModel.test.ts
  query-node/substrate-query-framework/cli/test/helpers/model.ts
Labels: query-node

#984 Query node scaffold docker
  query-node/substrate-query-framework/cli/src/commands/codegen.ts
  query-node/substrate-query-framework/cli/src/commands/scaffold.ts
  query-node/substrate-query-framework/cli/src/helpers/WarthogWrapper.ts
  query-node/substrate-query-framework/cli/src/helpers/db.ts
  query-node/substrate-query-framework/cli/src/templates/graphql-server.index.mst
  query-node/substrate-query-framework/cli/src/templates/index-builder-entry.mst
  query-node/substrate-query-framework/cli/src/templates/indexer.package.json
  query-node/substrate-query-framework/cli/src/templates/scaffold/.dockerignore
  query-node/substrate-query-framework/cli/src/templates/scaffold/.env
  query-node/substrate-query-framework/cli/src/templates/scaffold/docker-compose.yml
  query-node/substrate-query-framework/cli/src/templates/scaffold/docker/Dockerfile.indexer
  query-node/substrate-query-framework/cli/src/templates/scaffold/docker/Dockerfile.server
  query-node/substrate-query-framework/cli/src/templates/scaffold/mappings/index.ts
  query-node/substrate-query-framework/cli/src/templates/scaffold/mappings/treasury.ts
  query-node/substrate-query-framework/cli/src/templates/scaffold/package.json
  query-node/substrate-query-framework/cli/src/templates/scaffold/schema.graphql
  query-node/substrate-query-framework/cli/src/utils/utils.ts
Labels: query-node

#1022 Query node examples
  query-node/examples/kusama-query-node/.env
  query-node/examples/kusama-query-node/README.md
  query-node/examples/kusama-query-node/mappings/.DS_Store
  query-node/examples/kusama-query-node/mappings/index.ts
  query-node/examples/kusama-query-node/mappings/treasury/index.ts
  query-node/examples/kusama-query-node/mappings/treasury/proposal.ts
  query-node/examples/kusama-query-node/mappings/treasury/tip.ts
  query-node/examples/kusama-query-node/package.json
  query-node/examples/kusama-query-node/schema.graphql
Labels: query-node

#1027 Network tests: refactoring
  tests/network-tests/src/nicaea/dto/fillOpeningParameters.ts
  tests/network-tests/src/nicaea/dto/workingGroupOpening.ts
  tests/network-tests/src/nicaea/tests/proposals/impl/proposalsModule.ts
  tests/network-tests/src/nicaea/tests/proposals/impl/workingGroupMintCapacityProposal.ts
  tests/network-tests/src/nicaea/tests/workingGroup/impl/workingGroupModule.ts
  tests/network-tests/src/nicaea/utils/apiWrapper.ts
Labels: network-integration-test, refactoring

#1030 Ongoing fixes for the query node CLI
  query-node/substrate-query-framework/cli/src/templates/scaffold/docker-compose.yml
  query-node/substrate-query-framework/cli/src/templates/scaffold/package.json
Labels: query-node

#1037 Qnode remove entity generation
  query-node/substrate-query-framework/cli/src/commands/codegen.ts
  query-node/substrate-query-framework/cli/src/helpers/db.ts
  query-node/substrate-query-framework/cli/src/templates/dotenv-ormconfig.mst
  query-node/substrate-query-framework/cli/src/templates/index-builder-entry.mst
  query-node/substrate-query-framework/cli/src/templates/indexer.package.json
  query-node/substrate-query-framework/index-builder/src/db/entities.ts
Labels: query-node

#1038 Use bn.js for numeric types
  query-node/substrate-query-framework/cli/src/generate/field-context.ts
  query-node/substrate-query-framework/cli/src/templates/entities/model.ts.mst
Labels: query-node

#1060 Update mappings generated by the scaffolder
  query-node/substrate-query-framework/cli/src/commands/scaffold.ts
  query-node/substrate-query-framework/cli/src/templates/scaffold/mappings/index.ts
  query-node/substrate-query-framework/cli/src/templates/scaffold/mappings/proposal.ts
  query-node/substrate-query-framework/cli/src/templates/scaffold/mappings/treasury.ts
  query-node/substrate-query-framework/cli/src/templates/scaffold/schema.graphql
Labels: query-node

#1058 Prevent the block indexer from hanging after a websocket connection failure
  query-node/substrate-query-framework/cli/src/templates/index-builder-entry.mst
  query-node/substrate-query-framework/index-builder/src/IndexBuilder.ts
  query-node/substrate-query-framework/index-builder/src/QueryBlockProducer.ts
Labels: query-node

#967 Feature: Hash commitment property type
  runtime-modules/content-directory/src/errors.rs
  runtime-modules/content-directory/src/helpers.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/operations.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/schema/convert.rs
  runtime-modules/content-directory/src/schema/input.rs
  runtime-modules/content-directory/src/schema/output.rs
  runtime-modules/content-directory/src/tests.rs
  runtime-modules/content-directory/src/tests/add_schema_support_to_entity.rs
  runtime-modules/content-directory/src/tests/clear_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/insert_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/transfer_entity_ownership.rs
  runtime-modules/content-directory/src/tests/update_entity_property_values.rs
Labels: content directory, enhancement

#1026 Hash commitment test coverage & refactoring
  runtime-modules/content-directory/src/class.rs
  runtime-modules/content-directory/src/entity.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/permissions/class.rs
  runtime-modules/content-directory/src/permissions/curator_group.rs
  runtime-modules/content-directory/src/permissions/entity.rs
  runtime-modules/content-directory/src/permissions/entity_creation_voucher.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/tests.rs
  runtime-modules/content-directory/src/tests/add_class_schema.rs
  runtime-modules/content-directory/src/tests/add_schema_support_to_entity.rs
  runtime-modules/content-directory/src/tests/clear_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/create_entity.rs
  runtime-modules/content-directory/src/tests/insert_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/update_class_schema_status.rs
  runtime-modules/content-directory/src/tests/update_entity_property_values.rs
Labels: content directory, network-integration-test
