Repository Joystream/joystream, pull requests merged in 2020-05, with the labels that each got.

#387 Update proposals parameters and limits.
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/proposal_types/parameters.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime/src/lib.rs
  runtime/src/test/proposals_integration.rs
Labels: constantinople, proposals

#393 WIP: Discovery node
  .gitignore
  discovery_node/.env
  discovery_node/README.md
  discovery_node/docker-compose.yml
  discovery_node/es-mappings/content.json
  discovery_node/es-mappings/members.json
  discovery_node/substrate-ingest/.eslintignore
  discovery_node/substrate-ingest/.eslintrc
  discovery_node/substrate-ingest/README.MD
  discovery_node/substrate-ingest/config.yml
  discovery_node/substrate-ingest/node_modules/rxjs/src/internal/config.ts
  discovery_node/substrate-ingest/package-lock.json
  discovery_node/substrate-ingest/package.json
  discovery_node/substrate-ingest/src/Config.ts
  discovery_node/substrate-ingest/src/StateKeeper.ts
  discovery_node/substrate-ingest/src/esearch/ESUploader.ts
  discovery_node/substrate-ingest/src/index.ts
  discovery_node/substrate-ingest/src/joynode/ISubstrateQueryService.ts
  discovery_node/substrate-ingest/src/joynode/QueryBlockProducer.ts
  discovery_node/substrate-ingest/src/joynode/QueryEvent.ts
  discovery_node/substrate-ingest/src/joynode/QueryEventBlock.ts
  discovery_node/substrate-ingest/src/joynode/QueryNode.ts
  discovery_node/substrate-ingest/tsconfig.json
Labels: discovery-node

#284 Runtime: Migration module - migrations for constantinople
  node/src/chain_spec.rs
  runtime-modules/content-working-group/src/lib.rs
  runtime/src/lib.rs
  runtime/src/migration.rs
Labels: constantinople

#418 Query node
  query-node/joystream-query-node/README.md
  query-node/joystream-query-node/mappings/members.ts
  query-node/joystream-query-node/schema.graphql
  query-node/joystream-query-node/schema.json
  query-node/substrate-query-framework/cli/src/commands/codegen.ts
  query-node/substrate-query-framework/cli/src/helpers/ModelCodeGenerator.ts
  query-node/substrate-query-framework/cli/src/helpers/SchemaParser.ts
  query-node/substrate-query-framework/cli/src/helpers/WarthogWrapper.ts
  query-node/substrate-query-framework/cli/src/templates/graphql-server.index.mst
  query-node/substrate-query-framework/cli/src/templates/sync.mst
Labels: query-node

#275 Runtime: Council - recurring rewards
  Cargo.lock
  runtime-modules/governance/Cargo.toml
  runtime-modules/governance/src/council.rs
  runtime-modules/governance/src/mock.rs
  runtime/src/migration.rs
Labels: constantinople

#427 Fix Travis deploy scripts
  .travis.yml
Labels: constantinople

#434 Set runtime spec version to 13 and joystream-node binary version to v2.2.0
  Cargo.lock
  devops/dockerfiles/node-and-runtime/Dockerfile
  devops/dockerfiles/rust-builder/Dockerfile
  node/Cargo.toml
  runtime/Cargo.toml
  runtime/src/lib.rs
  scripts/compute-runtime-blob-hash.sh
Labels: constantinople

#450 Query node
  query-node/joystream-query-node/bootstrap/members.ts
  query-node/joystream-query-node/mappings/members.ts
  query-node/substrate-query-framework/cli/src/helpers/WarthogWrapper.ts
  query-node/substrate-query-framework/cli/src/templates/dotenv-ormconfig.mst
  query-node/substrate-query-framework/cli/src/templates/graphql-server.index.mst
  query-node/substrate-query-framework/cli/src/templates/index-builder-entry.mst
  query-node/substrate-query-framework/cli/src/templates/sync.mst
  query-node/substrate-query-framework/index-builder/src/IndexBuilder.ts
  query-node/substrate-query-framework/index-builder/src/QueryEventProcessingPack.ts
  query-node/substrate-query-framework/index-builder/src/bootstrap/BootstrapPack.ts
  query-node/substrate-query-framework/index-builder/src/bootstrap/Bootstrapper.ts
  query-node/substrate-query-framework/index-builder/src/db/DatabaseManager.ts
  query-node/substrate-query-framework/index-builder/src/db/db.ts
  query-node/substrate-query-framework/index-builder/src/db/index.ts
  query-node/substrate-query-framework/index-builder/src/index.ts
Labels: query-node

#441 Carousel component for Atlas.
  atlas/packages/components/src/components/Carousel/Carousel.style.ts
  atlas/packages/components/src/components/Carousel/Carousel.tsx
  atlas/packages/components/src/components/Carousel/index.ts
  atlas/packages/components/src/index.ts
  atlas/packages/components/stories/12-Carousel.stories.tsx
Labels: atlas

#437 Link component
  atlas/packages/components/src/components/Link/Link.style.ts
  atlas/packages/components/src/components/Link/Link.tsx
  atlas/packages/components/src/components/Link/index.ts
  atlas/packages/components/src/index.ts
  atlas/packages/components/stories/12-Link.stories.tsx
Labels: atlas

#435 Tabs component
  atlas/packages/components/src/components/Tabs/Tab.tsx
  atlas/packages/components/src/components/Tabs/Tabs.style.ts
  atlas/packages/components/src/components/Tabs/Tabs.tsx
  atlas/packages/components/src/components/Tabs/index.ts
  atlas/packages/components/src/index.ts
  atlas/packages/components/stories/11-Tabs.stories.tsx
Labels: atlas

#494 Joy-proposals - extract potentially reusable code into joy-utils
  pioneer/packages/joy-proposals/src/Proposal/Body.tsx
  pioneer/packages/joy-proposals/src/Proposal/ChooseProposalType.tsx
  pioneer/packages/joy-proposals/src/Proposal/Details.tsx
  pioneer/packages/joy-proposals/src/Proposal/Error.tsx
  pioneer/packages/joy-proposals/src/Proposal/Loading.tsx
  pioneer/packages/joy-proposals/src/Proposal/PromiseComponent.tsx
  pioneer/packages/joy-proposals/src/Proposal/ProposalDetails.tsx
  pioneer/packages/joy-proposals/src/Proposal/ProposalFromId.tsx
  pioneer/packages/joy-proposals/src/Proposal/ProposalPreview.tsx
  pioneer/packages/joy-proposals/src/Proposal/ProposalPreviewList.tsx
  pioneer/packages/joy-proposals/src/Proposal/ProposalTypePreview.tsx
  pioneer/packages/joy-proposals/src/Proposal/Votes.tsx
  pioneer/packages/joy-proposals/src/Proposal/VotingSection.tsx
  pioneer/packages/joy-proposals/src/forms/EvictStorageProviderForm.tsx
  pioneer/packages/joy-proposals/src/forms/GenericProposalForm.tsx
  pioneer/packages/joy-proposals/src/forms/MintCapacityForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetContentWorkingGroupLeadForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetContentWorkingGroupMintCapForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetCouncilParamsForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetMaxValidatorCountForm.tsx
  pioneer/packages/joy-proposals/src/forms/SetStorageRoleParamsForm.tsx
  pioneer/packages/joy-proposals/src/index.tsx
  pioneer/packages/joy-proposals/src/runtime/TransportContext.tsx
  pioneer/packages/joy-proposals/src/runtime/cache.ts
  pioneer/packages/joy-proposals/src/runtime/index.ts
  pioneer/packages/joy-proposals/src/runtime/transport.mock.ts
  pioneer/packages/joy-proposals/src/runtime/transport.substrate.ts
  pioneer/packages/joy-proposals/src/stories/data/ProposalDetails.mock.ts
  pioneer/packages/joy-proposals/src/stories/data/ProposalTypesInfo.mock.ts
  pioneer/packages/joy-proposals/src/utils.ts
  pioneer/packages/joy-utils/src/consts/members.ts
  pioneer/packages/joy-utils/src/consts/proposals.ts
  pioneer/packages/joy-utils/src/functions/misc.ts
  pioneer/packages/joy-utils/src/react/components/PromiseComponent.tsx
  pioneer/packages/joy-utils/src/react/components/index.tsx
  pioneer/packages/joy-utils/src/react/context/index.tsx
  pioneer/packages/joy-utils/src/react/context/transport.tsx
  pioneer/packages/joy-utils/src/react/hooks/index.tsx
  pioneer/packages/joy-utils/src/react/hooks/proposals/useProposalSubscription.tsx
  pioneer/packages/joy-utils/src/react/hooks/usePromise.tsx
  pioneer/packages/joy-utils/src/react/hooks/useTransport.tsx
  pioneer/packages/joy-utils/src/transport/base.ts
  pioneer/packages/joy-utils/src/transport/chain.ts
  pioneer/packages/joy-utils/src/transport/contentWorkingGroup.ts
  pioneer/packages/joy-utils/src/transport/council.ts
  pioneer/packages/joy-utils/src/transport/index.ts
  pioneer/packages/joy-utils/src/transport/members.ts
  pioneer/packages/joy-utils/src/transport/proposals.ts
  pioneer/packages/joy-utils/src/transport/storageProviders.ts
  pioneer/packages/joy-utils/src/transport/validators.ts
  pioneer/packages/joy-utils/src/types/members.ts
  pioneer/packages/joy-utils/src/types/proposals.ts
  pioneer/packages/joy-utils/src/types/storageProviders.ts
Labels: pioneer-v1

#491 Style reducers and Buttons.
  atlas/.eslintrc.js
  atlas/.prettierrc
  atlas/packages/components/assets/index.ts
  atlas/packages/components/package.json
  atlas/packages/components/src/components/Button/Button.style.ts
  atlas/packages/components/src/components/Button/Button.tsx
  atlas/packages/components/src/components/Button/index.ts
  atlas/packages/components/src/theme/fragments.ts
  atlas/packages/components/src/theme/index.ts
  atlas/packages/components/src/utils/helpers.ts
  atlas/packages/components/src/utils/index.ts
  atlas/packages/components/src/utils/style-reducer.ts
  atlas/packages/components/stories/01-Button.stories.tsx
  atlas/packages/components/tsconfig.json
  atlas/yarn.lock
Labels: atlas
