Repository Joystream/joystream, pull requests merged in 2020-12, with the labels that each got.

#1837 Merge Olympia branch into the working-group pallet.
  Cargo.lock
  Cargo.toml
  node/src/chain_spec/content_config.rs
  node/src/chain_spec/forum_config.rs
  node/src/chain_spec/mod.rs
  runtime-modules/common/src/working_group.rs
  runtime-modules/content-working-group/Cargo.toml
  runtime-modules/content-working-group/src/genesis.rs
  runtime-modules/content-working-group/src/lib.rs
  runtime-modules/content-working-group/src/mock.rs
  runtime-modules/content-working-group/src/tests.rs
  runtime-modules/forum/Cargo.toml
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/forum/src/tests.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/Cargo.toml
  runtime-modules/proposals/discussion/src/benchmarking.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/Cargo.toml
  runtime-modules/proposals/engine/src/benchmarking.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/proposals/engine/src/tests/mod.rs
  runtime-modules/versioned-store-permissions/Cargo.toml
  runtime-modules/versioned-store-permissions/src/constraint.rs
  runtime-modules/versioned-store-permissions/src/credentials.rs
  runtime-modules/versioned-store-permissions/src/lib.rs
  runtime-modules/versioned-store-permissions/src/mock.rs
  runtime-modules/versioned-store-permissions/src/operations.rs
  runtime-modules/versioned-store-permissions/src/permissions.rs
  runtime-modules/versioned-store-permissions/src/tests.rs
  runtime-modules/versioned-store/Cargo.toml
  runtime-modules/versioned-store/src/example.rs
  runtime-modules/versioned-store/src/lib.rs
  runtime-modules/versioned-store/src/mock.rs
  runtime-modules/versioned-store/src/tests.rs
  runtime/Cargo.toml
  runtime/src/integration/content_working_group.rs
  runtime/src/integration/forum.rs
  runtime/src/integration/mod.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/integration/versioned_store_permissions.rs
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/proposals_discussion.rs
  runtime/src/weights/proposals_engine.rs
  scripts/generate-weights.sh
  utils/chain-spec-builder/src/main.rs
Labels: olympia

#1830 Query node featured videos
  query-node/mappings/content-directory/content-dir-consts.ts
  query-node/mappings/content-directory/entity/create.ts
  query-node/mappings/content-directory/entity/index.ts
  query-node/mappings/content-directory/entity/remove.ts
  query-node/mappings/content-directory/entity/update.ts
  query-node/mappings/content-directory/get-or-create.ts
  query-node/mappings/content-directory/transaction.ts
  query-node/mappings/types.ts
  query-node/schema.graphql
Labels: babylon-release, query-node

#1844 forum_config: fix data_migration_done encoded representation
  node/src/chain_spec/forum_config.rs
Labels: forum, olympia

#1838 Working team pallet integration with Olympia.
  Cargo.lock
  Cargo.toml
  _Cargo.lock
  node/src/chain_spec/mod.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/staking_handler.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/proposal_types/mod.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mock/staking_handler.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/engine/Cargo.toml
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/proposals/engine/src/tests/mock/staking_handler.rs
  runtime-modules/service-discovery/Cargo.toml
  runtime-modules/service-discovery/src/lib.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/staking-handler/Cargo.toml
  runtime-modules/staking-handler/src/lib.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/staking-handler/src/test.rs
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/data_object_storage_registry.rs
  runtime-modules/storage/src/data_object_type_registry.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/data_object_type_registry.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/Cargo.toml
  runtime-modules/working-group/src/benchmarking.rs
  runtime-modules/working-group/src/checks.rs
  runtime-modules/working-group/src/errors.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/fixtures.rs
  runtime-modules/working-group/src/tests/hiring_workflow.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime-modules/working-group/src/tests/mod.rs
  runtime-modules/working-group/src/types.rs
  runtime/Cargo.toml
  runtime/src/integration/content_directory.rs
  runtime/src/integration/mod.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/integration/working_group.rs
  runtime/src/lib.rs
  runtime/src/proposals_configuration/defaults.rs
  runtime/src/proposals_configuration/mod.rs
  runtime/src/proposals_configuration/sample_proposal_parameters.json
  runtime/src/runtime_api.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
  runtime/src/tests/storage_integration.rs
Labels: olympia

#1846 Contitution pallet benchmarks and weights.
  Cargo.lock
  runtime-modules/constitution/Cargo.toml
  runtime-modules/constitution/src/benchmarking.rs
  runtime-modules/constitution/src/lib.rs
  runtime-modules/constitution/src/tests/mocks.rs
  runtime-modules/constitution/src/tests/mod.rs
  runtime/Cargo.toml
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_constitution.rs
  scripts/generate-weights.sh
Labels: olympia

#1855 Drop obsolete membership code.
  node/src/chain_spec/mod.rs
  runtime-modules/governance/src/mock.rs
  runtime-modules/membership/src/genesis.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/mock.rs
  runtime-modules/membership/src/tests.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/staking-handler/src/lib.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/src/tests/fixtures.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime/src/integration/proposals/council_origin_validator.rs
  runtime/src/integration/proposals/membership_origin_validator.rs
  runtime/src/lib.rs
  runtime/src/tests/mod.rs
  runtime/src/tests/proposals_integration/mod.rs
Labels: membership-module, olympia

#1825 Query node transaction failed event
  query-node/mappings/content-directory/decode.ts
  query-node/mappings/content-directory/mapping.ts
  query-node/mappings/content-directory/transaction.ts
Labels: babylon-release, query-node

#1847 Query node add attribution field to License entity
  query-node/mappings/content-directory/content-dir-consts.ts
  query-node/mappings/content-directory/entity/create.ts
  query-node/mappings/content-directory/entity/remove.ts
  query-node/mappings/content-directory/entity/update.ts
  query-node/mappings/content-directory/get-or-create.ts
  query-node/mappings/types.ts
  query-node/schema.graphql
Labels: babylon-release, query-node

#1870 Drop obsolete pallets and fix tests.
  Cargo.lock
  Cargo.toml
  runtime-modules/hiring/Cargo.toml
  runtime-modules/hiring/src/hiring/application.rs
  runtime-modules/hiring/src/hiring/mod.rs
  runtime-modules/hiring/src/hiring/opening.rs
  runtime-modules/hiring/src/hiring/staking_policy.rs
  runtime-modules/hiring/src/lib.rs
  runtime-modules/hiring/src/macroes.rs
  runtime-modules/hiring/src/mock.rs
  runtime-modules/hiring/src/test/mod.rs
  runtime-modules/hiring/src/test/public_api/add_application.rs
  runtime-modules/hiring/src/test/public_api/add_opening.rs
  runtime-modules/hiring/src/test/public_api/begin_accepting_applications.rs
  runtime-modules/hiring/src/test/public_api/begin_review.rs
  runtime-modules/hiring/src/test/public_api/cancel_opening.rs
  runtime-modules/hiring/src/test/public_api/deactivate_application.rs
  runtime-modules/hiring/src/test/public_api/ensure_can_add_application.rs
  runtime-modules/hiring/src/test/public_api/fill_opening.rs
  runtime-modules/hiring/src/test/public_api/mod.rs
  runtime-modules/hiring/src/test/public_api/on_finalize.rs
  runtime-modules/hiring/src/test/public_api/unstaked.rs
  runtime-modules/hiring/src/test/smoke.rs
  runtime-modules/hiring/src/test/staking_module/get_opt_stake_amount.rs
  runtime-modules/hiring/src/test/staking_module/infallible_stake_initiation_on_application.rs
  runtime-modules/hiring/src/test/staking_module/initiate_application_deactivations.rs
  runtime-modules/hiring/src/test/staking_module/mod.rs
  runtime-modules/hiring/src/test/staking_module/opt_infallible_unstake.rs
  runtime-modules/hiring/src/test/staking_module/try_to_initiate_application_deactivation.rs
  runtime-modules/hiring/src/test/staking_module/would_application_get_added.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/service-discovery/Cargo.toml
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/stake/Cargo.toml
  runtime-modules/stake/src/errors.rs
  runtime-modules/stake/src/lib.rs
  runtime-modules/stake/src/macroes.rs
  runtime-modules/stake/src/mock.rs
  runtime-modules/stake/src/tests.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/tests/mod.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
Labels: olympia

#1863 Forum v2: Fix overflow risk in update_category_membership_of_moderator extrinsic
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/forum/src/tests.rs
Labels: forum, olympia

#1874 Remove old proposal parameters.
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime/src/lib.rs
  runtime/src/proposals_configuration/defaults.rs
  runtime/src/proposals_configuration/mod.rs
  runtime/src/proposals_configuration/sample_proposal_parameters.json
Labels: olympia

#1887 Babylon content dir changes
  content-directory-schemas/inputs/classes/ChannelClass.json
  content-directory-schemas/inputs/classes/ContentCategoryClass.json
  content-directory-schemas/inputs/classes/FeaturedVideoClass.json
  content-directory-schemas/inputs/classes/HttpMediaLocationClass.json
  content-directory-schemas/inputs/classes/JoystreamMediaLocationClass.json
  content-directory-schemas/inputs/classes/KnownLicenseClass.json
  content-directory-schemas/inputs/classes/LanguageClass.json
  content-directory-schemas/inputs/classes/LicenseClass.json
  content-directory-schemas/inputs/classes/MediaLocationClass.json
  content-directory-schemas/inputs/classes/UserDefinedLicenseClass.json
  content-directory-schemas/inputs/classes/VideoClass.json
  content-directory-schemas/inputs/classes/VideoMediaClass.json
  content-directory-schemas/inputs/entityBatches/KnownLicenseBatch.json
  runtime/src/lib.rs
Labels: babylon-release, content directory

#1883 Add membership working group.
  Cargo.lock
  runtime-modules/common/Cargo.toml
  runtime-modules/common/src/lib.rs
  runtime-modules/common/src/working_group.rs
  runtime-modules/governance/src/mock.rs
  runtime-modules/membership/Cargo.toml
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/mock.rs
  runtime-modules/membership/src/tests.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/Cargo.toml
  runtime-modules/proposals/discussion/src/benchmarking.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/Cargo.toml
  runtime-modules/proposals/engine/src/benchmarking.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/proposals/engine/src/types/mod.rs
  runtime-modules/service-discovery/Cargo.toml
  runtime-modules/service-discovery/src/lib.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/staking-handler/Cargo.toml
  runtime-modules/staking-handler/src/lib.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/staking-handler/src/test.rs
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/Cargo.toml
  runtime-modules/working-group/src/checks.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/fixtures.rs
  runtime-modules/working-group/src/tests/hiring_workflow.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime-modules/working-group/src/tests/mod.rs
  runtime-modules/working-group/src/types.rs
  runtime/Cargo.toml
  runtime/src/integration/proposals/council_origin_validator.rs
  runtime/src/integration/proposals/membership_origin_validator.rs
  runtime/src/integration/proposals/mod.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
  utils/chain-spec-builder/Cargo.toml
Labels: membership-module, olympia

#1897 Forum_v2 create_thread clean up: fix double lookup ensure_category_is_mutable
  runtime-modules/forum/src/lib.rs
Labels: forum, olympia

#1836 Proposals staking check fix.
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mod.rs
Labels: olympia

#1893 Add verified status for Membership.
  runtime-modules/common/src/working_group.rs
  runtime-modules/governance/src/mock.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/fixtures.rs
  runtime-modules/membership/src/tests/mock.rs
  runtime-modules/membership/src/tests/mod.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/src/lib.rs
  runtime/src/lib.rs
Labels: membership-module, olympia

#1909 Modify Membership module.
  node/src/chain_spec/initial_members.rs
  node/src/chain_spec/mod.rs
  runtime-modules/membership/src/genesis.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/fixtures.rs
  runtime-modules/membership/src/tests/mock.rs
  runtime-modules/membership/src/tests/mod.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/discussion/src/benchmarking.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/engine/src/benchmarking.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/src/benchmarking.rs
  runtime/src/tests/mod.rs
Labels: membership-module, olympia

#1931 Add invites to membership module.
  runtime-modules/common/src/working_group.rs
  runtime-modules/governance/src/mock.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/fixtures.rs
  runtime-modules/membership/src/tests/mock.rs
  runtime-modules/membership/src/tests/mod.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime/src/lib.rs
  runtime/src/tests/mod.rs
Labels: membership-module, olympia

#1912 createEntity and updateEntityPropertyValues CLI commands
  cli/README.md
  cli/src/base/ContentDirectoryCommandBase.ts
  cli/src/base/MediaCommandBase.ts
  cli/src/commands/content-directory/createEntity.ts
  cli/src/commands/content-directory/removeEntity.ts
  cli/src/commands/content-directory/updateEntityPropertyValues.ts
  cli/src/commands/media/featuredVideos.ts
  cli/src/commands/media/removeChannel.ts
  cli/src/commands/media/removeVideo.ts
  cli/src/commands/media/updateChannel.ts
  cli/src/commands/media/updateVideo.ts
  cli/src/commands/media/updateVideoLicense.ts
Labels: CLI, babylon-release

#1953 Add staking accounts to the membership pallet.
  Cargo.lock
  runtime-modules/common/src/lib.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/fixtures.rs
  runtime-modules/membership/src/tests/mock.rs
  runtime-modules/membership/src/tests/mod.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/staking-handler/Cargo.toml
  runtime-modules/staking-handler/src/lib.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/staking-handler/src/test.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime/src/lib.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
Labels: membership-module, olympia

#1955 Remove storage fields from the membership pallet.
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/fixtures.rs
  runtime-modules/membership/src/tests/mod.rs
  runtime-modules/proposals/discussion/src/benchmarking.rs
  runtime-modules/proposals/engine/src/benchmarking.rs
  runtime-modules/working-group/src/benchmarking.rs
Labels: membership-module

#1960 Query node bugfix: load entity relations for MediaLocationEntity
  query-node/mappings/content-directory/get-or-create.ts
Labels: bug, query-node
