Repository Joystream/joystream, pull requests merged in 2020-08, with the labels that each got.

#1035 Wrong uniqueness feature implementation removal
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/tests/add_schema_support_to_entity.rs
  runtime-modules/content-directory/src/tests/insert_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/transfer_entity_ownership.rs
  runtime-modules/content-directory/src/tests/update_entity_property_values.rs
Labels: content directory

#1090 cleanup mock data
  atlas/packages/app/package.json
  atlas/packages/app/src/components/ChannelGallery.tsx
  atlas/packages/app/src/components/VideoGallery.tsx
  atlas/packages/app/src/config/mockData.ts
  atlas/packages/app/src/config/mocks/index.ts
  atlas/packages/app/src/config/mocks/mockChannels.ts
  atlas/packages/app/src/config/mocks/mockImages.ts
  atlas/packages/app/src/config/mocks/mockVideos.ts
  atlas/packages/app/src/shared/components/ChannelPreview/ChannelPreview.style.tsx
  atlas/packages/app/src/shared/components/ChannelPreview/ChannelPreview.tsx
  atlas/packages/app/src/shared/components/VideoPreview/VideoPreview.styles.tsx
  atlas/packages/app/src/shared/components/VideoPreview/VideoPreview.tsx
  atlas/packages/app/src/shared/theme/fragments.ts
  atlas/packages/app/src/shared/theme/index.ts
  atlas/packages/app/src/shared/theme/sizes.ts
  atlas/packages/app/src/shared/theme/spacing.ts
  atlas/packages/app/src/types/channel.ts
  atlas/packages/app/src/types/video.ts
  atlas/packages/app/src/types/videoMedia.ts
  atlas/packages/app/src/utils/number.ts
  atlas/packages/app/src/utils/time.ts
  atlas/packages/app/src/views/HomeView.tsx
  atlas/packages/app/src/views/VideoView/VideoView.tsx
  atlas/packages/app/tsconfig.json
  atlas/yarn.lock
Labels: atlas

#1108 Make Hero Font Size Fluid
  atlas/packages/app/src/components/Hero.tsx
Labels: atlas

#1091 Network testing: refactoring to remove custom dto objects
  tests/network-tests/package.json
  tests/network-tests/src/iznik/tap-parallel-not-ok
  tests/network-tests/src/iznik/tests/council/electingCouncilTest.ts
  tests/network-tests/src/iznik/tests/fixtures/councilElectionModule.ts
  tests/network-tests/src/iznik/tests/fixtures/interfaces/fixture.ts
  tests/network-tests/src/iznik/tests/fixtures/membershipModule.ts
  tests/network-tests/src/iznik/tests/fixtures/proposalsModule.ts
  tests/network-tests/src/iznik/tests/fixtures/workingGroupModule.ts
  tests/network-tests/src/iznik/tests/membership/membershipCreationTest.ts
  tests/network-tests/src/iznik/tests/proposals/contentWorkingGroupMintCapacityProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/electionParametersProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/manageLeaderRoleTest.ts
  tests/network-tests/src/iznik/tests/proposals/setLeadProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/spendingProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/textProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/updateRuntime.ts
  tests/network-tests/src/iznik/tests/proposals/validatorCountProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/workingGroupMintCapacityProposalTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/atLeastValueBugTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/manageWorkerAsLeadTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/manageWorkerAsWorkerTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/workerApplicationHappyCaseTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/workerApplicationRejectionCaseTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/workerPayoutTest.ts
  tests/network-tests/src/iznik/utils/apiWrapper.ts
  tests/network-tests/src/iznik/utils/closeApi.ts
  tests/network-tests/src/iznik/utils/config.ts
  tests/network-tests/src/iznik/utils/sender.ts
  tests/network-tests/src/iznik/utils/setTestTimeout.ts
  tests/network-tests/src/iznik/utils/utils.ts
  types/src/working-group/index.ts
Labels: alexandria-release, network-integration-test, refactoring

#1125 Network testing: explicit id types refactoring
  tests/network-tests/src/iznik/tests/council/electingCouncilTest.ts
  tests/network-tests/src/iznik/tests/fixtures/membershipModule.ts
  tests/network-tests/src/iznik/tests/fixtures/proposalsModule.ts
  tests/network-tests/src/iznik/tests/fixtures/workingGroupModule.ts
  tests/network-tests/src/iznik/tests/membership/membershipCreationTest.ts
  tests/network-tests/src/iznik/tests/proposals/contentWorkingGroupMintCapacityProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/electionParametersProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/manageLeaderRoleTest.ts
  tests/network-tests/src/iznik/tests/proposals/setLeadProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/spendingProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/textProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/updateRuntime.ts
  tests/network-tests/src/iznik/tests/proposals/validatorCountProposalTest.ts
  tests/network-tests/src/iznik/tests/proposals/workingGroupMintCapacityProposalTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/atLeastValueBugTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/manageWorkerAsLeadTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/manageWorkerAsWorkerTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/workerApplicationHappyCaseTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/workerApplicationRejectionCaseTest.ts
  tests/network-tests/src/iznik/tests/workingGroup/workerPayoutTest.ts
  tests/network-tests/src/iznik/utils/apiWrapper.ts
  yarn.lock
Labels: alexandria-release, network-integration-test, refactoring

#1126 Migrate the node project.
  Cargo.lock
  Cargo.toml
  node/Cargo.toml
  node/bin/main.rs
  node/src/chain_spec.rs
  node/src/cli.rs
  node/src/command.rs
  node/src/lib.rs
  node/src/members_config.rs
  node/src/node_executor.rs
  node/src/node_rpc.rs
  node/src/service.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/working-group/src/lib.rs
  runtime/Cargo.toml
  runtime/src/constants.rs
  runtime/src/integration/mod.rs
  runtime/src/integration/transactions.rs
  runtime/src/lib.rs
  runtime/src/migration.rs
  runtime/src/primitives.rs
  runtime/src/runtime_api.rs
Labels: alexandria-release, runtime

#1144 TypeOrm transform for BigInt field
  query-node/substrate-query-framework/cli/src/generate/field-context.ts
  query-node/substrate-query-framework/cli/src/templates/entities/model.ts.mst
  query-node/substrate-query-framework/cli/test/helpers/ModelRenderer.test.ts
Labels: query-node

#1142 Rework the Hydra Indexer block producing design to asyn generators + linting
  query-node/substrate-query-framework/index-builder/.eslintignore
  query-node/substrate-query-framework/index-builder/.eslintrc.js
  query-node/substrate-query-framework/index-builder/.gitignore
  query-node/substrate-query-framework/index-builder/package.json
  query-node/substrate-query-framework/index-builder/src/IndexBuilder.ts
  query-node/substrate-query-framework/index-builder/src/QueryBlockProducer.ts
  query-node/substrate-query-framework/index-builder/src/QueryEvent.ts
  query-node/substrate-query-framework/index-builder/src/QueryNode.ts
  query-node/substrate-query-framework/index-builder/src/QueryNodeManager.ts
  query-node/substrate-query-framework/index-builder/src/QueryService.ts
  query-node/substrate-query-framework/index-builder/src/bootstrap/Bootstrapper.ts
  query-node/substrate-query-framework/index-builder/src/db/DatabaseManager.ts
  query-node/substrate-query-framework/index-builder/src/db/SnakeNamingStrategy.ts
  query-node/substrate-query-framework/index-builder/src/db/helper.ts
  query-node/substrate-query-framework/index-builder/yarn.lock
Labels: query-node

#1064 New uniqueness feature
  runtime-modules/content-directory/src/entity.rs
  runtime-modules/content-directory/src/errors.rs
  runtime-modules/content-directory/src/helpers.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/schema/convert.rs
  runtime-modules/content-directory/src/schema/output.rs
  runtime-modules/content-directory/src/tests.rs
  runtime-modules/content-directory/src/tests/add_schema_support_to_entity.rs
  runtime-modules/content-directory/src/tests/clear_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/insert_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/transfer_entity_ownership.rs
  runtime-modules/content-directory/src/tests/update_entity_property_values.rs
Labels: content directory

#1072 substrate 2.0.0-rc4 version upgrade
  Cargo.lock
  runtime-modules/content-directory/Cargo.toml
  runtime-modules/content-directory/src/class.rs
  runtime-modules/content-directory/src/entity.rs
  runtime-modules/content-directory/src/errors.rs
  runtime-modules/content-directory/src/helpers.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/operations.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/permissions/class.rs
  runtime-modules/content-directory/src/permissions/curator_group.rs
  runtime-modules/content-directory/src/permissions/entity.rs
  runtime-modules/content-directory/src/permissions/entity_creation_voucher.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/schema/convert.rs
  runtime-modules/content-directory/src/schema/output.rs
  runtime-modules/content-directory/src/tests/add_class_schema.rs
  runtime-modules/content-directory/src/tests/add_curator_group.rs
  runtime-modules/content-directory/src/tests/add_curator_to_group.rs
  runtime-modules/content-directory/src/tests/add_maintainer_to_class.rs
  runtime-modules/content-directory/src/tests/add_schema_support_to_entity.rs
  runtime-modules/content-directory/src/tests/clear_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/create_class.rs
  runtime-modules/content-directory/src/tests/create_entity.rs
  runtime-modules/content-directory/src/tests/insert_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_curator_from_group.rs
  runtime-modules/content-directory/src/tests/remove_curator_group.rs
  runtime-modules/content-directory/src/tests/remove_entity.rs
  runtime-modules/content-directory/src/tests/remove_maintainer_from_class.rs
  runtime-modules/content-directory/src/tests/set_curator_group_status.rs
  runtime-modules/content-directory/src/tests/transaction.rs
  runtime-modules/content-directory/src/tests/transfer_entity_ownership.rs
  runtime-modules/content-directory/src/tests/update_class_permissions.rs
  runtime-modules/content-directory/src/tests/update_class_schema_status.rs
  runtime-modules/content-directory/src/tests/update_entity_creation_voucher.rs
  runtime-modules/content-directory/src/tests/update_entity_permissions.rs
  runtime-modules/content-directory/src/tests/update_entity_property_values.rs
Labels: content directory

#1065 Indexer enable debug
  query-node/substrate-query-framework/index-builder/src/QueryService.ts
Labels: query-node

#1164 Hydra fixes for Hackusama submission
  query-node/substrate-query-framework/cli/README.md
  query-node/substrate-query-framework/cli/package.json
  query-node/substrate-query-framework/cli/src/commands/preview.ts
  query-node/substrate-query-framework/cli/src/generate/VariantsRenderer.ts
  query-node/substrate-query-framework/cli/src/helpers/WarthogWrapper.ts
  query-node/substrate-query-framework/cli/src/index.ts
  query-node/substrate-query-framework/cli/src/templates/scaffold/package.json
  query-node/substrate-query-framework/cli/tsconfig.json
  query-node/substrate-query-framework/cli/yarn.lock
Labels: query-node

#1068 Qnode scaffold flag options
  query-node/examples/kusama-query-node/mappings/treasury/proposal.ts
  query-node/examples/kusama-query-node/mappings/treasury/tip.ts
  query-node/examples/kusama-query-node/package.json
  query-node/substrate-query-framework/cli/src/commands/scaffold.ts
Labels: query-node

#1073 Qnode new format for event name
  query-node/examples/kusama-query-node/mappings/treasury/proposal.ts
  query-node/examples/kusama-query-node/mappings/treasury/tip.ts
  query-node/substrate-query-framework/cli/src/templates/index-builder-entry.mst
  query-node/substrate-query-framework/index-builder/src/IndexBuilder.ts
  query-node/substrate-query-framework/index-builder/src/QueryEvent.ts
  query-node/substrate-query-framework/index-builder/src/QueryEventProcessingPack.ts
  query-node/substrate-query-framework/index-builder/src/db/entities.ts
Labels: query-node

#1151 Integration test for the indexer
  query-node/substrate-query-framework/index-builder/.eslintrc.js
  query-node/substrate-query-framework/index-builder/eslint.tsconfig.json
  query-node/substrate-query-framework/index-builder/package.json
  query-node/substrate-query-framework/index-builder/src/IndexBuilder.ts
  query-node/substrate-query-framework/index-builder/src/QueryEventBlock.ts
  query-node/substrate-query-framework/index-builder/test/.env
  query-node/substrate-query-framework/index-builder/test/e2e-db/fixtures.ts
  query-node/substrate-query-framework/index-builder/test/e2e-db/index-builder.test.ts
  query-node/substrate-query-framework/index-builder/test/mappings/treasury/tip.ts
  query-node/substrate-query-framework/index-builder/test/mocha.opts
  query-node/substrate-query-framework/index-builder/test/models/tip.model.ts
  query-node/substrate-query-framework/index-builder/test/models/tipper.model.ts
  query-node/substrate-query-framework/index-builder/test/tsconfig.json
  query-node/substrate-query-framework/index-builder/test/utils.ts
  query-node/substrate-query-framework/index-builder/yarn.lock
Labels: query-node

#1079 Schema refactoring
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/tests/transaction.rs
Labels: content directory
