Repository Joystream/joystream, pull requests merged in 2020-09, with the labels that each got.

#1147 add graphql/miragejs data fetching
  atlas/packages/app/__generated__/globalTypes.ts
  atlas/packages/app/apollo.config.js
  atlas/packages/app/config-overrides.js
  atlas/packages/app/package.json
  atlas/packages/app/src/App.tsx
  atlas/packages/app/src/__tests__/App.test.js
  atlas/packages/app/src/__tests__/LayoutWithRouting.test.js
  atlas/packages/app/src/api/client.ts
  atlas/packages/app/src/api/index.ts
  atlas/packages/app/src/api/queries/__generated__/ChannelFields.ts
  atlas/packages/app/src/api/queries/__generated__/GetFeaturedVideos.ts
  atlas/packages/app/src/api/queries/__generated__/GetNewestChannels.ts
  atlas/packages/app/src/api/queries/__generated__/GetNewestVideos.ts
  atlas/packages/app/src/api/queries/__generated__/VideoFields.ts
  atlas/packages/app/src/api/queries/channels.ts
  atlas/packages/app/src/api/queries/index.ts
  atlas/packages/app/src/api/queries/videos.ts
  atlas/packages/app/src/components/ChannelGallery.tsx
  atlas/packages/app/src/components/Layout.tsx
  atlas/packages/app/src/components/LayoutWithRouting.tsx
  atlas/packages/app/src/components/VideoGallery.tsx
  atlas/packages/app/src/components/index.ts
  atlas/packages/app/src/config/mocks/mockChannels.ts
  atlas/packages/app/src/mocking/data/index.ts
  atlas/packages/app/src/mocking/data/mockChannels.ts
  atlas/packages/app/src/mocking/data/mockImages.ts
  atlas/packages/app/src/mocking/data/mockVideos.ts
  atlas/packages/app/src/mocking/server.ts
  atlas/packages/app/src/schema.graphql
  atlas/packages/app/src/shared/components/Avatar/Avatar.style.tsx
  atlas/packages/app/src/shared/components/Avatar/Avatar.tsx
  atlas/packages/app/src/shared/components/VideoPreview/VideoPreview.tsx
  atlas/packages/app/src/shared/stories/16-VideoPreview.stories.tsx
  atlas/packages/app/src/types/channel.ts
  atlas/packages/app/src/types/graphql.d.ts
  atlas/packages/app/src/types/graphqlScalars.d.ts
  atlas/packages/app/src/types/mirage.d.ts
  atlas/packages/app/src/types/video.ts
  atlas/packages/app/src/types/videoMedia.ts
  atlas/packages/app/src/utils/date.ts
  atlas/packages/app/src/utils/time.ts
  atlas/packages/app/src/views/HomeView.tsx
  atlas/packages/app/src/views/VideoView/VideoView.tsx
  atlas/yarn.lock
Labels: atlas

#1159 add placeholders for videos and channels loading
  atlas/packages/app/src/components/ChannelGallery.tsx
  atlas/packages/app/src/components/Hero.tsx
  atlas/packages/app/src/components/VideoGallery.tsx
  atlas/packages/app/src/mocking/data/mockImages.ts
  atlas/packages/app/src/mocking/data/mockVideos.ts
  atlas/packages/app/src/mocking/server.ts
  atlas/packages/app/src/shared/components/Avatar/Avatar.style.tsx
  atlas/packages/app/src/shared/components/Carousel/Carousel.style.ts
  atlas/packages/app/src/shared/components/Carousel/Carousel.tsx
  atlas/packages/app/src/shared/components/Carousel/index.ts
  atlas/packages/app/src/shared/components/ChannelPreview/ChannelPreview.style.tsx
  atlas/packages/app/src/shared/components/ChannelPreview/ChannelPreview.tsx
  atlas/packages/app/src/shared/components/ChannelPreview/ChannelPreviewBase.style.tsx
  atlas/packages/app/src/shared/components/ChannelPreview/ChannelPreviewBase.tsx
  atlas/packages/app/src/shared/components/ChannelPreview/index.ts
  atlas/packages/app/src/shared/components/Gallery/Gallery.tsx
  atlas/packages/app/src/shared/components/Placeholder/Placeholder.tsx
  atlas/packages/app/src/shared/components/Placeholder/index.ts
  atlas/packages/app/src/shared/components/VideoPreview/VideoPreview.styles.tsx
  atlas/packages/app/src/shared/components/VideoPreview/VideoPreview.tsx
  atlas/packages/app/src/shared/components/VideoPreview/VideoPreviewBase.styles.tsx
  atlas/packages/app/src/shared/components/VideoPreview/VideoPreviewBase.tsx
  atlas/packages/app/src/shared/components/VideoPreview/index.tsx
  atlas/packages/app/src/shared/components/index.ts
  atlas/packages/app/src/shared/stories/13-VideoPreview.stories.tsx
  atlas/packages/app/src/shared/stories/16-VideoPreview.stories.tsx
  atlas/packages/app/src/shared/stories/17-ChannelPreview.stories.tsx
  atlas/packages/app/src/shared/theme/typography.ts
Labels: atlas

#1189 Storage node conversion to the runtime version based on Substrate 2.0.0-rc4
  storage-node/packages/cli/bin/cli.js
  storage-node/packages/cli/package.json
  storage-node/packages/cli/src/commands/upload.ts
  storage-node/packages/colossus/bin/cli.js
  storage-node/packages/colossus/lib/sync.js
  storage-node/packages/colossus/paths/asset/v0/{id}.js
  storage-node/packages/runtime-api/balances.js
  storage-node/packages/runtime-api/identities.js
  storage-node/packages/runtime-api/index.js
  storage-node/packages/runtime-api/package.json
  storage-node/packages/runtime-api/workers.js
  storage-node/packages/storage/storage.js
  yarn.lock
Labels: alexandria-release, colossus

#1199 add infinite video grid component
  atlas/packages/app/src/api/client.ts
  atlas/packages/app/src/api/queries/__generated__/ChannelFields.ts
  atlas/packages/app/src/api/queries/__generated__/GetNewestChannels.ts
  atlas/packages/app/src/api/queries/__generated__/GetNewestVideos.ts
  atlas/packages/app/src/api/queries/__generated__/GetVideo.ts
  atlas/packages/app/src/api/queries/videos.ts
  atlas/packages/app/src/components/VideoGallery.tsx
  atlas/packages/app/src/mocking/server.ts
  atlas/packages/app/src/shared/components/InfiniteVideoGrid/InfiniteVideoGrid.tsx
  atlas/packages/app/src/shared/components/InfiniteVideoGrid/index.ts
  atlas/packages/app/src/shared/components/VideoPreview/VideoPreviewBase.styles.tsx
  atlas/packages/app/src/shared/components/VideoPreview/index.tsx
  atlas/packages/app/src/shared/components/index.ts
  atlas/packages/app/src/shared/stories/18-InfiniteVideoGrid.stories.tsx
  atlas/packages/app/src/views/HomeView.tsx
Labels: atlas

#961 Add Tests
  .github/workflows/atlas-pr.yml
  atlas/.eslintignore
  atlas/.huskyrc
  atlas/.prettierignore
  atlas/package.json
  atlas/packages/app/config-overrides.js
  atlas/packages/app/src/__tests__/LayoutWithRouting.test.tsx
  atlas/packages/app/src/shared/__tests__/Avatar.test.js
  atlas/packages/app/src/shared/__tests__/Avatar.test.tsx
  atlas/packages/app/src/shared/__tests__/Button.test.js
  atlas/packages/app/src/shared/__tests__/Button.test.tsx
  atlas/packages/app/src/shared/__tests__/Carousel.test.tsx
  atlas/packages/app/src/shared/__tests__/Checkbox.test.tsx
  atlas/packages/app/src/shared/__tests__/Gallery.test.tsx
  atlas/packages/app/src/shared/__tests__/Grid.test.tsx
  atlas/packages/app/src/shared/__tests__/HamburgerButton.test.tsx
  atlas/packages/app/src/shared/__tests__/NavButton.test.tsx
  atlas/packages/app/src/shared/__tests__/RadioButton.test.tsx
  atlas/packages/app/src/shared/__tests__/TextField.test.tsx
  atlas/packages/app/src/shared/__tests__/VideoPlayer.test.tsx
  atlas/packages/app/src/shared/__tests__/VideoPreview.test.tsx
  atlas/packages/app/src/shared/__tests__/__snapshots__/Avatar.test.js.snap
  atlas/packages/app/src/shared/__tests__/__snapshots__/Button.test.js.snap
  atlas/yarn.lock
  yarn.lock
Labels: atlas

#1191 Separate block indexing and processing the mappings
  query-node/substrate-query-framework/cli/src/templates/index-builder-entry.mst
  query-node/substrate-query-framework/index-builder/.eslintignore
  query-node/substrate-query-framework/index-builder/ormconfig.ts
  query-node/substrate-query-framework/index-builder/package.json
  query-node/substrate-query-framework/index-builder/src/IndexBuilder.ts
  query-node/substrate-query-framework/index-builder/src/PooledExecutor.ts
  query-node/substrate-query-framework/index-builder/src/QueryBlockProducer.ts
  query-node/substrate-query-framework/index-builder/src/QueryEvent.ts
  query-node/substrate-query-framework/index-builder/src/QueryEventBlock.ts
  query-node/substrate-query-framework/index-builder/src/QueryNode.ts
  query-node/substrate-query-framework/index-builder/src/QueryNodeStartOptions.ts
  query-node/substrate-query-framework/index-builder/src/QueryService.ts
  query-node/substrate-query-framework/index-builder/src/bootstrap/Bootstrapper.ts
  query-node/substrate-query-framework/index-builder/src/db/entities.ts
  query-node/substrate-query-framework/index-builder/src/db/helper.ts
  query-node/substrate-query-framework/index-builder/src/entities/SubstrateEventEntity.ts
  query-node/substrate-query-framework/index-builder/src/entities/SubstrateExtrinsicEntity.ts
  query-node/substrate-query-framework/index-builder/src/entities/index.ts
  query-node/substrate-query-framework/index-builder/src/index.ts
  query-node/substrate-query-framework/index-builder/src/interfaces/index.ts
  query-node/substrate-query-framework/index-builder/src/interfaces/json-types.ts
  query-node/substrate-query-framework/index-builder/src/interfaces/substrate-interfaces.ts
  query-node/substrate-query-framework/index-builder/src/migrations/1598446681310-CreateSchema.ts
  query-node/substrate-query-framework/index-builder/src/processor/MappingsProcessor.ts
  query-node/substrate-query-framework/index-builder/src/utils/env-flags.ts
  query-node/substrate-query-framework/index-builder/src/utils/wait-for.ts
  query-node/substrate-query-framework/index-builder/yarn.lock
Labels: query-node

#977 Atlas hover states
  atlas/package.json
  atlas/packages/app/.babelrc
  atlas/packages/app/config-overrides.js
  atlas/packages/app/src/components/Hero.tsx
  atlas/packages/app/src/components/TagsGallery.tsx
  atlas/packages/app/src/shared/.storybook/preview.jsx
  atlas/packages/app/src/shared/components/Button/Button.style.ts
  atlas/packages/app/src/shared/components/Button/Button.tsx
  atlas/packages/app/src/shared/components/ChannelPreview/ChannelPreview.tsx
  atlas/packages/app/src/shared/components/ChannelPreview/ChannelPreviewBase.style.tsx
  atlas/packages/app/src/shared/components/ChannelPreview/ChannelPreviewBase.tsx
  atlas/packages/app/src/shared/components/Gallery/Gallery.tsx
  atlas/packages/app/src/shared/components/RadioButton/RadioButton.style.ts
  atlas/packages/app/src/shared/components/RadioButton/RadioButton.tsx
  atlas/packages/app/src/shared/components/ToggleButton/ToggleButton.styles.tsx
  atlas/packages/app/src/shared/components/ToggleButton/ToggleButton.tsx
  atlas/packages/app/src/shared/components/ToggleButton/index.ts
  atlas/packages/app/src/shared/components/index.ts
  atlas/packages/app/src/shared/stories/01-Button.stories.tsx
  atlas/packages/app/src/shared/stories/03-TagButton.stories.tsx
  atlas/packages/app/src/shared/stories/03-ToggleButton.stories.tsx
  atlas/packages/app/src/shared/stories/09-RadioButton.stories.tsx
  atlas/packages/app/src/shared/stories/13-Link.stories.tsx
  atlas/packages/app/src/shared/stories/15-Sidenav.stories.tsx
  atlas/packages/app/src/shared/stories/16-VideoPlayer.stories.tsx
  atlas/packages/app/src/shared/stories/17-ChannelPreview.stories.tsx
  atlas/packages/app/src/shared/stories/18-VideoPreview.stories.tsx
  atlas/packages/app/src/shared/stories/19-InfiniteVideoGrid.stories.tsx
  atlas/packages/app/src/views/VideoView/VideoView.tsx
  atlas/yarn.lock
Labels: atlas

#1258 Query node2
  query-node/substrate-query-framework/index-builder/src/processor/MappingsProcessor.ts
Labels: query-node

#1253 Fix chain spec builder.
  utils/chain-spec-builder/src/main.rs
Labels: alexandria-release, runtime

#1259 Cont directory debug trait implementation
  Cargo.lock
  runtime-modules/content-directory/src/class.rs
  runtime-modules/content-directory/src/entity.rs
  runtime-modules/content-directory/src/helpers.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/operations.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/permissions/class.rs
  runtime-modules/content-directory/src/permissions/curator_group.rs
  runtime-modules/content-directory/src/permissions/entity.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/schema/input.rs
  runtime-modules/content-directory/src/schema/output.rs
Labels: content directory

#1279 runtime: Update the chain constants.
  node/src/chain_spec/mod.rs
  runtime/src/constants.rs
  runtime/src/lib.rs
Labels: alexandria-release

#1299 Fix uncle rewards.
  Cargo.lock
  node/Cargo.toml
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: alexandria-release

#1280 Working team pallet. Hiring flow.
  Cargo.lock
  Cargo.toml
  node/Cargo.toml
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mod.rs
  runtime-modules/working-team/Cargo.toml
  runtime-modules/working-team/src/checks.rs
  runtime-modules/working-team/src/errors.rs
  runtime-modules/working-team/src/lib.rs
  runtime-modules/working-team/src/tests/fixtures.rs
  runtime-modules/working-team/src/tests/hiring_workflow.rs
  runtime-modules/working-team/src/tests/mock.rs
  runtime-modules/working-team/src/tests/mod.rs
  runtime-modules/working-team/src/types.rs
Labels: working-team

#1344 Working team pallet. Add role management extrinsics.
  runtime-modules/working-team/src/checks.rs
  runtime-modules/working-team/src/errors.rs
  runtime-modules/working-team/src/lib.rs
  runtime-modules/working-team/src/tests/fixtures.rs
  runtime-modules/working-team/src/tests/hiring_workflow.rs
  runtime-modules/working-team/src/tests/mod.rs
Labels: working-group, working-team

#1248 Atlas icon component
  atlas/packages/app/src/shared/components/Button/Button.style.ts
  atlas/packages/app/src/shared/components/Button/Button.tsx
  atlas/packages/app/src/shared/components/Checkbox/Checkbox.tsx
  atlas/packages/app/src/shared/components/Dropdown/Dropdown.tsx
  atlas/packages/app/src/shared/components/Icon/Icon.tsx
  atlas/packages/app/src/shared/components/Icon/index.ts
  atlas/packages/app/src/shared/components/NavButton/NavButton.tsx
  atlas/packages/app/src/shared/components/VideoPlayer/VideoPlayer.style.tsx
  atlas/packages/app/src/shared/components/VideoPreview/VideoPreview.styles.tsx
  atlas/packages/app/src/shared/components/VideoPreview/VideoPreviewBase.styles.tsx
  atlas/packages/app/src/shared/components/index.ts
  atlas/packages/app/src/shared/icons/index.ts
  atlas/packages/app/src/shared/stories/01-Button.stories.tsx
  atlas/packages/app/src/shared/stories/03-ToggleButton.stories.tsx
  atlas/packages/app/src/shared/stories/15-Sidenav.stories.tsx
Labels: atlas

#1273 Content directory runtime integration
  Cargo.lock
  node/src/chain_spec.rs
  runtime-modules/content-directory/src/helpers.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/operations.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/permissions/class.rs
  runtime-modules/content-directory/src/permissions/entity.rs
  runtime-modules/content-directory/src/schema.rs
  runtime-modules/content-directory/src/schema/input.rs
  runtime-modules/working-group/src/lib.rs
  runtime/Cargo.toml
  runtime/src/integration/content_directory.rs
  runtime/src/integration/mod.rs
  runtime/src/lib.rs
Labels: content directory

#1107 Search bar
  atlas/packages/app/__generated__/globalTypes.ts
  atlas/packages/app/src/api/client.ts
  atlas/packages/app/src/api/queries/__generated__/GetFeaturedVideos.ts
  atlas/packages/app/src/api/queries/__generated__/GetNewestVideos.ts
  atlas/packages/app/src/api/queries/__generated__/Search.ts
  atlas/packages/app/src/api/queries/__generated__/VideoFields.ts
  atlas/packages/app/src/api/queries/channels.ts
  atlas/packages/app/src/api/queries/index.ts
  atlas/packages/app/src/api/queries/search.ts
  atlas/packages/app/src/api/queries/videos.ts
  atlas/packages/app/src/assets/logo.svg
  atlas/packages/app/src/components/LayoutWithRouting.tsx
  atlas/packages/app/src/components/Navbar/Navbar.style.tsx
  atlas/packages/app/src/components/Navbar/Navbar.tsx
  atlas/packages/app/src/components/Navbar/index.ts
  atlas/packages/app/src/components/VideoBestMatch/VideoBestMatch.style.tsx
  atlas/packages/app/src/components/VideoBestMatch/VideoBestMatch.tsx
  atlas/packages/app/src/components/VideoBestMatch/index.ts
  atlas/packages/app/src/components/VideoGrid.tsx
  atlas/packages/app/src/components/index.ts
  atlas/packages/app/src/config/routes.ts
  atlas/packages/app/src/mocking/server.ts
  atlas/packages/app/src/shared/components/NavButton/NavButton.style.ts
  atlas/packages/app/src/shared/components/NavButton/NavButton.tsx
  atlas/packages/app/src/shared/components/Searchbar/Searchbar.style.tsx
  atlas/packages/app/src/shared/components/Searchbar/Searchbar.tsx
  atlas/packages/app/src/shared/components/Searchbar/index.ts
  atlas/packages/app/src/shared/components/TabsMenu/TabMenu.styles.tsx
  atlas/packages/app/src/shared/components/TabsMenu/TabsMenu.tsx
  atlas/packages/app/src/shared/components/TabsMenu/index.ts
  atlas/packages/app/src/shared/components/index.ts
  atlas/packages/app/src/shared/icons/index.ts
  atlas/packages/app/src/shared/icons/times.svg
  atlas/packages/app/src/shared/stories/02-NavigationButton.stories.tsx
  atlas/packages/app/src/utils/time.ts
  atlas/packages/app/src/views/SearchView.tsx
  atlas/packages/app/src/views/VideoView/VideoView.style.tsx
  atlas/packages/app/src/views/VideoView/VideoView.tsx
  atlas/packages/app/src/views/index.ts
Labels: atlas

#1395 Chain spec bug fix (Invalid periods for working group).
  node/src/chain_spec/mod.rs
Labels: alexandria-release, bug, run-network-tests

#1401 runtime: bump version and build chainspec builder in docker image
  Cargo.lock
  devops/dockerfiles/node-and-runtime/Dockerfile
  node/Cargo.toml
  runtime/CHANGELOG.md
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: run-network-tests

#1414 Runtime membership module: Fix set_root_account
  Cargo.lock
  node/Cargo.toml
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: alexandria-release, run-network-tests

#1404 use mocked atlas assets hosted on jsgenesis infra
  atlas/README.md
  atlas/packages/app/public/index.html
  atlas/packages/app/src/mocking/data/mockImages.ts
  atlas/packages/app/src/shared/.storybook/preview-head.html
  atlas/packages/app/src/views/HomeView.tsx
Labels: atlas

#1431 Remove Outline On Chrome
  atlas/packages/app/src/shared/components/Button/Button.style.ts
  atlas/packages/app/src/shared/components/GlobalStyle/GlobalStyle.tsx
Labels: atlas

#1432 Remove Useless Elements
  atlas/packages/app/src/components/Hero.tsx
  atlas/packages/app/src/components/Navbar/Navbar.tsx
  atlas/packages/app/src/views/VideoView/VideoView.style.tsx
  atlas/packages/app/src/views/VideoView/VideoView.tsx
Labels: atlas

#1437 expand the mocking dataset, add mocking tooling
  atlas/README.md
  atlas/packages/app/package.json
  atlas/packages/app/scripts/mocking/.gitignore
  atlas/packages/app/scripts/mocking/generateChannels.js
  atlas/packages/app/scripts/mocking/generateVideos.js
  atlas/packages/app/scripts/mocking/generateVideosMedia.js
  atlas/packages/app/scripts/mocking/utils.js
  atlas/packages/app/src/api/queries/__generated__/GetChannel.ts
  atlas/packages/app/src/api/queries/__generated__/GetFeaturedVideos.ts
  atlas/packages/app/src/api/queries/__generated__/GetVideo.ts
  atlas/packages/app/src/api/queries/__generated__/GetVideos.ts
  atlas/packages/app/src/api/queries/__generated__/Search.ts
  atlas/packages/app/src/api/queries/__generated__/VideoFields.ts
  atlas/packages/app/src/api/queries/__generated__/VideoMediaFields.ts
  atlas/packages/app/src/api/queries/videos.ts
  atlas/packages/app/src/mocking/data/index.ts
  atlas/packages/app/src/mocking/data/mockCategories.ts
  atlas/packages/app/src/mocking/data/mockChannels.ts
  atlas/packages/app/src/mocking/data/mockFeaturedVideos.ts
  atlas/packages/app/src/mocking/data/mockImages.ts
  atlas/packages/app/src/mocking/data/mockVideos.ts
  atlas/packages/app/src/mocking/data/mockVideosMedia.ts
  atlas/packages/app/src/mocking/data/raw/categories.json
  atlas/packages/app/src/mocking/data/raw/channels.json
  atlas/packages/app/src/mocking/data/raw/videos.json
  atlas/packages/app/src/mocking/data/raw/videosMedia.json
  atlas/packages/app/src/mocking/server.ts
  atlas/packages/app/src/schema.graphql
  atlas/packages/app/src/shared/components/InfiniteVideoGrid/InfiniteVideoGrid.tsx
  atlas/packages/app/src/shared/components/VideoPlayer/videoJsPlayer.ts
  atlas/yarn.lock
Labels: atlas

#1434 Working team pallet. Stakes and extra hiring flow extrinsics.
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-team/Cargo.toml
  runtime-modules/working-team/src/checks.rs
  runtime-modules/working-team/src/errors.rs
  runtime-modules/working-team/src/lib.rs
  runtime-modules/working-team/src/tests/fixtures.rs
  runtime-modules/working-team/src/tests/hiring_workflow.rs
  runtime-modules/working-team/src/tests/mock.rs
  runtime-modules/working-team/src/tests/mod.rs
  runtime-modules/working-team/src/types.rs
Labels: working-team

#1407 refs #897 add discussion post form loader for better ux
  pioneer/packages/joy-proposals/src/Proposal/discussion/DiscussionPostForm.tsx
Labels: pioneer-v1

#1456 Add Grid Element
  atlas/packages/app/package.json
  atlas/packages/app/src/App.tsx
  atlas/packages/app/src/components/VideoGrid.tsx
  atlas/packages/app/src/shared/components/Grid/Grid.tsx
  atlas/packages/app/src/shared/components/Grid/index.ts
  atlas/packages/app/src/shared/components/InfiniteVideoGrid/InfiniteVideoGrid.tsx
  atlas/packages/app/src/shared/components/InfiniteVideoGrid/index.ts
  atlas/packages/app/src/shared/components/index.ts
  atlas/packages/app/src/store/actions/DummyAction.ts
  atlas/packages/app/src/store/index.ts
  atlas/packages/app/src/store/reducers/DummyReducer.ts
  atlas/packages/app/src/store/reducers/index.ts
  atlas/packages/app/src/store/types/DummyTypes.ts
  atlas/packages/app/src/views/BrowseView.tsx
  atlas/packages/app/src/views/ChannelView/ChannelView.style.tsx
  atlas/packages/app/src/views/ChannelView/ChannelView.tsx
  atlas/yarn.lock
Labels: atlas

#1366 Proposal codex upgrade
  Cargo.lock
  node/src/chain_spec/mod.rs
  runtime-modules/common/Cargo.toml
  runtime-modules/common/src/working_group.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/governance/src/mock.rs
  runtime-modules/membership/src/mock.rs
  runtime-modules/membership/src/tests.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/proposal_types/mod.rs
  runtime-modules/proposals/codex/src/proposal_types/parameters.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime/Cargo.toml
  runtime/src/integration/content_working_group.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/integration/working_group.rs
  runtime/src/lib.rs
  runtime/src/primitives.rs
  runtime/src/tests/mod.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
Labels: content directory, refactoring

#1483 channel view tweaks
  atlas/packages/app/src/views/ChannelView/ChannelView.style.tsx
Labels: atlas
