Repository Joystream/joystream, pull requests merged in 2020-11, with the labels that each got.

#1617 hide channel info of video preview in channel context
  atlas/src/components/VideoGrid.tsx
  atlas/src/views/ChannelView/ChannelView.tsx
  atlas/src/views/VideoView/VideoView.tsx
Labels: atlas

#1646 add support for passing graphql urls at build time
  atlas/src/config/urls.ts
  atlas/src/mocking/server/index.ts
Labels: atlas

#1638 Add Default Channel Avatar
  atlas/src/shared/components/ChannelPreview/ChannelPreview.tsx
  atlas/src/views/ChannelView/ChannelView.style.tsx
  atlas/src/views/ChannelView/ChannelView.tsx
Labels: atlas, babylon-release

#1562 Add Mobile And Table Screens
  atlas/package.json
  atlas/src/components/ChannelGallery.tsx
  atlas/src/components/ChannelGrid.tsx
  atlas/src/components/Navbar/Navbar.style.tsx
  atlas/src/components/VideoBestMatch/VideoBestMatch.style.tsx
  atlas/src/components/VideoBestMatch/VideoBestMatch.tsx
  atlas/src/components/VideoGallery.tsx
  atlas/src/components/VideoGrid.tsx
  atlas/src/components/index.ts
  atlas/src/shared/components/Carousel/Carousel.tsx
  atlas/src/shared/components/Grid/Grid.tsx
  atlas/src/shared/components/Grid/index.ts
  atlas/src/shared/components/Placeholder/Placeholder.tsx
  atlas/src/shared/components/VideoPreview/VideoPreview.styles.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.styles.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.tsx
  atlas/src/shared/components/index.ts
  atlas/src/shared/theme/breakpoints.ts
  atlas/src/views/ChannelView/ChannelView.style.tsx
  atlas/src/views/SearchView.tsx
  atlas/src/views/VideoView/VideoView.style.tsx
  atlas/src/views/VideoView/VideoView.tsx
Labels: atlas, babylon-release

#1619 Proposals modules changes.
  runtime-modules/common/src/origin.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/proposal_types/mod.rs
  runtime-modules/proposals/codex/src/proposal_types/parameters.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/tests/mod.rs
  runtime-modules/proposals/discussion/src/types.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mod.rs
  runtime-modules/proposals/engine/src/types/mod.rs
  runtime-modules/proposals/engine/src/types/proposal_statuses.rs
  runtime-modules/working-group/src/lib.rs
  runtime/src/integration/proposals/council_elected_handler.rs
  runtime/src/lib.rs
  runtime/src/tests/proposals_integration/mod.rs
Labels: proposal-system

#1618 channels responsive improvements
  atlas/src/components/Hero.tsx
  atlas/src/components/LayoutWithRouting.tsx
  atlas/src/shared/components/ChannelPreview/ChannelPreviewBase.style.tsx
  atlas/src/shared/components/GlobalStyle/GlobalStyle.tsx
  atlas/src/views/BrowseView.tsx
  atlas/src/views/ChannelView/ChannelView.style.tsx
  atlas/src/views/ChannelView/ChannelView.tsx
Labels: atlas

#1643 add loading states
  atlas/src/components/ChannelGallery.tsx
  atlas/src/components/PlaceholderVideoGrid.tsx
  atlas/src/components/SeriesGallery.tsx
  atlas/src/components/VideoBestMatch/VideoBestMatch.style.tsx
  atlas/src/components/VideoBestMatch/VideoBestMatch.tsx
  atlas/src/components/VideoBestMatch/index.ts
  atlas/src/components/VideoGallery.tsx
  atlas/src/components/index.ts
  atlas/src/shared/components/Carousel/Carousel.style.ts
  atlas/src/shared/components/Carousel/Carousel.tsx
  atlas/src/shared/components/Gallery/Gallery.tsx
  atlas/src/shared/components/Placeholder/Placeholder.tsx
  atlas/src/shared/components/VideoPreview/VideoPreview.styles.tsx
  atlas/src/shared/components/VideoPreview/VideoPreview.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.styles.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.tsx
  atlas/src/views/ChannelView/ChannelView.style.tsx
  atlas/src/views/ChannelView/ChannelView.tsx
  atlas/src/views/SearchView/AllResultsTab.tsx
  atlas/src/views/SearchView/SearchView.tsx
  atlas/src/views/SearchView/index.ts
  atlas/src/views/VideoView/VideoView.style.tsx
  atlas/src/views/VideoView/VideoView.tsx
Labels: atlas

#1670 fix searchbar alignment
  atlas/src/components/Navbar/Navbar.style.tsx
Labels: atlas

#1673 add orion docs
  orion/README.md
Labels: atlas, babylon-release

#1660 add cover featured video
  atlas/src/components/FeaturedVideoHeader/FeaturedVideoHeader.style.ts
  atlas/src/components/FeaturedVideoHeader/FeaturedVideoHeader.tsx
  atlas/src/components/FeaturedVideoHeader/index.ts
  atlas/src/components/Hero.tsx
  atlas/src/components/index.ts
  atlas/src/mocking/data/mockChannels.ts
  atlas/src/mocking/data/mockCoverVideo.ts
  atlas/src/mocking/data/mockVideos.ts
  atlas/src/mocking/data/mockVideosMedia.ts
  atlas/src/mocking/data/raw/coverVideo.json
  atlas/src/mocking/server/data.ts
  atlas/src/shared/components/Avatar/Avatar.style.tsx
  atlas/src/shared/components/Header/Header.style.ts
  atlas/src/shared/components/Header/Header.tsx
  atlas/src/shared/components/Header/index.ts
  atlas/src/shared/components/index.ts
  atlas/src/shared/theme/breakpoints.ts
  atlas/src/views/HomeView.tsx
Labels: atlas

#1665 Make Preview Elements Resize Accordingly To Preview Width
  atlas/src/components/ChannelGallery.tsx
  atlas/src/components/VideoGallery.tsx
  atlas/src/shared/__tests__/VideoPreview.test.tsx
  atlas/src/shared/components/Carousel/Carousel.tsx
  atlas/src/shared/components/Grid/Grid.tsx
  atlas/src/shared/components/VideoPreview/VideoPreview.styles.tsx
  atlas/src/shared/components/VideoPreview/VideoPreview.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.styles.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.tsx
  atlas/src/shared/components/VideoPreview/index.tsx
  atlas/src/shared/components/index.ts
Labels: atlas

#1664 improve channel view cover
  atlas/src/views/ChannelView/ChannelView.style.tsx
  atlas/src/views/ChannelView/ChannelView.tsx
Labels: atlas

#1691 Benchmarking `proposals/discussion`
  Cargo.lock
  runtime-modules/proposals/discussion/Cargo.toml
  runtime-modules/proposals/discussion/src/benchmarking.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/discussion/src/tests/mod.rs
  runtime/Cargo.toml
  runtime/src/runtime_api.rs
Labels: benchmarking+weights

#1587 Benchmarking working_team
  .travis.yml
  Cargo.lock
  runtime-modules/working-team/Cargo.toml
  runtime-modules/working-team/src/benchmarking.rs
  runtime-modules/working-team/src/checks.rs
  runtime-modules/working-team/src/lib.rs
  runtime-modules/working-team/src/tests/fixtures.rs
  runtime-modules/working-team/src/tests/mock.rs
  runtime-modules/working-team/src/tests/mod.rs
  runtime-modules/working-team/src/types.rs
  runtime/Cargo.toml
  runtime/src/runtime_api.rs
Labels: benchmarking+weights

#1728 Add Favicon
  atlas/public/favicon/android-chrome-192x192.png
  atlas/public/favicon/android-chrome-384x384.png
  atlas/public/favicon/apple-touch-icon.png
  atlas/public/favicon/browserconfig.xml
  atlas/public/favicon/favicon-16x16.png
  atlas/public/favicon/favicon-32x32.png
  atlas/public/favicon/favicon.ico
  atlas/public/favicon/mstile-150x150.png
  atlas/public/favicon/safari-pinned-tab.svg
  atlas/public/favicon/site.webmanifest
  atlas/public/index.html
Labels: atlas, babylon-release

#1729 Empty search states
  atlas/src/assets/empty-state-illustration.svg
  atlas/src/views/SearchView/EmptyFallback.tsx
  atlas/src/views/SearchView/SearchView.tsx
Labels: atlas

#1621 Add Error Boundaries To Routes and Galleries
  atlas/package.json
  atlas/public/fonts.css
  atlas/src/assets/error.svg
  atlas/src/components/ChannelGallery.tsx
  atlas/src/components/ErrorFallback.tsx
  atlas/src/components/LayoutWithRouting.tsx
  atlas/src/components/ViewErrorFallback.tsx
  atlas/src/components/index.ts
  atlas/src/shared/components/InfiniteVideoGrid/InfiniteVideoGrid.tsx
  atlas/src/views/BrowseView.tsx
  atlas/src/views/ChannelView/ChannelView.tsx
  atlas/src/views/HomeView.tsx
  atlas/src/views/SearchView/SearchView.tsx
  atlas/src/views/VideoView/VideoView.tsx
  atlas/yarn.lock
Labels: atlas, babylon-release

#1722 rename schema fields, fix Orion integration
  atlas/scripts/mocking/generateVideos.js
  atlas/src/api/client/cache.ts
  atlas/src/api/client/index.ts
  atlas/src/api/client/resolvers.ts
  atlas/src/api/client/transforms/index.ts
  atlas/src/api/client/transforms/orionViews.ts
  atlas/src/api/client/transforms/queryNodeViews.ts
  atlas/src/api/queries/__generated__/ChannelFields.ts
  atlas/src/api/queries/__generated__/GetChannel.ts
  atlas/src/api/queries/__generated__/GetFeaturedVideos.ts
  atlas/src/api/queries/__generated__/GetNewestChannels.ts
  atlas/src/api/queries/__generated__/GetNewestVideos.ts
  atlas/src/api/queries/__generated__/GetVideo.ts
  atlas/src/api/queries/__generated__/Search.ts
  atlas/src/api/queries/__generated__/VideoFields.ts
  atlas/src/api/queries/channels.ts
  atlas/src/api/queries/videos.ts
  atlas/src/api/schemas/extendedQueryNode.graphql
  atlas/src/components/ChannelGallery.tsx
  atlas/src/components/ChannelGrid.tsx
  atlas/src/components/FeaturedVideoHeader/FeaturedVideoHeader.tsx
  atlas/src/components/VideoGallery.tsx
  atlas/src/components/VideoGrid.tsx
  atlas/src/mocking/data/mockChannels.ts
  atlas/src/mocking/data/mockVideos.ts
  atlas/src/mocking/data/raw/coverVideo.json
  atlas/src/mocking/data/raw/videos.json
  atlas/src/shared/components/InfiniteVideoGrid/InfiniteVideoGrid.tsx
  atlas/src/shared/stories/19-InfiniteVideoGrid.stories.tsx
  atlas/src/views/ChannelView/ChannelView.tsx
  atlas/src/views/SearchView/AllResultsTab.tsx
  atlas/src/views/VideoView/VideoView.tsx
Labels: atlas

#1723 Change Grid to use auto-fill by default
  atlas/src/shared/components/Grid/Grid.tsx
Labels: atlas

#1680 Proposals update. Parameters migration from the Storage to the Trait.
  Cargo.lock
  node/src/chain_spec/mod.rs
  node/src/chain_spec/proposals_config.rs
  node/src/service.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/proposal_types/mod.rs
  runtime-modules/proposals/codex/src/proposal_types/parameters.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/discussion/Cargo.toml
  runtime-modules/proposals/engine/Cargo.toml
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/primitives.rs
  runtime/src/proposals_configuration/defaults.rs
  runtime/src/proposals_configuration/mod.rs
  runtime/src/proposals_configuration/sample_proposal_parameters.json
  runtime/src/proposals_configuration/tests.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
  utils/chain-spec-builder/src/main.rs
Labels: proposal-system

#1730 Fix Channel Name Overflow
  atlas/src/views/ChannelView/ChannelView.style.tsx
Labels: atlas, babylon-release

#1637 Add Fade To Carousel Edges
  atlas/package.json
  atlas/src/components/VideoGallery.tsx
  atlas/src/shared/components/Button/Button.tsx
  atlas/src/shared/components/Carousel/Carousel.style.ts
  atlas/src/shared/components/Carousel/Carousel.tsx
  atlas/src/shared/components/Glider/Glider.tsx
  atlas/src/shared/components/Glider/index.tsx
  atlas/yarn.lock
Labels: atlas, babylon-release

#1754 improve cover video spacing and sizing
  atlas/package.json
  atlas/src/components/FeaturedVideoHeader/FeaturedVideoHeader.style.ts
  atlas/src/components/FeaturedVideoHeader/FeaturedVideoHeader.tsx
  atlas/src/shared/components/Button/Button.style.ts
  atlas/src/shared/components/Icon/Icon.tsx
  atlas/src/shared/components/VideoPlayer/VideoPlayer.style.tsx
  atlas/src/shared/components/VideoPlayer/VideoPlayer.tsx
  atlas/src/shared/components/VideoPlayer/videoJsPlayer.ts
  atlas/src/shared/components/VideoPreview/VideoPreview.styles.tsx
  atlas/src/shared/icons/index.ts
  atlas/src/shared/icons/pause.svg
  atlas/src/shared/icons/play-outline.svg
  atlas/src/shared/icons/play.svg
  atlas/src/shared/icons/sound-off.svg
  atlas/src/shared/icons/sound-on.svg
  atlas/src/shared/theme/breakpoints.ts
  atlas/src/views/HomeView.tsx
  atlas/yarn.lock
Labels: atlas

#1749 enable cover video playback
  atlas/package.json
  atlas/src/components/FeaturedVideoHeader/FeaturedVideoHeader.style.ts
  atlas/src/components/FeaturedVideoHeader/FeaturedVideoHeader.tsx
  atlas/src/shared/components/Button/Button.style.ts
  atlas/src/shared/components/Icon/Icon.tsx
  atlas/src/shared/components/VideoPlayer/VideoPlayer.style.tsx
  atlas/src/shared/components/VideoPlayer/VideoPlayer.tsx
  atlas/src/shared/components/VideoPlayer/videoJsPlayer.ts
  atlas/src/shared/components/VideoPreview/VideoPreview.styles.tsx
  atlas/src/shared/icons/index.ts
  atlas/src/shared/icons/pause.svg
  atlas/src/shared/icons/play-outline.svg
  atlas/src/shared/icons/play.svg
  atlas/src/shared/icons/sound-off.svg
  atlas/src/shared/icons/sound-on.svg
  atlas/yarn.lock
Labels: atlas

#1769 Improve channel previews spacing
  atlas/src/components/ChannelGallery.tsx
  atlas/src/shared/components/ChannelPreview/ChannelPreviewBase.style.tsx
Labels: atlas

#1766 Add text fadeIn and Make just cover clickable
  atlas/src/shared/components/VideoPreview/VideoPreview.styles.tsx
  atlas/src/shared/components/VideoPreview/VideoPreview.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.styles.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.tsx
Labels: atlas

#1788 Fix Typo in Error States
  atlas/src/components/ViewErrorFallback.tsx
Labels: atlas, babylon-release

#1527 Make Navbar Sticky
  atlas/src/components/LayoutWithRouting.tsx
  atlas/src/components/Navbar/index.ts
Labels: atlas, babylon-release

#1757 Carousel Improvements
  atlas/src/components/ChannelGallery.tsx
  atlas/src/components/VideoGallery.tsx
  atlas/src/shared/components/Carousel/Carousel.style.ts
  atlas/src/shared/components/Carousel/Carousel.tsx
  atlas/src/shared/components/Carousel/index.ts
  atlas/src/shared/components/VideoPreview/VideoPreview.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.styles.tsx
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.tsx
  atlas/src/shared/components/index.ts
Labels: atlas

#1771 improve navbar styling
  atlas/src/assets/full-logo.svg
  atlas/src/assets/logo.svg
  atlas/src/components/Navbar/Navbar.style.tsx
  atlas/src/components/Navbar/Navbar.tsx
  atlas/src/shared/components/Searchbar/Searchbar.style.tsx
  atlas/src/shared/components/Searchbar/Searchbar.tsx
  atlas/src/shared/icons/binocular-fill.svg
  atlas/src/shared/icons/home-fill.svg
  atlas/src/shared/icons/index.ts
  atlas/src/shared/icons/search.svg
  atlas/src/views/VideoView/VideoView.tsx
Labels: atlas

#1798 Fix placeholders from jumping around
  atlas/src/shared/components/VideoPreview/VideoPreviewBase.styles.tsx
Labels: atlas

#1753 Voting logic refactoring
  node/src/chain_spec/forum_config.rs
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime/src/lib.rs
Labels: forum, refactoring

#1800 point to correct source for cover video
  atlas/src/components/FeaturedVideoHeader/FeaturedVideoHeader.tsx
  atlas/src/mocking/data/mockCoverVideo.ts
  atlas/src/mocking/data/mockVideosMedia.ts
  atlas/src/mocking/data/raw/coverVideo.json
Labels: atlas

#1804 Working team fixes.
  runtime-modules/working-team/src/checks.rs
  runtime-modules/working-team/src/errors.rs
  runtime-modules/working-team/src/lib.rs
  runtime-modules/working-team/src/tests/fixtures.rs
  runtime-modules/working-team/src/tests/mock/mod.rs
  runtime-modules/working-team/src/tests/mock/staking_handler.rs
  runtime-modules/working-team/src/tests/mod.rs
  runtime-modules/working-team/src/types.rs
Labels: working-team

#1755 Feature/max poll alternatives number
  runtime-modules/forum/src/lib.rs
Labels: forum, refactoring

#1756 Fix/misleading mutation safe markers
  runtime-modules/forum/src/lib.rs
Labels: forum, refactoring

#1772 ensure_is_thread_author should not do thread mutability check
  runtime-modules/forum/src/lib.rs
Labels: forum, olympia, refactoring

#1773 Remove ensure_can_update_category_archival_status method
  runtime-modules/forum/src/lib.rs
Labels: forum, olympia, refactoring

#1774 Bug in update_category_membership_of_moderator of forum & dry fixes
  runtime-modules/forum/src/lib.rs
Labels: forum, olympia, refactoring

#1823 Introduce TransactionFailed event and adjust related core logic & test coverage
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/tests.rs
  runtime-modules/content-directory/src/tests/add_class_schema.rs
  runtime-modules/content-directory/src/tests/add_curator_group.rs
  runtime-modules/content-directory/src/tests/add_curator_to_group.rs
  runtime-modules/content-directory/src/tests/add_maintainer_to_class.rs
  runtime-modules/content-directory/src/tests/clear_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/create_class.rs
  runtime-modules/content-directory/src/tests/create_entity.rs
  runtime-modules/content-directory/src/tests/insert_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_at_entity_property_vector.rs
  runtime-modules/content-directory/src/tests/remove_curator_from_group.rs
  runtime-modules/content-directory/src/tests/remove_curator_group.rs
  runtime-modules/content-directory/src/tests/remove_entity.rs
  runtime-modules/content-directory/src/tests/remove_maintainer_from_class.rs
  runtime-modules/content-directory/src/tests/set_curator_group_status.rs
  runtime-modules/content-directory/src/tests/transaction.rs
  runtime-modules/content-directory/src/tests/transfer_entity_ownership.rs
  runtime-modules/content-directory/src/tests/update_class_permissions.rs
  runtime-modules/content-directory/src/tests/update_class_schema_status.rs
  runtime-modules/content-directory/src/tests/update_entity_creation_voucher.rs
  runtime-modules/content-directory/src/tests/update_entity_permissions.rs
  runtime-modules/content-directory/src/tests/update_entity_property_values.rs
Labels: babylon-release, content directory

#1813 Working team integration.
  Cargo.lock
  Cargo.toml
  node/src/chain_spec/mod.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/proposal_types/mod.rs
  runtime-modules/proposals/codex/src/tests/mock/mod.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/service-discovery/Cargo.toml
  runtime-modules/service-discovery/src/lib.rs
  runtime-modules/service-discovery/src/mock/mod.rs
  runtime-modules/service-discovery/src/mock/staking_handler.rs
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/data_object_storage_registry.rs
  runtime-modules/storage/src/data_object_type_registry.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/data_object_type_registry.rs
  runtime-modules/storage/src/tests/mock/mod.rs
  runtime-modules/storage/src/tests/mock/staking_handler.rs
  runtime-modules/working-group/Cargo.toml
  runtime-modules/working-group/src/benchmarking.rs
  runtime-modules/working-group/src/checks.rs
  runtime-modules/working-group/src/errors.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/fixtures.rs
  runtime-modules/working-group/src/tests/hiring_workflow.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime-modules/working-group/src/tests/mock/mod.rs
  runtime-modules/working-group/src/tests/mock/staking_handler.rs
  runtime-modules/working-group/src/tests/mod.rs
  runtime-modules/working-group/src/types.rs
  runtime-modules/working-team/Cargo.toml
  runtime-modules/working-team/src/errors.rs
  runtime-modules/working-team/src/lib.rs
  runtime-modules/working-team/src/tests/fixtures.rs
  runtime-modules/working-team/src/tests/hiring_workflow.rs
  runtime-modules/working-team/src/tests/mod.rs
  runtime-modules/working-team/src/types.rs
  runtime/src/integration/content_directory.rs
  runtime/src/integration/mod.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/integration/working_group.rs
  runtime/src/lib.rs
  runtime/src/proposals_configuration/defaults.rs
  runtime/src/proposals_configuration/mod.rs
  runtime/src/proposals_configuration/sample_proposal_parameters.json
  runtime/src/runtime_api.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
  runtime/src/tests/storage_integration.rs
Labels: working-group, working-team

#1812 Remove old versioned store related modules
  Cargo.lock
  Cargo.toml
  node/src/chain_spec/content_config.rs
  node/src/chain_spec/mod.rs
  runtime-modules/content-working-group/Cargo.toml
  runtime-modules/content-working-group/src/genesis.rs
  runtime-modules/content-working-group/src/lib.rs
  runtime-modules/content-working-group/src/mock.rs
  runtime-modules/content-working-group/src/tests.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/versioned-store-permissions/Cargo.toml
  runtime-modules/versioned-store-permissions/src/constraint.rs
  runtime-modules/versioned-store-permissions/src/credentials.rs
  runtime-modules/versioned-store-permissions/src/lib.rs
  runtime-modules/versioned-store-permissions/src/mock.rs
  runtime-modules/versioned-store-permissions/src/operations.rs
  runtime-modules/versioned-store-permissions/src/permissions.rs
  runtime-modules/versioned-store-permissions/src/tests.rs
  runtime-modules/versioned-store/Cargo.toml
  runtime-modules/versioned-store/src/example.rs
  runtime-modules/versioned-store/src/lib.rs
  runtime-modules/versioned-store/src/mock.rs
  runtime-modules/versioned-store/src/tests.rs
  runtime/Cargo.toml
  runtime/src/integration/content_working_group.rs
  runtime/src/integration/mod.rs
  runtime/src/integration/versioned_store_permissions.rs
  runtime/src/lib.rs
  utils/chain-spec-builder/src/main.rs
Labels: olympia

#1731 Rebase with olympia and benchmark proposals engine and add weights for proposals
  Cargo.lock
  runtime-modules/proposals/codex/src/tests/mock/mod.rs
  runtime-modules/proposals/discussion/Cargo.toml
  runtime-modules/proposals/discussion/src/benchmarking.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/Cargo.toml
  runtime-modules/proposals/engine/src/benchmarking.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/proposals/engine/src/tests/mod.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/proposals_discussion.rs
  runtime/src/weights/proposals_engine.rs
  scripts/generate-weights.sh
Labels: benchmarking+weights, olympia

#1829 Move StakingHandler trait and implementation in the separate crate.
  Cargo.lock
  Cargo.toml
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/staking_handler.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mock/staking_handler.rs
  runtime-modules/proposals/engine/Cargo.toml
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/proposals/engine/src/tests/mock/staking_handler.rs
  runtime-modules/service-discovery/Cargo.toml
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/service-discovery/src/mock/staking_handler.rs
  runtime-modules/staking-handler/Cargo.toml
  runtime-modules/staking-handler/src/lib.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/staking-handler/src/test.rs
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/storage/src/tests/mock/staking_handler.rs
  runtime-modules/working-group/Cargo.toml
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime-modules/working-group/src/tests/mock/staking_handler.rs
  runtime/Cargo.toml
  runtime/src/integration/mod.rs
  runtime/src/lib.rs
Labels: runtime
