Repository Joystream/joystream, pull requests merged in 2021-03, with the labels that each got.

#2246 Runtime: Fix Balance type alias for the council pallet.
  runtime-modules/council/src/lib.rs
Labels: council-module, olympia, runtime

#2227 Cli support for new working groups
  cli/src/Api.ts
  cli/src/Types.ts
Labels: CLI, sumer-release

#2291 Upgrade runtime and node to Substrate v2.0.1
  Cargo.lock
  Cargo.toml
  node/Cargo.toml
  node/src/chain_spec/mod.rs
  node/src/service.rs
  runtime-modules/common/Cargo.toml
  runtime-modules/content-directory/Cargo.toml
  runtime-modules/content-directory/src/schema/property.rs
  runtime-modules/content-working-group/Cargo.toml
  runtime-modules/content-working-group/src/genesis.rs
  runtime-modules/forum/Cargo.toml
  runtime-modules/governance/Cargo.toml
  runtime-modules/governance/src/council.rs
  runtime-modules/hiring/Cargo.toml
  runtime-modules/hiring/src/lib.rs
  runtime-modules/membership/Cargo.toml
  runtime-modules/membership/src/genesis.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/memo/Cargo.toml
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/Cargo.toml
  runtime-modules/proposals/engine/Cargo.toml
  runtime-modules/recurring-reward/Cargo.toml
  runtime-modules/recurring-reward/src/lib.rs
  runtime-modules/service-discovery/Cargo.toml
  runtime-modules/service-discovery/src/lib.rs
  runtime-modules/stake/Cargo.toml
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/token-minting/Cargo.toml
  runtime-modules/token-minting/src/lib.rs
  runtime-modules/versioned-store-permissions/Cargo.toml
  runtime-modules/versioned-store/Cargo.toml
  runtime-modules/working-group/Cargo.toml
  runtime/Cargo.toml
  runtime/src/integration/working_group.rs
  runtime/src/lib.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
  runtime/src/weights/mod.rs
Labels: antioch-release

#2283 Query node input schema assets
  query-node/package.json
  query-node/schema.graphql
Labels: sumer-release

#2187 Olympia audit fixes.
  node/src/service.rs
  runtime-modules/blog/src/mock.rs
  runtime-modules/content-directory/src/schema/property.rs
  runtime-modules/council/src/benchmarking.rs
  runtime-modules/council/src/mock.rs
  runtime-modules/council/src/tests.rs
  runtime-modules/forum/src/benchmarking.rs
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/forum/src/tests.rs
  runtime-modules/membership/src/benchmarking.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/fixtures.rs
  runtime-modules/membership/src/tests/mock.rs
  runtime-modules/membership/src/tests/mod.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/codex/src/types.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/proposals/engine/src/tests/mod.rs
  runtime-modules/proposals/engine/src/types/proposal_statuses.rs
  runtime-modules/referendum/src/lib.rs
  runtime-modules/referendum/src/mock.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/utility/src/benchmarking.rs
  runtime-modules/utility/src/tests/mocks.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime/src/constants.rs
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  runtime/src/tests/proposals_integration/mod.rs
  scripts/generate-weights.sh
Labels: olympia

#2231 Complete bounty pallet. Stages finished - "work submission", "judgment", "withdrawal".
  runtime-modules/bounty/Cargo.toml
  runtime-modules/bounty/src/actors.rs
  runtime-modules/bounty/src/benchmarking.rs
  runtime-modules/bounty/src/lib.rs
  runtime-modules/bounty/src/stages.rs
  runtime-modules/bounty/src/tests/fixtures.rs
  runtime-modules/bounty/src/tests/mocks.rs
  runtime-modules/bounty/src/tests/mod.rs
  runtime-modules/common/src/council.rs
  runtime-modules/common/src/lib.rs
  runtime-modules/common/src/membership.rs
  runtime-modules/common/src/origin.rs
  runtime-modules/common/src/working_group.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/council/src/lib.rs
  runtime-modules/council/src/mock.rs
  runtime-modules/council/src/tests.rs
  runtime-modules/forum/src/benchmarking.rs
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/membership/src/benchmarking.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/mock.rs
  runtime-modules/membership/src/tests/mod.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/benchmarking.rs
  runtime-modules/proposals/discussion/src/lib.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/referendum/src/benchmarking.rs
  runtime-modules/referendum/src/lib.rs
  runtime-modules/referendum/src/mock.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/staking-handler/src/lib.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/data_object_type_registry.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime-modules/working-group/src/types.rs
  runtime/src/constants.rs
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
  runtime/src/weights/bounty.rs
Labels: bounty, runtime
