Repository Joystream/joystream, pull requests merged in 2021-01, with the labels that each got.

#1972 Remove obsolete pallets from the runtime.
  Cargo.lock
  Cargo.toml
  runtime-modules/common/src/currency.rs
  runtime-modules/memo/Cargo.toml
  runtime-modules/memo/src/lib.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/codex/src/types.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/Cargo.toml
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/proposals/engine/src/tests/mod.rs
  runtime-modules/recurring-reward/Cargo.toml
  runtime-modules/recurring-reward/src/lib.rs
  runtime-modules/recurring-reward/src/mock/mod.rs
  runtime-modules/recurring-reward/src/mock/status_handler.rs
  runtime-modules/recurring-reward/src/tests.rs
  runtime-modules/service-discovery/Cargo.toml
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/token-minting/Cargo.toml
  runtime-modules/token-minting/src/lib.rs
  runtime-modules/token-minting/src/mint.rs
  runtime-modules/token-minting/src/mock.rs
  runtime-modules/token-minting/src/tests.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
Labels: olympia, runtime

#1963 Refactoring of the working group integration with other pallets.
  Cargo.lock
  node/src/chain_spec/forum_config.rs
  runtime-modules/common/src/lib.rs
  runtime-modules/common/src/working_group.rs
  runtime-modules/content-directory/Cargo.toml
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/content-directory/src/permissions/curator_group.rs
  runtime-modules/content-directory/src/permissions/entity.rs
  runtime-modules/content-directory/src/tests.rs
  runtime-modules/council/src/mock.rs
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/membership/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/data_object_storage_registry.rs
  runtime-modules/storage/src/data_object_type_registry.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/data_directory.rs
  runtime-modules/storage/src/tests/data_object_storage_registry.rs
  runtime-modules/storage/src/tests/data_object_type_registry.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/src/checks.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mod.rs
  runtime/src/integration/content_directory.rs
  runtime/src/integration/mod.rs
  runtime/src/lib.rs
Labels: content directory, forum, olympia, storage working group, working-group

#1962 Modify message for a proposal’s decoding.
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/engine/src/lib.rs
Labels: olympia, proposal-system

#1856 Forum weights benchmarking
  Cargo.lock
  runtime-modules/forum/Cargo.toml
  runtime-modules/forum/src/benchmarking.rs
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/forum/src/tests.rs
  runtime-modules/referendum/src/mock.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  runtime/src/weights/forum.rs
  runtime/src/weights/mod.rs
  scripts/generate-weights.sh
Labels: benchmarking+weights, forum, olympia

#2004 Add the default balance for an invited member.
  Cargo.lock
  runtime-modules/common/Cargo.toml
  runtime-modules/common/src/working_group.rs
  runtime-modules/content-directory/src/lib.rs
  runtime-modules/content-directory/src/mock.rs
  runtime-modules/content-directory/src/permissions.rs
  runtime-modules/council/src/mock.rs
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/membership/Cargo.toml
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/mock.rs
  runtime-modules/membership/src/tests/mod.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/Cargo.toml
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/referendum/Cargo.toml
  runtime-modules/referendum/src/mock.rs
  runtime-modules/service-discovery/src/mock.rs
  runtime-modules/staking-handler/src/lib.rs
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/data_object_storage_registry.rs
  runtime-modules/storage/src/data_object_type_registry.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime-modules/working-group/src/tests/mod.rs
  runtime/src/constants.rs
  runtime/src/lib.rs
  scripts/generate-weights.sh
Labels: olympia

#2022 Update CurrencyToVoteHandler.
  runtime-modules/common/src/currency.rs
  runtime-modules/common/src/lib.rs
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
Labels: olympia, runtime

#2009 Remove forum todos
  runtime-modules/forum/src/lib.rs
Labels: olympia, refactoring

#2027 Enable ignored tests in the working group pallet.
  runtime-modules/working-group/src/tests/mock.rs
  runtime-modules/working-group/src/tests/mod.rs
Labels: olympia, tech-debt, working-group

#2039 Adjust staking lock compatibility.
  runtime/src/constants.rs
  runtime/src/tests/mod.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
Labels: runtime

#2020 Cancel active and pending proposals on runtime upgrade.
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/engine/src/benchmarking.rs
  runtime-modules/proposals/engine/src/lib.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/proposals/engine/src/tests/mod.rs
  runtime-modules/proposals/engine/src/types/proposal_statuses.rs
  runtime/src/runtime_api.rs
  runtime/src/weights/proposals_engine.rs
Labels: olympia, proposal-system, runtime

#2053 Bump crates versions for the node, runtime, pallets.
  Cargo.lock
  node/Cargo.toml
  runtime-modules/forum/Cargo.toml
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/working-group/Cargo.toml
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: olympia, runtime
