Repository Joystream/joystream, pull requests merged in 2021-09, with the labels that each got.

#2611 Storage v2 auth schema fixes.
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/src/lib.rs
  storage-node-v2/package.json
  storage-node-v2/src/api-spec/openapi.yaml
  storage-node-v2/src/commands/server.ts
  storage-node-v2/src/services/webApi/app.ts
  storage-node-v2/src/services/webApi/controllers/publicApi.ts
  types/augment-codec/augment-api-consts.ts
  types/augment-codec/augment-api-errors.ts
  types/augment-codec/augment-api-tx.ts
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/augment/augment-api-consts.ts
  types/augment/augment-api-errors.ts
  types/augment/augment-api-tx.ts
  types/src/storage.ts
Labels: storage-v2

#2625 Sv2 int channel deletion
  Cargo.lock
  runtime-modules/common/src/lib.rs
  runtime-modules/common/src/storage.rs
  runtime-modules/content/Cargo.toml
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/permissions/mod.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime/src/lib.rs
Labels: content directory, storage-v2, giza

#2598 Operations instances
  node/src/chain_spec/content_config.rs
  node/src/chain_spec/mod.rs
  runtime-modules/common/src/lib.rs
  runtime-modules/common/src/storage.rs
  runtime-modules/common/src/working_group.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/permissions/mod.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/integration/working_group.rs
  runtime/src/lib.rs
  runtime/src/primitives.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
Labels: giza

#2706 runtime: storage: Update DynamicBagCreated event.
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mod.rs
Labels: runtime, storage-v2, giza
