Repository Joystream/joystream, pull requests merged in 2021-02, with the labels that each got.

#2129 Create bounties for the runtime.
  Cargo.lock
  Cargo.toml
  node/Cargo.toml
  runtime-modules/bounty/Cargo.toml
  runtime-modules/bounty/src/benchmarking.rs
  runtime-modules/bounty/src/lib.rs
  runtime-modules/bounty/src/tests/fixtures.rs
  runtime-modules/bounty/src/tests/mocks.rs
  runtime-modules/bounty/src/tests/mod.rs
  runtime-modules/common/src/council.rs
  runtime-modules/common/src/lib.rs
  runtime-modules/constitution/src/lib.rs
  runtime-modules/council/src/lib.rs
  runtime-modules/council/src/tests.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  runtime/src/weights/bounty.rs
  runtime/src/weights/mod.rs
  scripts/generate-weights.sh
Labels: bounty, runtime

#2152 Storage: remove known_content_ids structure & related logic
  node/src/chain_spec/content_config.rs
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/tests/data_directory.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime/src/lib.rs
Labels: storage-directory, sumer-release

#2153 Introduce support for the new working groups
  node/src/chain_spec/mod.rs
  runtime-modules/common/src/working_group.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
Labels: sumer-release, working-group

#2160 Withdraw funds from bounty.
  runtime-modules/bounty/src/benchmarking.rs
  runtime-modules/bounty/src/lib.rs
  runtime-modules/bounty/src/tests/fixtures.rs
  runtime-modules/bounty/src/tests/mocks.rs
  runtime-modules/bounty/src/tests/mod.rs
  runtime/src/lib.rs
  runtime/src/weights/bounty.rs
Labels: bounty, runtime

#2176 Storage minor issues
  node/src/chain_spec/content_config.rs
  runtime-modules/common/src/storage.rs
  runtime-modules/storage/src/data_directory.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/data_directory.rs
  runtime-modules/storage/src/tests/mock.rs
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  types/augment-codec/all.ts
  types/augment-codec/augment-api-query.ts
  types/augment-codec/augment-api-tx.ts
  types/augment-codec/augment-types.ts
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/augment/augment-api-query.ts
  types/augment/augment-api-tx.ts
  types/augment/augment-types.ts
  types/src/storage.ts
Labels: storage-directory, sumer-release

#2194 Content videos
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/permissions/mod.rs
Labels: content directory, sumer-release
