Repository Joystream/joystream, pull requests merged in 2021-12, with the labels that each got.

#2782 Clarify nft extrinsics
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/nft/mod.rs
  runtime-modules/content/src/nft/types.rs
Labels: runtime, nft

#2671 Vnft unit tests
  Cargo.lock
  node/src/chain_spec/mod.rs
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/nft/mod.rs
  runtime-modules/content/src/nft/types.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/curators.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/mod.rs
  runtime-modules/content/src/tests/nft.rs
  runtime-modules/content/src/tests/nft/accept_incoming_offer.rs
  runtime-modules/content/src/tests/nft/buy_nft.rs
  runtime-modules/content/src/tests/nft/cancel_buy_now.rs
  runtime-modules/content/src/tests/nft/cancel_nft_auction.rs
  runtime-modules/content/src/tests/nft/cancel_offer.rs
  runtime-modules/content/src/tests/nft/cancel_open_auction_bid.rs
  runtime-modules/content/src/tests/nft/claim_won_english_auction.rs
  runtime-modules/content/src/tests/nft/issue_nft.rs
  runtime-modules/content/src/tests/nft/make_bid.rs
  runtime-modules/content/src/tests/nft/offer_nft.rs
  runtime-modules/content/src/tests/nft/pick_open_auction_winner.rs
  runtime-modules/content/src/tests/nft/sell_nft.rs
  runtime-modules/content/src/tests/nft/start_nft_auction.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
  runtime-modules/governance/src/mock.rs
Labels: runtime, nft

#2897 Giza: introduce complex distribution bucket IDs.
  chain-metadata.json
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/storage/src/distribution_bucket_picker.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/random_buckets/distribution_bucket_picker.rs
  runtime-modules/storage/src/random_buckets/mod.rs
  runtime-modules/storage/src/random_buckets/storage_bucket_picker.rs
  runtime-modules/storage/src/storage_bucket_picker.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/src/lib.rs
  runtime/src/primitives.rs
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/src/storage.ts
Labels: giza

#2935 Giza transaction nonce fix
  chain-metadata.json
  query-node/mappings/storage/index.ts
  query-node/schemas/storage.graphql
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mod.rs
  storage-node-v2/package.json
  storage-node-v2/scripts/init-dev-bucket.sh
  storage-node-v2/scripts/run-all-commands.sh
  storage-node-v2/src/commands/operator/accept-invitation.ts
  storage-node-v2/src/services/queryNode/generated/schema.ts
  storage-node-v2/src/services/runtime/extrinsics.ts
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/src/storage.ts
Labels: query-node, runtime, data-directory, giza

#2938 Fix update_families_in_dynamic_bag_creation_policy extrinsic.
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
Labels: bug, runtime, data-directory

#2537 Forum thread tags (runtime part)
  runtime-modules/forum/src/benchmarking.rs
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/forum/src/tests.rs
Labels: forum, olympia
