Repository Joystream/joystream, pull requests merged in 2022-11, with the labels that each got.

#4336 Enable call size test
  .github/workflows/create-release.yml
  .github/workflows/joystream-node.yml
  bin/utils/call-sizes/src/main.rs
  runtime/src/runtime_api.rs
Labels: carthage

#4375 CLI fee profile: Add tx weight and length data
  cli/src/base/FeeProfileCommandBase.ts
  cli/src/commands/fee-profile/addForumPost.ts
  cli/src/commands/fee-profile/addVideoComment.ts
  cli/src/commands/fee-profile/buyMembership.ts
  cli/src/commands/fee-profile/createChannel.ts
  cli/src/commands/fee-profile/createForumThread.ts
  cli/src/commands/fee-profile/createVideo.ts
  cli/src/commands/fee-profile/deleteChannel.ts
  cli/src/commands/fee-profile/deleteForumPost.ts
  cli/src/commands/fee-profile/deleteForumThread.ts
  cli/src/commands/fee-profile/deleteVideo.ts
Labels: CLI, mainnet

#4388 Carthage gateway rename
  chain-metadata.json
  cli/README.md
  cli/src/Api.ts
  cli/src/Types.ts
  distributor-node/scripts/test-commands.sh
  query-node/CHANGELOG.md
  query-node/manifest.yml
  query-node/mappings/src/bootstrap-data/data/workingGroups.json
  query-node/mappings/src/common.ts
  runtime-modules/common/src/locks.rs
  runtime-modules/common/src/working_group.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/utility/src/tests/mocks.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/tests/locks.rs
  runtime/src/tests/proposals_integration/working_group_proposals.rs
  tests/network-tests/src/consts.ts
  tests/network-tests/src/flows/storage/initDistribution.ts
  tests/network-tests/src/flows/storage/initStorage.ts
  tests/network-tests/src/types.ts
  types/src/augment/augment-api-consts.ts
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-query.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
  utils/api-scripts/meta.json
  utils/api-scripts/src/initialize-lead.ts
  utils/api-scripts/src/initialize-worker.ts
Labels: CLI, query-node, runtime, mainnet

#4410 Mainnet: remove `isFeatured` field from video
  cli/src/graphql/generated/schema.ts
  distributor-node/src/services/networking/query-node/generated/schema.ts
  query-node/mappings/src/content/video.ts
  query-node/schemas/content.graphql
  storage-node/src/services/queryNode/generated/schema.ts
  tests/network-tests/src/graphql/generated/schema.ts
  utils/migration-scripts/disabled-migrations/giza-olympia/giza-query-node/queries/queries.graphql
  utils/migration-scripts/disabled-migrations/sumer-giza/sumer-query-node/queries/queries.graphql
Labels: query-node, mainnet
