Repository Joystream/joystream, pull requests merged in 2022-03, with the labels that each got.

#2945 query node - bounty schema and mappings
  query-node/manifest.yml
  query-node/mappings/src/bounty.ts
  query-node/mappings/src/common.ts
  query-node/mappings/src/index.ts
  query-node/mappings/src/scheduler.ts
  query-node/schemas/bounty.graphql
  query-node/schemas/bountyEvents.graphql
  query-node/schemas/membership.graphql
Labels: query-node, olympia, bounty-pallet

#2964 query node - Giza - active video counters
  cli/src/Api.ts
  cli/src/base/AccountsCommandBase.ts
  cli/src/base/ContentDirectoryCommandBase.ts
  cli/src/base/StateAwareCommandBase.ts
  cli/src/commands/account/chooseMember.ts
  cli/src/commands/content/createChannel.ts
  cli/src/commands/content/createVideo.ts
  cli/src/commands/content/updateChannel.ts
  cli/src/commands/content/updateVideo.ts
  query-node/mappings/content/channel.ts
  query-node/mappings/content/utils.ts
  query-node/mappings/content/video.ts
  query-node/mappings/storage/index.ts
  query-node/mappings/storage/utils.ts
  query-node/run-tests.sh
  query-node/schemas/content.graphql
  query-node/schemas/storage.graphql
  tests/network-tests/run-full-tests.sh
  tests/network-tests/src/Api.ts
  tests/network-tests/src/Fixture.ts
  tests/network-tests/src/Flow.ts
  tests/network-tests/src/Job.ts
  tests/network-tests/src/QueryNodeApi.ts
  tests/network-tests/src/Scenario.ts
  tests/network-tests/src/cli/base.ts
  tests/network-tests/src/cli/joystream.ts
  tests/network-tests/src/consts.ts
  tests/network-tests/src/fixtures/content/activeVideoCounters.ts
  tests/network-tests/src/fixtures/content/contentTemplates.ts
  tests/network-tests/src/fixtures/content/createChannelsAndVideos.ts
  tests/network-tests/src/fixtures/content/createContentStructure.ts
  tests/network-tests/src/fixtures/content/index.ts
  tests/network-tests/src/flows/clis/createChannel.ts
  tests/network-tests/src/flows/content/activeVideoCounters.ts
  tests/network-tests/src/flows/storagev2/initStorage.ts
  tests/network-tests/src/flows/utils.ts
  tests/network-tests/src/flows/workingGroup/leaderSetup.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/content.graphql
  tests/network-tests/src/graphql/queries/storagev2.graphql
  tests/network-tests/src/scenarios/combined.ts
  tests/network-tests/src/scenarios/content-directory.ts
  tests/network-tests/src/scenarios/giza-issue-reproduction-setup.ts
  tests/network-tests/src/scenarios/init-storage-and-distribution.ts
  tests/network-tests/src/scenarios/post-migration.ts
  tests/network-tests/src/scenarios/proposals.ts
  tests/network-tests/src/scenarios/setup-new-chain.ts
  tests/network-tests/src/scenarios/tests/resource-locks-1.ts
  tests/network-tests/src/scenarios/tests/resource-locks-2.ts
  tests/network-tests/start-storage.sh
  types/augment/all/types.ts
  yarn.lock
Labels: giza

#3363 Olympia. Runtime. Fix default invitation balance bug in the membership pallet.
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/fixtures.rs
  runtime-modules/membership/src/tests/mod.rs
Labels: bug, membership-pallet, runtime, olympia

#3383 Olympia. Fix formatting for the runtime code.
  runtime/src/weights/bounty.rs
  runtime/src/weights/council.rs
  runtime/src/weights/membership.rs
  runtime/src/weights/proposals_engine.rs
  runtime/src/weights/working_group.rs
Labels: runtime, olympia

#3425 runtime: content: Fix missing member_id check.
  runtime-modules/bounty/src/lib.rs
  runtime-modules/bounty/src/tests/mod.rs
Labels: bug, runtime, olympia, bounty-pallet

#3145 Mainnet. Runtime: add vesting pallet.
  Cargo.lock
  node/src/chain_spec/mod.rs
  runtime/Cargo.toml
  runtime/src/constants.rs
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_vesting.rs
Labels: runtime, mainnet, audit-3

#3432 Audit3. Runtime. Add channel transfer feature to the content pallet.
  Cargo.lock
  runtime-modules/content/Cargo.toml
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/permissions/mod.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/merkle.rs
  runtime-modules/content/src/tests/mod.rs
  runtime-modules/content/src/tests/posts.rs
  runtime-modules/content/src/tests/transfers.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
Labels: content-pallet, runtime, audit-3

#3366 Content directory: New permissions model
  Cargo.lock
  chain-metadata.json
  runtime-modules/content/Cargo.toml
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/permissions/curator_group.rs
  runtime-modules/content/src/permissions/mod.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/curators.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
  runtime/src/lib.rs
  runtime/src/primitives.rs
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/src/content/index.ts
  yarn.lock
Labels: audit-3

#3317 Audit3. Runtime: convert dynamic bag and data object deletion prizes to storage values.
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/merkle.rs
  runtime-modules/content/src/tests/metaprotocol.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/nft/accept_incoming_offer.rs
  runtime-modules/content/src/tests/nft/buy_nft.rs
  runtime-modules/content/src/tests/nft/cancel_buy_now.rs
  runtime-modules/content/src/tests/nft/cancel_nft_auction.rs
  runtime-modules/content/src/tests/nft/cancel_offer.rs
  runtime-modules/content/src/tests/nft/cancel_open_auction_bid.rs
  runtime-modules/content/src/tests/nft/claim_won_english_auction.rs
  runtime-modules/content/src/tests/nft/issue_nft.rs
  runtime-modules/content/src/tests/nft/make_bid.rs
  runtime-modules/content/src/tests/nft/offer_nft.rs
  runtime-modules/content/src/tests/nft/pick_open_auction_winner.rs
  runtime-modules/content/src/tests/nft/sell_nft.rs
  runtime-modules/content/src/tests/nft/sling_nft_back.rs
  runtime-modules/content/src/tests/nft/start_nft_auction.rs
  runtime-modules/content/src/tests/nft/update_buy_now.rs
  runtime-modules/content/src/tests/posts.rs
  runtime-modules/content/src/tests/transfers.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/src/lib.rs
Labels: content-pallet, runtime, storage-pallet, audit-3

#3465 Audit3. Runtime. Restore `validate_member` check for the content pallet.
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/posts.rs
  runtime-modules/content/src/tests/transfers.rs
Labels: content-pallet, runtime, audit-3

#3454 Channel/Video -> data objects association in the runtime
  chain-metadata.json
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/permissions/curator_group.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
  runtime-modules/storage/src/lib.rs
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/src/content/index.ts
  types/src/storage.ts
Labels: audit-3

#3348 Audit3. Convert random buckets selection to user defined buckets.
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/merkle.rs
  runtime-modules/content/src/tests/metaprotocol.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/nft/accept_incoming_offer.rs
  runtime-modules/content/src/tests/nft/buy_nft.rs
  runtime-modules/content/src/tests/nft/cancel_buy_now.rs
  runtime-modules/content/src/tests/nft/cancel_nft_auction.rs
  runtime-modules/content/src/tests/nft/cancel_offer.rs
  runtime-modules/content/src/tests/nft/cancel_open_auction_bid.rs
  runtime-modules/content/src/tests/nft/claim_won_english_auction.rs
  runtime-modules/content/src/tests/nft/issue_nft.rs
  runtime-modules/content/src/tests/nft/make_bid.rs
  runtime-modules/content/src/tests/nft/offer_nft.rs
  runtime-modules/content/src/tests/nft/pick_open_auction_winner.rs
  runtime-modules/content/src/tests/nft/sell_nft.rs
  runtime-modules/content/src/tests/nft/sling_nft_back.rs
  runtime-modules/content/src/tests/nft/start_nft_auction.rs
  runtime-modules/content/src/tests/nft/update_buy_now.rs
  runtime-modules/content/src/tests/posts.rs
  runtime-modules/content/src/tests/transfers.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/random_buckets/distribution_bucket_picker.rs
  runtime-modules/storage/src/random_buckets/mod.rs
  runtime-modules/storage/src/random_buckets/storage_bucket_picker.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/src/lib.rs
Labels: content-pallet, runtime, storage-pallet, audit-3

#3466 Small CLI improvements, and added staking.validate
  cli/package.json
  cli/src/Api.ts
  cli/src/Types.ts
  cli/src/base/ApiCommandBase.ts
  cli/src/base/StakingCommandBase.ts
  cli/src/commands/staking/validate.ts
  cli/src/schemas/WorkingGroups.ts
Labels: CLI, olympia

#3068 runtime: Add funding for working groups and concil by members.
  runtime-modules/bounty/src/tests/mocks.rs
  runtime-modules/council/src/benchmarking.rs
  runtime-modules/council/src/lib.rs
  runtime-modules/council/src/mock.rs
  runtime-modules/council/src/tests.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/membership/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/discussion/src/tests/mock.rs
  runtime-modules/proposals/engine/src/tests/mock/mod.rs
  runtime-modules/utility/src/tests/mocks.rs
  runtime-modules/working-group/src/benchmarking.rs
  runtime-modules/working-group/src/errors.rs
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/fixtures.rs
  runtime-modules/working-group/src/tests/mock.rs
  runtime-modules/working-group/src/tests/mod.rs
  runtime/src/weights/council.rs
  runtime/src/weights/working_group.rs
Labels: council-pallet, runtime, working-group-pallet

#3518 Rhodes. Runtime. Refactor the council budget handling.
  runtime-modules/bounty/src/actors.rs
  runtime-modules/bounty/src/lib.rs
  runtime-modules/bounty/src/tests/fixtures.rs
  runtime-modules/bounty/src/tests/mocks.rs
  runtime-modules/common/src/council.rs
  runtime-modules/council/src/lib.rs
  runtime-modules/council/src/tests.rs
Labels: council-pallet, runtime, rhodes

#3532 Rhodes.Runtime: revert council budget refactoring.
  runtime-modules/bounty/src/actors.rs
  runtime-modules/bounty/src/lib.rs
  runtime-modules/bounty/src/tests/fixtures.rs
  runtime-modules/bounty/src/tests/mocks.rs
  runtime-modules/common/src/council.rs
  runtime-modules/council/src/lib.rs
  runtime-modules/council/src/tests.rs
Labels: runtime, rhodes
