Repository Joystream/joystream, pull requests merged in 2022-05, with the labels that each got.

#3693 Check price of data object bloat bonds
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
Labels: enhancement, runtime, storage-pallet, audit-3

#3724 fix: set ownerMember in EnglishAuctionSettledEvent to previous owner
  query-node/mappings/src/content/nft.ts
  tests/network-tests/src/fixtures/content/nft/englishAuction.ts
Labels: query-node, rhodes

#3340 Comments-Reactions: review followups
  metadata-protobuf/proto/Metaprotocol.proto
  query-node/mappings/src/common.ts
  query-node/mappings/src/content/channel.ts
  query-node/mappings/src/content/commentAndReaction.ts
  query-node/mappings/src/content/video.ts
  query-node/mappings/src/membership.ts
  tests/network-tests/src/Api.ts
Labels: query-node, metaprotocol

#3717 Storage pallet: remove checks for InsufficientTreasuryBalance
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/src/weights/storage.rs
Labels: tech-debt, runtime, storage-pallet, audit-3, carthagne

#3720 Storage pallet charging total storage fee each time
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/src/weights/storage.rs
Labels: bug, runtime, storage-pallet, audit-3, carthagne

#3746 Storage pallet refunds based on old data object prizes
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/src/weights/storage.rs
Labels: bug, runtime, storage-pallet, audit-3, carthagne

#3768 Remove dynamic bag state bloat bond
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/transfers.rs
  runtime-modules/content/src/types.rs
  runtime-modules/storage/src/benchmarking.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/src/lib.rs
  runtime/src/weights/storage.rs
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/src/content/index.ts
  types/src/storage.ts
Labels: tech-debt, runtime, storage-pallet, mainnet, audit-3

#3775 Rename data object deletion prize
  cli/src/base/UploadCommandBase.ts
  cli/src/commands/content/deleteChannel.ts
  cli/src/commands/content/deleteVideo.ts
  cli/src/commands/content/updateChannel.ts
  cli/src/commands/content/updateVideo.ts
  cli/src/graphql/generated/queries.ts
  cli/src/graphql/generated/schema.ts
  cli/src/graphql/queries/storage.graphql
  distributor-node/src/commands/dev/batchUpload.ts
  distributor-node/src/services/networking/query-node/generated/schema.ts
  query-node/mappings/src/storage/index.ts
  query-node/mappings/src/storage/utils.ts
  query-node/schemas/storage.graphql
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/merkle.rs
  runtime-modules/content/src/tests/metaprotocol.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/transfers.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
  runtime-modules/storage/src/benchmarking.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
  storage-node/src/services/queryNode/generated/schema.ts
  storage-node/src/services/runtime/extrinsics.ts
  tests/network-tests/src/flows/clis/createChannel.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/content.graphql
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/src/content/index.ts
  types/src/storage.ts
  utils/migration-scripts/src/sumer-giza/AssetsManager.ts
Labels: enhancement, tech-debt, content-pallet, runtime, storage-pallet, audit-3

#3781 Qn comments section tweaks
  metadata-protobuf/proto/Metaprotocol.proto
  metadata-protobuf/proto/Video.proto
  query-node/mappings/src/content/channel.ts
  query-node/mappings/src/content/commentAndReaction.ts
  query-node/mappings/src/content/utils.ts
  query-node/schemas/contentEvents.graphql
  tests/network-tests/src/QueryNodeApi.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/EnableOrDisableCommentSection.ts
  tests/network-tests/src/fixtures/content/contentTemplates.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/contentEvents.graphql
Labels: query-node
