Repository Joystream/joystream, pull requests merged in 2022-07, with the labels that each got.

#3821 introduce_channel_state_bloat_bond
  chain-metadata.json
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/permissions/mod.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/merkle.rs
  runtime-modules/content/src/tests/metaprotocol.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/transfers.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-query.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
  yarn.lock
Labels: enhancement, content-pallet, runtime, mainnet, audit-3, carthage

#3833 Introduce video state bloat bond
  chain-metadata.json
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/permissions/mod.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/merkle.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-query.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: enhancement, content-pallet, runtime, mainnet, carthage

#3971 Remove council blog pallet and proposals
  Cargo.lock
  Cargo.toml
  chain-metadata.json
  cli/src/graphql/generated/schema.ts
  distributor-node/src/services/networking/query-node/generated/schema.ts
  query-node/mappings/src/proposals.ts
  query-node/schemas/proposals.graphql
  runtime-modules/blog/.gitattributes
  runtime-modules/blog/.gitignore
  runtime-modules/blog/Cargo.toml
  runtime-modules/blog/README.md
  runtime-modules/blog/src/benchmarking.rs
  runtime-modules/blog/src/errors.rs
  runtime-modules/blog/src/lib.rs
  runtime-modules/blog/src/mock.rs
  runtime-modules/blog/src/tests.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/benchmarking.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/types.rs
  runtime/Cargo.toml
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/proposals_configuration/defaults.rs
  runtime/src/proposals_configuration/mod.rs
  runtime/src/proposals_configuration/staging.rs
  runtime/src/proposals_configuration/testing.rs
  runtime/src/tests/mod.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/weights/blog.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/proposals_codex.rs
  storage-node/src/services/queryNode/generated/schema.ts
  tests/network-tests/src/consts.ts
  tests/network-tests/src/fixtures/proposals/CreateProposalsFixture.ts
  tests/network-tests/src/flows/proposals/index.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/proposals.graphql
  tests/network-tests/src/misc/createCategoriesFixture.ts
  types/src/augment/augment-api-consts.ts
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-query.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/registry.ts
  types/src/augment/types-lookup.ts
  types/src/primitives.ts
Labels: runtime, council-blog-pallet, carthage

#3978 Fix initial nominators setup at genesis
  node/src/chain_spec/mod.rs
Labels: runtime, carthage

#3908 simplify and fix complete_payment helper and refactor tests
  chain-metadata.json
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/nft/mod.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/nft/buy_nft.rs
Labels: content-pallet, carthage

#3804 Audit3 expose bucket seletiton in storage pallet
  chain-metadata.json
  runtime-modules/content/src/lib.rs
  runtime-modules/project-token/src/lib.rs
  runtime-modules/storage/src/benchmarking.rs
  runtime-modules/storage/src/lib.rs
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/registry.ts
  types/src/augment/types-lookup.ts
  yarn.lock
Labels: content-pallet, storage-pallet, carthage

#3975 Audit3 channel transfer extrinsics blocked
  chain-metadata.json
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/creator_tokens/deissue.rs
  runtime-modules/content/src/tests/creator_tokens/finalize_creator_token_sale.rs
  runtime-modules/content/src/tests/creator_tokens/issuer_transfer.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/metaprotocol.rs
  runtime-modules/content/src/tests/nft/accept_incoming_offer.rs
  runtime-modules/content/src/tests/nft/buy_nft.rs
  runtime-modules/content/src/tests/nft/cancel_open_auction_bid.rs
  runtime-modules/content/src/tests/nft/claim_won_english_auction.rs
  runtime-modules/content/src/tests/nft/make_bid.rs
  runtime-modules/content/src/tests/nft/sell_nft.rs
  runtime-modules/content/src/tests/transfers.rs
  runtime-modules/project-token/src/lib.rs
  runtime-modules/project-token/src/traits.rs
  types/src/augment/augment-api-errors.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: content-pallet, carthage

#3976 Carthage freeze proposal update channel payment commit
  chain-metadata.json
  runtime-modules/proposals/codex/src/benchmarking.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/codex/src/types.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/tests/mod.rs
  types/src/augment/augment-api-consts.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: proposal-system, carthage

#3988 Fix chainspec builder new command
  node/src/chain_spec/mod.rs
  utils/chain-spec-builder/src/main.rs
Labels: carthage

#3990 Audit LOW_1 issue (unsafe arithmetic) + tests
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mod.rs
Labels: runtime, storage-pallet, carthage

#3809 Carthage enhance nft limits
  chain-metadata.json
  node/src/chain_spec/content_config.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/creator_tokens/finalize_creator_token_sale.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/nft/issue_nft.rs
  runtime-modules/content/src/tests/nft/update_nft_limit.rs
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-query.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: content-pallet, carthage

#4000 INFO_14: accept_nft_offer - add witness parameter
  chain-metadata.json
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/nft/mod.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/nft/accept_incoming_offer.rs
  runtime-modules/content/src/tests/nft/buy_nft.rs
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: content-pallet, runtime, carthage

#4004 Content pallet: Fix unsafe usage of `can_slash`
  runtime-modules/content/src/nft/mod.rs
  runtime-modules/content/src/tests/nft/accept_incoming_offer.rs
  runtime-modules/content/src/tests/nft/buy_nft.rs
Labels: bug, content-pallet, runtime, carthage

#4007 Divide storage parameters into production and staging/testing
  runtime/src/lib.rs
Labels: runtime, carthage

#3803 qn - *not* filtering support
  cli/.eslintrc.js
  cli/README.md
  cli/package.json
  cli/src/Api.ts
  cli/src/commands/content/deleteVideo.ts
  cli/src/graphql/generated/schema.ts
  cli/tsconfig.json
  distributor-node/.gitignore
  distributor-node/package.json
  distributor-node/src/schemas/scripts/generateConfigDoc.ts
  distributor-node/src/services/networking/runtime/api.ts
  package.json
  query-node/build.sh
  query-node/codegen/package.json
  query-node/codegen/yarn.lock
  query-node/mappings/package.json
  query-node/mappings/src/bounty.ts
  query-node/mappings/src/common.ts
  query-node/mappings/src/content/channel.ts
  query-node/mappings/src/content/curatorGroup.ts
  query-node/mappings/src/content/nft.ts
  query-node/mappings/src/content/utils.ts
  query-node/mappings/src/content/video.ts
  query-node/mappings/src/council.ts
  query-node/mappings/src/derivedPropertiesManager/applications/activeVideoCounters.ts
  query-node/mappings/src/derivedPropertiesManager/applications/videoNftCollectors.ts
  query-node/mappings/src/derivedPropertiesManager/classes.ts
  query-node/mappings/src/forum.ts
  query-node/mappings/src/proposals.ts
  query-node/mappings/src/storage/index.ts
  query-node/mappings/src/storage/utils.ts
  query-node/mappings/src/workingGroups.ts
  query-node/package.json
  query-node/schemas/councilEvents.graphql
  storage-node/.eslintrc.js
  storage-node/README.md
  storage-node/scripts/operatorMetadata.json
  storage-node/src/services/sync/tasks.ts
  storage-node/tsconfig.json
  tests/network-tests/run-tests.sh
  tests/network-tests/src/Api.ts
  tests/network-tests/src/fixtures/content/nft/auctionCancelations.ts
  tests/network-tests/src/fixtures/content/nft/englishAuction.ts
  tests/network-tests/src/fixtures/forum/DeletePostsFixture.ts
  tests/network-tests/src/fixtures/forum/InitializeForumFixture.ts
  types/README.md
  types/augment/all/definitions.ts
  types/augment/all/types.ts
  types/src/JoyStruct.ts
  types/src/common.ts
  types/src/proposals.ts
  types/src/scripts/generateRegistryJson.ts
  types/src/working-group/index.ts
  types/tsconfig-augment-codec.json
  types/tsconfig-augment.json
  types/tsconfig-base.json
  types/tsconfig.json
  yarn.lock
Labels: query-node

#3914 Carthage freeze runtime
  chain-metadata.json
  node/src/chain_spec/content_config.rs
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/proposals/codex/src/benchmarking.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/codex/src/types.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/tests/mod.rs
  types/src/augment/augment-api-consts.ts
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: content-pallet, proposal-system, bounty-pallet, carthage

#4006 Subkey v2.0.2
  devops/aws/roles/build-server/tasks/main.yml
  setup.sh
  tests/network-tests/node-utils.sh
  tests/network-tests/run-test-node-docker.sh
Labels: carthage

#3987 Drop MultiAddress
  chain-metadata.json
  cli/package.json
  distributor-node/package.json
  node/src/service.rs
  query-node/mappings/package.json
  runtime/src/integration/transactions.rs
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  storage-node/package.json
  tests/network-tests/package.json
  types/package.json
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
  utils/api-scripts/package.json
  utils/migration-scripts/package.json
Labels: runtime, carthage

#4011 Content Pallet enchmarks
  Cargo.lock
  runtime-modules/content/Cargo.toml
  runtime-modules/content/src/benchmarks/channels.rs
  runtime-modules/content/src/benchmarks/mod.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/curators.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/mod.rs
  runtime-modules/content/src/tests/nft/update_nft_limit.rs
  runtime-modules/content/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  scripts/generate-weights.sh
Labels: content-pallet, runtime, benchmarking, carthage

#3998 Carthage lint improvements
  cli/src/base/AccountsCommandBase.ts
  devops/eslint-config/index.js
  devops/git-hooks/pre-push
  distributor-node/src/app/index.ts
  distributor-node/src/services/content/ContentService.ts
  distributor-node/src/services/httpApi/HttpApiBase.ts
  distributor-node/src/services/networking/NetworkingService.ts
  package.json
  query-node/build.sh
  query-node/mappings/.eslintignore
  query-node/mappings/src/bounty.ts
  query-node/mappings/src/content/commentAndReaction.ts
  query-node/mappings/src/content/nft.ts
  query-node/mappings/src/queryTemplates.ts
  query-node/mappings/tsconfig.json
  scripts/lint-typescript.sh
  storage-node/src/commands/server.ts
  tests/network-tests/src/Job.ts
  tests/network-tests/src/fixtures/content/nft/englishAuction.ts
  tests/network-tests/src/fixtures/content/nft/updateBuyNowPrice.ts
  tests/network-tests/src/scenarios/content-directory.ts
  tests/network-tests/src/scenarios/council.ts
  tests/network-tests/src/scenarios/forum.ts
  tests/network-tests/src/scenarios/forumPostDeletionsBug.ts
  tests/network-tests/src/scenarios/full.ts
  tests/network-tests/src/scenarios/initStorageAndDistribution.ts
  tests/network-tests/src/scenarios/memberships.ts
  tests/network-tests/src/scenarios/olympia.ts
  tests/network-tests/src/scenarios/postRuntimeUpdate.ts
  tests/network-tests/src/scenarios/proposals.ts
  tests/network-tests/src/scenarios/proposalsDiscussion.ts
  tests/network-tests/src/scenarios/setupNewChain.ts
  tests/network-tests/src/scenarios/workingGroups.ts
  tests/network-tests/src/sender.ts
  tests/network-tests/src/utils.ts
  types/.eslintignore
  types/.eslintrc.js
  types/CHANGELOG.md
  types/README.md
  types/tsconfig-eslint.json
  types/tsconfig.json
Labels: query-node, carthage

#4028 Carthage: joystream/faucet:carthage-1.0
  .github/workflows/run-network-tests.yml
  docker-compose.yml
Labels: carthage

#3671 Creator token pallet benchmarking
  Cargo.lock
  chain-metadata.json
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/project-token/Cargo.toml
  runtime-modules/project-token/src/benchmarking.rs
  runtime-modules/project-token/src/events.rs
  runtime-modules/project-token/src/lib.rs
  runtime-modules/project-token/src/tests/canonical.rs
  runtime-modules/project-token/src/tests/mock.rs
  runtime-modules/project-token/src/tests/mod.rs
  runtime-modules/project-token/src/tests/sale.rs
  runtime-modules/project-token/src/tests/test_utils.rs
  runtime-modules/project-token/src/tests/transfer.rs
  runtime-modules/project-token/src/types.rs
  runtime-modules/project-token/src/utils.rs
  runtime-modules/project-token/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  runtime/src/weights/project_token.rs
  scripts/generate-weights.sh
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
  yarn.lock
Labels: project_token, carthage

#4072 QN - add mappings for new storage events
  query-node/manifest.yml
  query-node/mappings/src/bootstrap-data/data/storageSystem.json
  query-node/mappings/src/content/channel.ts
  query-node/mappings/src/content/video.ts
  query-node/mappings/src/storage/index.ts
  query-node/mappings/src/storage/utils.ts
  query-node/schemas/storage.graphql
  tests/network-tests/src/cli/joystream.ts
  tests/network-tests/src/fixtures/content/contentTemplates.ts
  tests/network-tests/src/flows/clis/createAndUpdateChannel.ts
  tests/network-tests/src/scenarios/content-directory.ts
  tests/network-tests/src/scenarios/full.ts
Labels: query-node, carthage

#4065 remove updatedAt & createdAt fields from mappings
  package.json
  query-node/codegen/package.json
  query-node/codegen/yarn.lock
  query-node/mappings/package.json
  query-node/mappings/src/bootstrap.ts
  query-node/mappings/src/bounty.ts
  query-node/mappings/src/common.ts
  query-node/mappings/src/content/channel.ts
  query-node/mappings/src/content/commentAndReaction.ts
  query-node/mappings/src/content/curatorGroup.ts
  query-node/mappings/src/content/nft.ts
  query-node/mappings/src/content/utils.ts
  query-node/mappings/src/content/video.ts
  query-node/mappings/src/forum.ts
  query-node/mappings/src/membership.ts
  query-node/mappings/src/proposals.ts
  query-node/mappings/src/proposalsDiscussion.ts
  query-node/mappings/src/workingGroups.ts
  query-node/package.json
  yarn.lock
Labels: query-node, carthage

#4061 Channel cud group benchmarking
  runtime-modules/content/src/benchmarks/benchmarking.rs
  runtime-modules/content/src/benchmarks/channels.rs
  runtime-modules/content/src/benchmarks/mod.rs
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/types.rs
  runtime-modules/content/src/weights.rs
Labels: content-pallet, runtime, benchmarking, carthage

#3985 gift_membership feature
  chain-metadata.json
  query-node/manifest.yml
  query-node/mappings/src/membership.ts
  query-node/schemas/membership.graphql
  query-node/schemas/membershipEvents.graphql
  runtime-modules/membership/src/benchmarking.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/fixtures.rs
  runtime-modules/membership/src/tests/mod.rs
  runtime-modules/membership/src/weights.rs
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/registry.ts
  types/src/augment/types-lookup.ts
  utils/api-scripts/src/gift-membership.ts
Labels: runtime, carthage

#3862 Qn map metadata for external resources for members
  metadata-protobuf/proto/Membership.proto
  query-node/mappings/src/membership.ts
  query-node/schemas/membership.graphql
  tests/network-tests/src/fixtures/membership/BuyMembershipHappyCaseFixture.ts
  tests/network-tests/src/fixtures/membership/InviteMembersHappyCaseFixture.ts
  tests/network-tests/src/fixtures/membership/UpdateProfileHappyCaseFixture.ts
  tests/network-tests/src/fixtures/membership/utils.ts
  tests/network-tests/src/flows/membership/updatingProfile.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/membership.graphql
  tests/network-tests/src/graphql/queries/membershipEvents.graphql
Labels: query-node

#3986 BaseCallFilter to limit calls on launch
  runtime/src/lib.rs
Labels: runtime, carthage
