Repository Joystream/joystream, pull requests merged in 2022-04, with the labels that each got.

#3538 Audit3. Runtime: Add initial balance to the module account of the storage pallet.
  node/src/chain_spec/mod.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/src/lib.rs
Labels: runtime, storage-pallet, audit-3

#3393 Audit3. Storage pallet benchmarks
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/benchmarking.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/storage.rs
  runtime/src/weights/storage_v2.rs
  scripts/generate-weights.sh
Labels: runtime, benchmarking, storage-pallet, audit-3

#3544 Audit3. Runtime: Add swap channel price to the content pallet.
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/merkle.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/posts.rs
  runtime-modules/content/src/tests/transfers.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
  runtime/src/lib.rs
Labels: content-pallet, runtime, audit-3

#3486 Audit3. Runtime. Fix linter warnings for the benchmarking code.
  runtime-modules/blog/src/benchmarking.rs
  runtime-modules/bounty/src/benchmarking.rs
  runtime-modules/council/src/benchmarking.rs
  runtime-modules/forum/src/benchmarking.rs
  runtime-modules/membership/src/benchmarking.rs
  runtime-modules/proposals/codex/src/benchmarking.rs
  runtime-modules/proposals/discussion/src/benchmarking.rs
  runtime-modules/proposals/engine/src/benchmarking.rs
  runtime-modules/referendum/src/benchmarking.rs
  runtime-modules/storage/src/benchmarking.rs
  runtime-modules/working-group/src/benchmarking.rs
  runtime/src/runtime_api.rs
Labels: tech-debt, runtime, audit-3

#3590 query node - settle english auction mappings
  query-node/manifest.yml
  query-node/mappings/src/content/nft.ts
  query-node/schemas/contentNftEvents.graphql
  tests/network-tests/src/Api.ts
  tests/network-tests/src/QueryNodeApi.ts
  tests/network-tests/src/fixtures/content/nft/englishAuction.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/contentNftEvents.graphql
Labels: query-node, rhodes

#3558 Runtime. Refactor test fixtures for the storage pallet.
  Cargo.lock
  Cargo.toml
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime-modules/support/derive-fixture/Cargo.toml
  runtime-modules/support/derive-fixture/src/lib.rs
Labels: tech-debt, runtime, storage-pallet, ephesus

#3594 Rhodes query node bundle1
  query-node/manifest.yml
  query-node/mappings/src/content/nft.ts
  query-node/mappings/src/derivedPropertiesManager/applications/index.ts
  query-node/mappings/src/derivedPropertiesManager/applications/videoNftCollectors.ts
  query-node/schemas/content.graphql
  query-node/schemas/contentNft.graphql
  query-node/schemas/contentNftEvents.graphql
  query-node/schemas/membership.graphql
  tests/network-tests/src/Api.ts
  tests/network-tests/src/QueryNodeApi.ts
  tests/network-tests/src/fixtures/content/nft/buyNow.ts
  tests/network-tests/src/fixtures/content/nft/collectors.ts
  tests/network-tests/src/fixtures/content/nft/createVideoWithBuyNow.ts
  tests/network-tests/src/fixtures/content/nft/directOffer.ts
  tests/network-tests/src/fixtures/content/nft/englishAuction.ts
  tests/network-tests/src/fixtures/content/nft/index.ts
  tests/network-tests/src/fixtures/content/nft/openAuction.ts
  tests/network-tests/src/fixtures/content/nft/updateBuyNowPrice.ts
  tests/network-tests/src/flows/content/nftAuctionAndOffers.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/content.graphql
  yarn.lock
Labels: query-node, rhodes

#3589 add lastPrice field to ownedNft
  query-node/mappings/src/content/nft.ts
  query-node/schemas/contentNft.graphql
Labels: query-node

#3592 Rhodes. Runtime: Change NFT bid balance reservations to module account
  runtime-modules/common/src/currency.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/nft/mod.rs
  runtime-modules/content/src/nft/types.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/nft/cancel_open_auction_bid.rs
  runtime-modules/content/src/tests/nft/claim_won_english_auction.rs
  runtime-modules/content/src/tests/nft/make_bid.rs
  runtime-modules/content/src/types.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime/src/lib.rs
Labels: content-pallet, runtime, rhodes

#3605 query node - auction whitelist nonexisting members
  query-node/mappings/src/content/nft.ts
  tests/network-tests/src/Api.ts
  tests/network-tests/src/fixtures/content/nft/auctionWhitelist.ts
  tests/network-tests/src/fixtures/content/nft/index.ts
  tests/network-tests/src/flows/content/nftAuctionAndOffers.ts
Labels: query-node, rhodes

#3608 Rhodes nft events fields tweaks
  query-node/mappings/src/content/nft.ts
  query-node/schemas/contentNftEvents.graphql
Labels: query-node, rhodes

#3602 Rhodes add flattened last price fields to nft
  query-node/mappings/src/content/nft.ts
  query-node/schemas/contentNft.graphql
  tests/network-tests/src/fixtures/content/nft/buyNow.ts
  tests/network-tests/src/fixtures/content/nft/englishAuction.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/content.graphql
Labels: query-node

#3627 fix: withdraw bids from past auctions
  query-node/mappings/src/content/nft.ts
Labels: query-node, rhodes

#3628 Rhodes add nft issued event in video mappings + bump Hydra version
  query-node/codegen/package.json
  query-node/codegen/yarn.lock
  query-node/mappings/package.json
  query-node/mappings/src/content/nft.ts
  query-node/mappings/src/content/utils.ts
  query-node/mappings/src/content/video.ts
  query-node/package.json
  yarn.lock
Labels: query-node, rhodes

#3619 merge bounty perpetual working period #3485 to audit3_bounty_delivered
  runtime-modules/bounty/src/actors.rs
  runtime-modules/bounty/src/benchmarking.rs
  runtime-modules/bounty/src/lib.rs
  runtime-modules/bounty/src/stages.rs
  runtime-modules/bounty/src/tests/fixtures.rs
  runtime-modules/bounty/src/tests/mocks.rs
  runtime-modules/bounty/src/tests/mod.rs
  runtime/src/lib.rs
  runtime/src/weights/bounty.rs
Labels: enhancement, runtime, bounty-pallet, audit-3

#3646 Add winningBids to NFT events
  query-node/mappings/src/content/nft.ts
  query-node/schemas/contentNftEvents.graphql
Labels: query-node, rhodes

#3609 Ephesus. Runtime. Add NFT-limits to the content pallet.
  Cargo.lock
  runtime-modules/content/Cargo.toml
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/permissions/mod.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/nft.rs
  runtime-modules/content/src/tests/nft/issue_nft.rs
  runtime-modules/content/src/tests/nft/update_nft_limit.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/types.rs
  runtime-modules/proposals/codex/src/benchmarking.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/codex/src/types.rs
  runtime/src/constants.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/proposals_configuration/defaults.rs
  runtime/src/proposals_configuration/mod.rs
  runtime/src/proposals_configuration/staging.rs
  runtime/src/proposals_configuration/testing.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/weights/proposals_codex.rs
Labels: content-pallet, proposal-system, runtime, audit-3

#3655 add bidders fields to NFT events + refactor finishAuction function
  query-node/mappings/src/content/nft.ts
  query-node/schemas/contentNftEvents.graphql
  query-node/schemas/membership.graphql
Labels: query-node, rhodes

#3673 query node - Hydra update fixing deterministic id generator
  query-node/codegen/package.json
  query-node/mappings/package.json
  query-node/package.json
  yarn.lock
Labels: query-node

#3667 query node - fix for active video counters not handeling video deletion properly
  query-node/mappings/src/content/utils.ts
  query-node/mappings/src/content/video.ts
  query-node/mappings/src/derivedPropertiesManager/applications/activeVideoCounters.ts
  tests/network-tests/src/cli/joystream.ts
  tests/network-tests/src/fixtures/content/activeVideoCounters.ts
Labels: query-node, olympia

#3681 add bidders field to BidMadeCompletingAuctionEvent
  query-node/mappings/src/content/nft.ts
  query-node/schemas/contentNftEvents.graphql
  query-node/schemas/membership.graphql
Labels: query-node, rhodes

#3692 query node - curator group mappings fix
  query-node/mappings/src/content/curatorGroup.ts
Labels: query-node
