Repository Joystream/joystream, pull requests merged in 2022-02, with the labels that each got.

#2970 runtime: Fix Bounty LockID
  runtime/src/constants.rs
Labels: olympia

#2974 Olympia. Change quorum and threshold algorithm - alter effect of abstention.
  runtime-modules/proposals/engine/src/tests/mod.rs
  runtime-modules/proposals/engine/src/types/mod.rs
Labels: proposal-system, runtime, olympia

#2972 Olympia. Runtime. Bounty pallet: fix bounty and work entry association.
  runtime-modules/bounty/src/benchmarking.rs
  runtime-modules/bounty/src/lib.rs
  runtime-modules/bounty/src/tests/fixtures.rs
  runtime-modules/bounty/src/tests/mod.rs
Labels: bug, runtime, olympia, bounty-pallet

#3143 Olympia.Runtime: rename lock IDs
  runtime/src/constants.rs
Labels: runtime, olympia

#3201 Runtime. Olympia change compatible locks combination.
  runtime-modules/utility/src/lib.rs
  runtime-modules/utility/src/tests/mocks.rs
  runtime/src/constants.rs
  runtime/src/lib.rs
  runtime/src/tests/locks.rs
  runtime/src/tests/mod.rs
  runtime/src/tests/proposals_integration/mod.rs
Labels: runtime, olympia

#3240 runtime: Set transaction fees to zero.
  runtime/src/lib.rs
  runtime/src/tests/mod.rs
Labels: runtime, olympia

#3191 Olympia. Runtime. Fix staking bug in the staking-handler pallet.
  runtime-modules/staking-handler/src/lib.rs
  runtime-modules/staking-handler/src/mock.rs
  runtime-modules/staking-handler/src/test.rs
  runtime-modules/working-group/src/checks.rs
  runtime-modules/working-group/src/tests/mod.rs
Labels: bug, runtime, olympia

#3043 Allow to filter entity by WorkingGroup id directly
  query-node/schemas/workingGroups.graphql
Labels: query-node, working-group-pallet, olympia

#3297 Olympia. Runtime: expose proposal discussion pallet constants.
  runtime-modules/proposals/discussion/src/lib.rs
Labels: proposal-system, runtime, olympia
