Repository Joystream/joystream, pull requests merged in 2022-08, with the labels that each got.

#4111 Drop sudo test dispatchables
  chain-metadata.json
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/benchmarking.rs
  runtime-modules/storage/src/lib.rs
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/registry.ts
  types/src/augment/types-lookup.ts
Labels: carthage

#4178 QN Prevent duplicated membership external resources entry
  metadata-protobuf/proto/Membership.proto
  query-node/mappings/src/membership.ts
  query-node/schemas/membership.graphql
  tests/network-tests/src/fixtures/membership/BuyMembershipHappyCaseFixture.ts
  tests/network-tests/src/fixtures/membership/InviteMembersHappyCaseFixture.ts
  tests/network-tests/src/fixtures/membership/UpdateProfileHappyCaseFixture.ts
  tests/network-tests/src/fixtures/membership/utils.ts
  tests/network-tests/src/flows/membership/updatingProfile.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/membership.graphql
  tests/network-tests/src/graphql/queries/membershipEvents.graphql
  tests/network-tests/src/utils.ts
Labels: query-node

#4092 Qn carthage video subtitles
  cli/examples/content/CreateVideo.json
  cli/examples/content/UpdateVideo.json
  cli/examples/content/subtitle-en-1.srt
  cli/examples/content/subtitle-en-2.srt
  cli/examples/content/subtitle-fr-1.srt
  cli/examples/content/subtitle-fr-2.srt
  cli/src/Types.ts
  cli/src/commands/content/createVideo.ts
  cli/src/commands/content/updateVideo.ts
  cli/src/graphql/generated/queries.ts
  cli/src/graphql/generated/schema.ts
  cli/src/graphql/queries/storage.graphql
  cli/src/schemas/ContentDirectory.ts
  metadata-protobuf/doc/index.md
  metadata-protobuf/proto/Playlist.proto
  metadata-protobuf/proto/Video.proto
  query-node/manifest.yml
  query-node/mappings/src/content/utils.ts
  query-node/mappings/src/content/video.ts
  query-node/schemas/content.graphql
  query-node/schemas/storage.graphql
  tests/network-tests/src/QueryNodeApi.ts
  tests/network-tests/src/cli/joystream.ts
  tests/network-tests/src/fixtures/content/contentTemplates.ts
  tests/network-tests/src/fixtures/content/createChannelsAndVideos.ts
  tests/network-tests/src/flows/content/curatorModerationActions.ts
  tests/network-tests/src/flows/content/videoSubtitles.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/queries/content.graphql
  tests/network-tests/src/scenarios/content-directory.ts
  tests/network-tests/src/scenarios/full.ts
Labels: query-node, carthage, qn-hydra-board

#4199 Burn all TX Fees
  runtime/src/lib.rs
  runtime/src/tests/handle_fees.rs
  runtime/src/tests/mod.rs
Labels: runtime, carthage

#4125 Channel moderation actions group
  runtime-modules/content/src/benchmarks/benchmarking.rs
  runtime-modules/content/src/benchmarks/mod.rs
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/content/src/weights.rs
Labels: content-pallet, runtime, benchmarking, carthage

#4235 No system.ExtrinsicSuccess event processing
  query-node/manifest.yml
  query-node/mappings/src/index.ts
Labels: query-node, carthage
