Repository Joystream/joystream, pull requests merged in 2022-01, with the labels that each got.

#2968 Add bounty metadata
  metadata-protobuf/compiled/index.d.ts
  metadata-protobuf/compiled/index.js
  metadata-protobuf/proto/Bounty.proto
  tests/integration-tests/src/Api.ts
  types/augment-codec/augment-api-consts.ts
  types/augment-codec/augment-api-errors.ts
  types/augment-codec/augment-api-events.ts
  types/augment-codec/augment-api-query.ts
  types/augment-codec/augment-api-rpc.ts
  types/augment-codec/augment-api-tx.ts
  types/augment-codec/augment-types.ts
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/augment/augment-api-consts.ts
  types/augment/augment-api-errors.ts
  types/augment/augment-api-events.ts
  types/augment/augment-api-query.ts
  types/augment/augment-api-rpc.ts
  types/augment/augment-api-tx.ts
  types/augment/augment-types.ts
  types/src/forum.ts
Labels: olympia, bounty

#3027 Content migration script: Fix alternativeEndpoints
  utils/migration-scripts/src/logging.ts
  utils/migration-scripts/src/sumer-giza/AssetsManager.ts
  utils/migration-scripts/src/sumer-giza/ContentMigration.ts
Labels: giza

#3031 Metadata-protobuf: Remove autogenerated files from the repo
  metadata-protobuf/.gitignore
  metadata-protobuf/compiled/index.d.ts
  metadata-protobuf/compiled/index.js
  metadata-protobuf/scripts/compile.ts
Labels: olympia

#2996 Giza utest content extratests
  chain-metadata.json
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/permissions/mod.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/curators.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/mod.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mocks.rs
  runtime-modules/storage/src/tests/mod.rs
Labels: giza

#3053 Olympia - Fix the OracleJudgment type
  types/augment-codec/all.ts
  types/augment-codec/augment-api-consts.ts
  types/augment-codec/augment-api-errors.ts
  types/augment-codec/augment-api-events.ts
  types/augment-codec/augment-api-query.ts
  types/augment-codec/augment-api-rpc.ts
  types/augment-codec/augment-api-tx.ts
  types/augment-codec/augment-types.ts
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/augment/augment-api-consts.ts
  types/augment/augment-api-errors.ts
  types/augment/augment-api-events.ts
  types/augment/augment-api-query.ts
  types/augment/augment-api-rpc.ts
  types/augment/augment-api-tx.ts
  types/augment/augment-types.ts
  types/src/bounty.ts
Labels: olympia, joystream/types, bounty

#3080 runtime: Fix `assigned_bags` for distribution buckets.
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mod.rs
Labels: bug, runtime, storage-pallet, giza

#3088 Giza. Add storage buckets bag assignments.
  Cargo.lock
  chain-metadata.json
  node/Cargo.toml
  runtime-modules/storage/Cargo.toml
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/mod.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/src/storage.ts
  utils/chain-spec-builder/Cargo.toml
  yarn.lock
Labels: bug, runtime, joystream/types, storage-pallet, giza

#3118 Olympia. Runtime. Forum: fix `move_thread_to_category` extrinsic bug.
  runtime-modules/forum/src/benchmarking.rs
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/tests.rs
Labels: bug, forum-pallet, olympia

#3064 Olympia runtime: add oracle rationale on bounty judgments.
  runtime-modules/bounty/src/benchmarking.rs
  runtime-modules/bounty/src/lib.rs
  runtime-modules/bounty/src/tests/fixtures.rs
  runtime-modules/bounty/src/tests/mod.rs
Labels: runtime, olympia, bounty-pallet
