Repository Joystream/joystream, pull requests merged in 2022-09, with the labels that each got.

#4228 Vesting Configurable in Playground
  .github/workflows/deploy-playground.yml
  .github/workflows/run-network-tests.yml
  devops/aws/deploy-playground-playbook.yml
  devops/aws/deploy-playground.sample.cfg
  devops/aws/deploy-playground.sh
  node/src/chain_spec/initial_balances.rs
  node/src/chain_spec/mod.rs
  start-multistorage.sh
  start.sh
  tests/network-tests/.env
  tests/network-tests/.prettierignore
  tests/network-tests/run-full-tests.sh
  tests/network-tests/run-node-docker.sh
  tests/network-tests/run-test-node-docker.sh
  tests/network-tests/run-test-node.sh
  tests/network-tests/run-tests.sh
  tests/network-tests/src/flows/faucet/initFaucet.ts
  tests/network-tests/src/scenarios/setupNewChain.ts
  tests/network-tests/src/scenarios/setupNewChainMultiStorage.ts
  utils/chain-spec-builder/src/main.rs
Labels: devops, carthage

#4248 CLI fixes: selecting distribution buckets & subtitile assets indices
  cli/src/Api.ts
  cli/src/commands/content/createVideo.ts
  cli/src/commands/content/updateVideo.ts
Labels: CLI, carthage

#4207 fix: enable all proposals at runtime
  runtime/src/lib.rs
Labels: runtime, carthage

#3840 Audit Ref 22-05-982-REP v1.1 - INFO_15_17_18 LOW_20_21_22
  Cargo.lock
  Cargo.toml
  chain-metadata.json
  runtime-modules/bounty/Cargo.toml
  runtime-modules/bounty/src/actors.rs
  runtime-modules/bounty/src/benchmarking.rs
  runtime-modules/bounty/src/lib.rs
  runtime-modules/bounty/src/stages.rs
  runtime-modules/bounty/src/tests/fixtures.rs
  runtime-modules/bounty/src/tests/mocks.rs
  runtime-modules/bounty/src/tests/mod.rs
  runtime-modules/bounty/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/runtime_api.rs
  scripts/generate-weights.sh
  types/src/augment/augment-api-consts.ts
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-query.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/registry.ts
  types/src/augment/types-lookup.ts
Labels: runtime, mainnet, bounty-pallet, audit-3, carthage

#4184 Carthage content benchmarking: nft
  runtime-modules/common/src/membership.rs
  runtime-modules/content/src/benchmarks/benchmarking.rs
  runtime-modules/content/src/benchmarks/mod.rs
  runtime-modules/content/src/errors.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/curators.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/tests/nft/sling_nft_back.rs
  runtime-modules/content/src/tests/nft/update_nft_limit.rs
  runtime-modules/content/src/tests/transfers.rs
  runtime-modules/content/src/weights.rs
  runtime-modules/membership/src/benchmarking.rs
Labels: runtime, benchmarking, carthage

#4259 Carthage update types
  chain-metadata.json
  cli/src/commands/forum/moderateThread.ts
  cli/src/commands/forum/threads.ts
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: carthage

#4204 Carthage content benchmarking bloat bonds & remarks
  runtime-modules/content/src/benchmarks/benchmarking.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/weights.rs
Labels: runtime, carthage

#4260 Carthage handle optional unwrapping
  cli/src/Api.ts
Labels: CLI, carthage

#4232 Carthage cid length check
  runtime-modules/content/src/tests/channels.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/merkle.rs
  runtime-modules/content/src/tests/videos.rs
  runtime-modules/storage/src/lib.rs
  runtime-modules/storage/src/tests/fixtures.rs
  runtime-modules/storage/src/tests/mod.rs
Labels: runtime, carthage

#4211 Carthage remove forum reaction
  chain-metadata.json
  cli/src/graphql/generated/schema.ts
  distributor-node/src/services/networking/query-node/generated/schema.ts
  metadata-protobuf/doc/index.md
  metadata-protobuf/package.json
  metadata-protobuf/proto/Forum.proto
  query-node/manifest.yml
  query-node/mappings/src/forum.ts
  query-node/schemas/forum.graphql
  query-node/schemas/forumEvents.graphql
  runtime-modules/forum/src/benchmarking.rs
  runtime-modules/forum/src/lib.rs
  runtime-modules/forum/src/mock.rs
  runtime-modules/forum/src/tests.rs
  runtime/src/lib.rs
  storage-node/src/services/queryNode/generated/schema.ts
  tests/network-tests/src/QueryNodeApi.ts
  tests/network-tests/src/fixtures/forum/ReactToPostsFixture.ts
  tests/network-tests/src/fixtures/forum/index.ts
  tests/network-tests/src/flows/forum/posts.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/forum.graphql
  tests/network-tests/src/graphql/queries/forumEvents.graphql
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
  types/src/primitives.ts
Labels: runtime, carthage

#4299 CLI - fee profile commands
  cli/README.md
  cli/package.json
  cli/src/Api.ts
  cli/src/base/DefaultCommandBase.ts
  cli/src/base/FeeProfileCommandBase.ts
  cli/src/commands/fee-profile/addForumPost.ts
  cli/src/commands/fee-profile/addVideoComment.ts
  cli/src/commands/fee-profile/buyMembership.ts
  cli/src/commands/fee-profile/createChannel.ts
  cli/src/commands/fee-profile/createForumThread.ts
  cli/src/commands/fee-profile/createVideo.ts
  cli/src/commands/fee-profile/deleteChannel.ts
  cli/src/commands/fee-profile/deleteForumPost.ts
  cli/src/commands/fee-profile/deleteForumThread.ts
  cli/src/commands/fee-profile/deleteVideo.ts
Labels: CLI, carthage

#4282 flatten video category field on OwnedNft
  package.json
  query-node/mappings/src/content/nft.ts
  query-node/mappings/src/content/utils.ts
  query-node/mappings/src/content/video.ts
  query-node/schemas/content.graphql
  query-node/schemas/contentNft.graphql
  query-node/schemas/contentNftEvents.graphql
  tests/network-tests/src/fixtures/content/nft/createVideoWithBuyNow.ts
  tests/network-tests/src/fixtures/content/nft/createVideoWithNft.ts
  tests/network-tests/src/fixtures/content/nft/updateVideoForNftCreation.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/content.graphql
  yarn.lock
Labels: qn-hydra-board

#4264 Use computed core weights
  devops/frame-weight-template.hbs
  devops/joystream-pallet-weight-template.hbs
  runtime-modules/bounty/src/weights.rs
  runtime-modules/constitution/src/weights.rs
  runtime-modules/council/src/weights.rs
  runtime-modules/forum/src/weights.rs
  runtime-modules/membership/src/weights.rs
  runtime-modules/project-token/src/weights.rs
  runtime-modules/proposals/codex/src/weights.rs
  runtime-modules/proposals/discussion/src/weights.rs
  runtime-modules/proposals/engine/src/weights.rs
  runtime-modules/referendum/src/weights.rs
  runtime-modules/storage/src/weights.rs
  runtime-modules/utility/src/weights.rs
  runtime-modules/working-group/src/weights.rs
  runtime/src/constants.rs
  runtime/src/lib.rs
  runtime/src/tests/fee_tests.rs
  runtime/src/weights/block_weights.rs
  runtime/src/weights/extrinsic_weights.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_vesting.rs
  runtime/src/weights/project_token.rs
  runtime/src/weights/rocksdb_weights.rs
  runtime/src/weights/substrate_utility.rs
  scripts/generate-weights.sh
Labels: runtime, carthage

#4310 Faster Docker Builds with cargo-chef
  .dockerignore
  .github/workflows/create-release.yml
  .github/workflows/joystream-node-docker-dev.yml
  .github/workflows/run-network-tests.yml
  Cargo.lock
  bin/node/Cargo.toml
  joystream-node.Dockerfile
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: carthage

#4316 Increase WASM heap size to 1 GB
  Cargo.lock
  bin/inspect/Cargo.toml
  bin/inspect/src/command.rs
  bin/node/Cargo.toml
  bin/node/src/service.rs
  bin/overrides/Cargo.toml
  bin/overrides/src/lib.rs
  chain-metadata.json
Labels: carthage
