Repository Joystream/joystream, pull requests merged in 2022-06, with the labels that each got.

#3872 Remove council blog pallet and proposals
  Cargo.lock
  Cargo.toml
  chain-metadata.json
  cli/src/graphql/generated/schema.ts
  distributor-node/src/services/networking/query-node/generated/schema.ts
  query-node/mappings/src/proposals.ts
  query-node/schemas/proposals.graphql
  runtime-modules/blog/.gitattributes
  runtime-modules/blog/.gitignore
  runtime-modules/blog/Cargo.toml
  runtime-modules/blog/README.md
  runtime-modules/blog/src/benchmarking.rs
  runtime-modules/blog/src/errors.rs
  runtime-modules/blog/src/lib.rs
  runtime-modules/blog/src/mock.rs
  runtime-modules/blog/src/tests.rs
  runtime-modules/proposals/codex/Cargo.toml
  runtime-modules/proposals/codex/src/benchmarking.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/types.rs
  runtime/Cargo.toml
  runtime/src/integration/proposals/proposal_encoder.rs
  runtime/src/lib.rs
  runtime/src/proposals_configuration/defaults.rs
  runtime/src/proposals_configuration/mod.rs
  runtime/src/proposals_configuration/staging.rs
  runtime/src/proposals_configuration/testing.rs
  runtime/src/runtime_api.rs
  runtime/src/tests/mod.rs
  runtime/src/tests/proposals_integration/mod.rs
  runtime/src/weights/blog.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/proposals_codex.rs
  scripts/generate-weights.sh
  storage-node/src/services/queryNode/generated/schema.ts
  tests/network-tests/src/consts.ts
  tests/network-tests/src/fixtures/proposals/CreateProposalsFixture.ts
  tests/network-tests/src/flows/proposals/index.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/proposals.graphql
  tests/network-tests/src/misc/createCategoriesFixture.ts
  types/augment/all/defs.json
  types/augment/all/types.ts
  types/src/blog.ts
  types/src/index.ts
  types/src/proposals.ts
  types/src/scripts/generateAugmentCodec.ts
Labels: runtime, council-blog-pallet, audit-3, carthage

#3973 Carthage remove content categories
  chain-metadata.json
  node/src/chain_spec/content_config.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/content/src/types.rs
  runtime/src/lib.rs
  types/augment/augment-types.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-query.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/registry.ts
  types/src/augment/types-lookup.ts
  yarn.lock
Labels: content-pallet, carthage

#3871 Carthage revenue split rate
  chain-metadata.json
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/creator_tokens/issue_revenue_split.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/mock.rs
  runtime-modules/project-token/src/errors.rs
  runtime-modules/project-token/src/lib.rs
  runtime-modules/project-token/src/tests/canonical.rs
  runtime-modules/project-token/src/tests/fixtures.rs
  runtime-modules/project-token/src/tests/mock.rs
  runtime-modules/project-token/src/tests/patronage.rs
  runtime-modules/project-token/src/tests/split.rs
  runtime-modules/project-token/src/tests/test_utils.rs
  runtime-modules/project-token/src/tests/transfer.rs
  runtime-modules/project-token/src/traits.rs
  runtime-modules/project-token/src/types.rs
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: project_token, carthage
