Repository Joystream/joystream, pull requests merged in 2023-02, with the labels that each got.

#4409 Referendum: Add voting opt-out functionality
  chain-metadata.json
  runtime-modules/referendum/src/benchmarking.rs
  runtime-modules/referendum/src/lib.rs
  runtime-modules/referendum/src/mock.rs
  runtime-modules/referendum/src/tests.rs
  runtime-modules/referendum/src/weights.rs
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-query.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
  yarn.lock
Labels: runtime, ephesus, urgent-post-mainnet

#4585 Ephesus expose cashout limits
  chain-metadata.json
  runtime-modules/content/src/lib.rs
  types/src/augment/augment-api-consts.ts
Labels: runtime, ephesus

#4512 Drop unused createNewMember function
  query-node/mappings/src/membership.ts
Labels: query-node

#4603 fix: channel deletion mapping bug
  query-node/mappings/src/content/channel.ts
  query-node/mappings/src/content/video.ts
  tests/network-tests/src/cli/joystream.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/BanOrUnbanMemberFixture.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/index.ts
  tests/network-tests/src/fixtures/content/deleteChannelWithVideos.ts
  tests/network-tests/src/fixtures/content/index.ts
  tests/network-tests/src/flows/content/collaboratorAndCuratorPermissions.ts
  tests/network-tests/src/flows/content/commentsAndReactions.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/queries/content.graphql
Labels: query-node

#4575 Ephesus: output blake3 hash of channel payload file when using CLI
  cli/src/commands/content/generateChannelPayoutsPayload.ts
Labels: CLI, ephesus

#4598 Ephesus governance opt out int tests
  tests/network-tests/src/Api.ts
  tests/network-tests/src/Fixture.ts
  tests/network-tests/src/fixtures/council/ElectCouncilFixture.ts
  tests/network-tests/src/fixtures/council/announceCandidacyFixture.ts
  tests/network-tests/src/fixtures/referendum/blackListVoteFixture.ts
  tests/network-tests/src/fixtures/referendum/index.ts
  tests/network-tests/src/fixtures/referendum/voteFixture.ts
  tests/network-tests/src/flows/council/electWithBlacklist.ts
  tests/network-tests/src/scenarios/council.ts
  tests/network-tests/src/scenarios/full.ts
Labels: network-integration-test, ephesus

#4560 expose QN status in Argus and Colossus
  distributor-node/CHANGELOG.md
  distributor-node/client/api.ts
  distributor-node/client/package.json
  distributor-node/docs/api/public/index.md
  distributor-node/package.json
  distributor-node/src/api-spec/public.yml
  distributor-node/src/services/httpApi/controllers/public.ts
  distributor-node/src/services/networking/NetworkingService.ts
  distributor-node/src/services/networking/query-node/api.ts
  distributor-node/src/services/networking/query-node/generated/queries.ts
  distributor-node/src/services/networking/query-node/generated/schema.ts
  distributor-node/src/services/networking/query-node/queries/queries.graphql
  distributor-node/src/types/generated/PublicApi.ts
  storage-node/CHANGELOG.md
  storage-node/client/api.ts
  storage-node/client/package.json
  storage-node/package.json
  storage-node/src/api-spec/openapi.yaml
  storage-node/src/commands/server.ts
  storage-node/src/services/queryNode/api.ts
  storage-node/src/services/queryNode/generated/queries.ts
  storage-node/src/services/queryNode/generated/schema.ts
  storage-node/src/services/queryNode/queries/queries.graphql
  storage-node/src/services/sync/storageObligations.ts
  storage-node/src/services/webApi/app.ts
  storage-node/src/services/webApi/controllers/common.ts
  storage-node/src/services/webApi/controllers/filesApi.ts
  storage-node/src/services/webApi/controllers/stateApi.ts
  storage-node/src/services/webApi/types/generated.ts
  storage-node/src/services/webApi/types/index.ts
  tests/network-tests/package.json
  yarn.lock
Labels: enhancement, colossus, argus

#4608 fix: re-enable storage in CI & fix setupNewChain test
  .github/workflows/run-network-tests.yml
  devops/ansible/deploy-playground-playbook.yml
  query-node/schemas/membership.graphql
  runtime/src/lib.rs
  tests/network-tests/src/Api.ts
  tests/network-tests/src/consts.ts
  tests/network-tests/src/fixtures/council/ElectCouncilFixture.ts
  tests/network-tests/src/scenarios/council.ts
  tests/network-tests/src/scenarios/setupNewChain.ts
  tests/network-tests/src/scenarios/setupNewChainMultiStorage.ts
  tests/network-tests/src/utils.ts
Labels: ephesus

#4607 bump package versions for ephesus
  cli/package.json
  distributor-node/package.json
  joystreamjs/package.json
  metadata-protobuf/package.json
  query-node/mappings/package.json
  query-node/package.json
  storage-node/package.json
  tests/network-tests/package.json
  types/package.json
  utils/api-scripts/package.json
  utils/migration-scripts/package.json
Labels: ephesus

#4646 Add initial invitation balance to `MemberInvited` event, remove workaround, bring back tests
  chain-metadata.json
  cli/src/graphql/generated/schema.ts
  distributor-node/src/services/networking/query-node/generated/schema.ts
  joystreamjs/package.json
  query-node/mappings/package.json
  query-node/mappings/src/bootstrap-data/data/membershipConfig.json
  query-node/mappings/src/bootstrap-data/index.ts
  query-node/mappings/src/bootstrap-data/types.ts
  query-node/mappings/src/membership.ts
  query-node/schemas/membershipEvents.graphql
  runtime-modules/membership/src/benchmarking.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/mod.rs
  storage-node/src/services/queryNode/generated/schema.ts
  tests/network-tests/src/fixtures/membership/InviteMembersHappyCaseFixture.ts
  tests/network-tests/src/fixtures/membership/utils.ts
  tests/network-tests/src/fixtures/proposals/PassProposalFixture.ts
  tests/network-tests/src/fixtures/proposals/index.ts
  tests/network-tests/src/flows/membership/invitingMembers.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/membershipEvents.graphql
  types/package.json
  types/src/augment/augment-api-events.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: ephesus

#4644 Tweak remarks
  Cargo.lock
  bin/node/Cargo.toml
  bin/utils/chain-spec-builder/Cargo.toml
  runtime-modules/working-group/src/lib.rs
  runtime-modules/working-group/src/tests/fixtures.rs
  runtime-modules/working-group/src/tests/mod.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: ephesus

#4610 update @joystream/cli README
  cli/README.md
Labels: CLI, ephesus
