Repository Joystream/joystream, pull requests merged in 2023-09, with the labels that each got.

#4873 Nara update from master
  .env
  distributor-node/src/services/networking/query-node/schema.graphql
  docker-compose-no-bind-volumes.yml
  docker-compose.yml
  metadata-protobuf/proto/Membership.proto
  orion-postgres.conf
  query-node/CHANGELOG.md
  query-node/mappings/package.json
  query-node/mappings/src/membership.ts
  query-node/package.json
  query-node/schemas/content.graphql
  query-node/schemas/membership.graphql
  start-orion.sh
  storage-node/CHANGELOG.md
  storage-node/README.md
  storage-node/package.json
  storage-node/src/commands/leader/update-bag.ts
  storage-node/src/commands/leader/update-bags.ts
  storage-node/src/services/queryNode/schema.graphql
  storage-node/src/services/runtime/api.ts
  storage-node/src/services/runtime/extrinsics.ts
  tests/network-tests/src/fixtures/membership/GiftMembershipHappyCaseFixture.ts
  tests/network-tests/src/fixtures/membership/InviteMembersHappyCaseFixture.ts
  tests/network-tests/src/fixtures/membership/UpdateProfileHappyCaseFixture.ts
  tests/network-tests/src/fixtures/membership/utils.ts
  tests/network-tests/src/flows/clis/initStorageBucket.ts
  tests/network-tests/src/flows/membership/updatingProfile.ts
  tests/network-tests/src/graphql/queries/membership.graphql
Labels: nara-network

#4818 [Query Node] Adds `StorageBag.objectsSize` field
  distributor-node/src/services/networking/query-node/schema.graphql
  query-node/CHANGELOG.md
  query-node/mappings/src/storage/index.ts
  query-node/mappings/src/storage/utils.ts
  query-node/schemas/storage.graphql
  storage-node/src/services/queryNode/schema.graphql
Labels: query-node

#4875 [Nara] Remove channel and video deletion by moderators mappings and CLI commands
  chain-metadata.json
  cli/src/commands/content/deleteChannelAsModerator.ts
  cli/src/commands/content/deleteVideoAsModerator.ts
  distributor-node/config.yml
  query-node/chain-metadata/2002.json
  query-node/codegen/package.json
  query-node/codegen/yarn.lock
  query-node/manifest.yml
  query-node/mappings/package.json
  query-node/mappings/src/content/video.ts
  query-node/package.json
  runtime-modules/content/src/lib.rs
  tests/network-tests/src/QueryNodeApi.ts
  tests/network-tests/src/fixtures/content/curatorModeration/DeleteChannelAsModerator.ts
  tests/network-tests/src/fixtures/content/curatorModeration/DeleteChannelAssetByModerator.ts
  tests/network-tests/src/fixtures/content/curatorModeration/DeleteVideoByModerator.ts
  tests/network-tests/src/flows/content/collaboratorAndCuratorPermissions.ts
  tests/network-tests/src/flows/content/commentsAndReactions.ts
  tests/network-tests/src/flows/content/curatorModerationActions.ts
  tests/network-tests/src/graphql/queries/content.graphql
  tests/network-tests/src/graphql/queries/contentEvents.graphql
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
  yarn.lock
Labels: CLI, query-node, nara-network
