Repository Joystream/joystream, pull requests merged in 2023-01, with the labels that each got.

#4493 Fix proposals non ASCII text encoding
  query-node/mappings/src/content/channel.ts
  query-node/mappings/src/content/video.ts
  query-node/mappings/src/proposals.ts
Labels: query-node

#4469 Unset the `WG.leader` after the lead is terminated
  query-node/mappings/src/workingGroups.ts
  tests/network-tests/src/Api.ts
  tests/network-tests/src/fixtures/workingGroups/TerminateWorkersFixture.ts
  tests/network-tests/src/fixtures/workingGroups/index.ts
  tests/network-tests/src/flows/working-groups/terminateLeads.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/queries/workingGroups.graphql
  tests/network-tests/src/scenarios/full.ts
  tests/network-tests/src/scenarios/workingGroups.ts
Labels: query-node

#4496 Fix NFT mappings extensionPeriod bug + add a test
  query-node/mappings/src/content/nft.ts
  tests/network-tests/src/Api.ts
  tests/network-tests/src/fixtures/content/nft/englishAuction.ts
  tests/network-tests/src/fixtures/content/nft/placeBidsInAuction.ts
  tests/network-tests/src/fixtures/content/nft/utils.ts
Labels: query-node

#4317 Worker remarked post moderation
  metadata-protobuf/proto/WorkingGroups.proto
  query-node/manifest.yml
  query-node/mappings/src/common.ts
  query-node/mappings/src/forum.ts
  query-node/mappings/src/workingGroups.ts
  tests/network-tests/src/Fixture.ts
  tests/network-tests/src/fixtures/forum/RemarkModeratePostsFixture.ts
  tests/network-tests/src/fixtures/forum/index.ts
  tests/network-tests/src/flows/forum/posts.ts
  tests/network-tests/src/scenarios/forum.ts
Labels: query-node

#4506 Ephesus: add claimed reward amount field
  chain-metadata.json
  query-node/mappings/src/content/channel.ts
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/fixtures.rs
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: query-node, runtime, ephesus

#4537 fix update_accounts extrinsic weight calculation
  runtime-modules/membership/src/lib.rs
Labels: runtime, ephesus

#4509 remove unused CouncilRewardClaimed runtime event
  chain-metadata.json
  runtime-modules/content/src/lib.rs
  types/src/augment/augment-api-events.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: runtime, ephesus

#4517 Ephesus: add optional payment to member remark
  chain-metadata.json
  cli/src/commands/fee-profile/addVideoComment.ts
  cli/src/commands/membership/memberRemark.ts
  metadata-protobuf/doc/index.md
  metadata-protobuf/proto/Metaprotocol.proto
  query-node/codegen/package.json
  query-node/codegen/yarn.lock
  query-node/mappings/package.json
  query-node/mappings/src/common.ts
  query-node/mappings/src/content/channel.ts
  query-node/mappings/src/membership.ts
  query-node/package.json
  query-node/schemas/contentEvents.graphql
  query-node/schemas/metaprotocolEvents.graphql
  runtime-modules/membership/src/benchmarking.rs
  runtime-modules/membership/src/lib.rs
  runtime-modules/membership/src/tests/mod.rs
  runtime-modules/membership/src/weights.rs
  tests/network-tests/src/Api.ts
  tests/network-tests/src/QueryNodeApi.ts
  tests/network-tests/src/fixtures/content/channelPayouts/DirectChannelPaymentHappyCaseFixture.ts
  tests/network-tests/src/fixtures/content/channelPayouts/DirectChannelPaymentWithInvalidRewardAccountFixture.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/BanOrUnbanMemberFixture.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/CreateCommentsFixture.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/DeleteCommentsFixture.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/EditCommentsFixture.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/EnableOrDiasbleVideoReactionsFixture.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/PinOrUnpinCommentsFixture.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/ReactToCommentsFixture.ts
  tests/network-tests/src/fixtures/content/commentAndReaction/ReactToVideosFixture.ts
  tests/network-tests/src/flows/content/directChannelPayment.ts
  tests/network-tests/src/graphql/generated/queries.ts
  tests/network-tests/src/graphql/generated/schema.ts
  tests/network-tests/src/graphql/queries/contentEvents.graphql
  tests/network-tests/src/graphql/queries/metaprotocolEvents.graphql
  tests/network-tests/src/scenarios/content-directory.ts
  tests/network-tests/src/scenarios/full.ts
  types/src/augment/augment-api-errors.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
  yarn.lock
Labels: network-integration-test, query-node, runtime, ephesus

#4570 Prevent providing arbitrary `uploader_account` as part of `UpdateChannelPayoutsParameters`
  chain-metadata.json
  runtime-modules/content/src/benchmarks/benchmarking.rs
  runtime-modules/content/src/lib.rs
  runtime-modules/content/src/tests/fixtures.rs
  runtime-modules/content/src/tests/merkle.rs
  runtime-modules/content/src/types.rs
  runtime-modules/content/src/weights.rs
  runtime-modules/proposals/codex/src/benchmarking.rs
  runtime-modules/proposals/codex/src/lib.rs
  runtime-modules/proposals/codex/src/tests/mock.rs
  runtime-modules/proposals/codex/src/tests/mod.rs
  runtime-modules/proposals/codex/src/types.rs
  runtime-modules/proposals/codex/src/weights.rs
  runtime/src/integration/proposals/proposal_encoder.rs
  tests/network-tests/src/fixtures/content/channelPayouts/UpdateChannelPayoutsProposalFixture.ts
  tests/network-tests/src/flows/proposals/channelPayouts.ts
  types/src/augment/augment-api-events.ts
  types/src/augment/augment-api-tx.ts
  types/src/augment/lookup.ts
  types/src/augment/types-lookup.ts
Labels: runtime, ephesus

#4530 Expose payload hash on `UpdateChannelPayoutsProposalDetails`
  query-node/mappings/src/proposals.ts
  query-node/schemas/proposals.graphql
Labels: ephesus
